{% set thisTab = 'Eligibility' %}
{% set pageTab = 'Research' %}
{% extends "ct_layout.html" %}
{% block page_content %}

{% set labels = '["prove-identity-page", "verify-hub-pages", "confirm-dob-page",  "confirm-address-page","informed choice"]' %}
<div class="container-prove-identity-page">
	<h3 class="heading-medium">Prove identity page</h4>
	<a href="design">&rarr; Skip to design section for page screenshots</a>
	<h4 class="heading-small">What we learnt while testing</h4>
	<p>
	Early iterations of the 'Checking your identity' page used the page layout to prioritise the choice of Verify, this introduced usability issues that resulted in many users unintentionally opting to scan and upload documents.
	</p>
	<p>
	At this stage in the transaction, most users only have a poor understanding of Verify, and therefore struggle to make an informed decision about its use. For many, having to register for an account before applying was a strong disincentive to using Verify.
	</p>
	<p>
	Some users did not understand that this was a choice, thinking that this page represented a sequence of actions required to complete the application.
	Although this page now has significantly more content, we have found that placing this content in the context of a decision point encourages users to read before they decide.
	</p>
	<h4 class="heading-small">What we changed as a result</h4>
	Significant changes have been made to the layout of this page, resulting in a layout that is closer to a standard radio button form element, with the word 'or' place between to reinforce that this is a choice, not a sequence.
	</p>
	<p>
	Content has been added to help users understand what Verify is, and to explain the relative benefits of the options offered.
	</p>
	<p>
	A link to 'other ways to apply' has also been added to this page, as this was frequently missed one the resident's start page. This has significantly improved awareness of these options.
	</p>
	<h4 class="heading-small">Issue history</h4>
</div>
<div class="container-informed-choice">
	<a href="design">&rarr; Skip to design section for page screenshots</a>
	<h3 class="heading-medium">Informed choice</h3>
</div>
<div class="container-verify-hub-pages">
	<h3 class="heading-medium">Verify hub pages</h3>
</div>
<div class="container-confirm-dob-page">
	<h3 class="heading-medium">Confirm date of birth page</h3>
	<a href="design#2">&rarr; Skip to design section for page screenshots</a>
	<h4 class="heading-small">What we learnt while testing</h4>
	<p>
	Throughout testing, users have not experienced significant issues in confirming their age.
	</p>
	<h4 class="heading-small">What we changed as a result</h4>
	<p>
	No significant changes have been made to the 'Confirm date of birth' page.
	</p>
</div>
<div class="container-confirm-address-page">
	<h3 class="heading-medium">Confirm address page</h3>
	<a href="design#2">&rarr; Skip to design section for page screenshots</a>
	<h4 class="heading-small">What we learnt while testing</h4>
	<p>
	When confirming correct addresses, users experienced few significant issues.
	</p>
	<p>
	When presented with an incorrect address, users have identified this issue and responded appropriately. Having identified an incorrect address, some have questioned the need to re-enter their address, however all have completed this successfully.
	</p>
	<h4 class="heading-small">What we changed as a result</h4>
	<p>
	Early iterations of the confirm address interaction provided users with a page confirming their eligibility for a pass, however, it was observed that users had assumed they would be eligible when viewing this page. This page was removed, so that only those who were not eligible were informed of their eligibility status.
	</p>
	<p>
	This change removed an unnecessary page for most users without any noticeable side effects.
	</p>
	<p>
	User research has shown that users assume eligibility when allowed to proceed with an application. Users should therefore only be notified where they are not eligible to continue.
	</p>
</div>
{% endblock %}
