{% set thisTab = 'Overview' %}
{% set pageTab = 'Policy' %}

{% extends "pp_layout.html" %}

{% block page_content %}

	<p>
		Residents need a place to park their car near their home. Parking permit services make sure there are parking spaces available for residents. They make it illegal to park in some areas without a permit.
	</p>

	<h3 class="heading-small" id="council-need">What do councils need from users to provide this service to them?</h2>
		<p>
			Depending on the local authority's needs, users may be asked to provide:
		</p>
	<ul class="list list-bullet">
		<li>
			the postcode of the area where they want to park
		</li>
		<li>
			proof they live in the area
		</li>
		<li>
			the registration number of the vehicle(s) they are applying for permits for
		</li>
		<li>
			payment
		</li>
	</ul>
{% endblock %}
