{% extends "layout.html" %}

{% block page_title %}
  Checking permit eligibility
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="breadcrumbs">
    <ol>
      <li>
          <a href="http://gov.uk/service-toolkit">Service toolkit</a>
      </li>
      <li>
          <a href="/">Local government service patterns</a>
      </li>
      <li>
          <a href="/service-patterns/parking-permit">Apply for a resident's parking permit</a>
      </li>
      <li>
          User research
      </li>
    </ol>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Checking permit eligibility</h1>


      <h2 class="heading-medium">What we learnt</h2>
      <p>
        Earlier iterations included pages to confirm eligibility to users. It was found that users assumed that as long as they were allowed to continue with the application, there wasn't a problem.
      </p>
      <h2 class="heading-medium">What we changed</h2>
      <p>
        In later iterations, users were allowed to continue, and only notified if there not eligible. This change reduced the overall length of the interaction for most users with no observable negative impact.
      </p>
      <p></p>



    </div>


  </div>


</main>

{% endblock %}
