{% extends "layout.html" %}

{% block page_title %}
  Choosing permit duration
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="breadcrumbs">
    <ol>
      <li>
          <a href="http://gov.uk/service-toolkit">Service toolkit</a>
      </li>
      <li>
          <a href="/">Local government service patterns</a>
      </li>
      <li>
          <a href="/service-patterns/parking-permit">Apply for a resident's parking permit</a>
      </li>
      <li>
          User research
      </li>
    </ol>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Choosing permit duration</h1>


      <h2 class="heading-medium">What we learnt</h2>
      <p>
        When deciding which permit to choose, most discussed price and convenience as the main factors in their choice.
      </p>
      <p>
        Most users expected that there would be a discount available for choosing a longer permit, and some expressed dissatisfaction that this was not the case.
      </p>
      <h2 class="heading-medium">What we changed</h2>
      <p>
        Prices of permits were removed from this page as users appeared to expect explanation of complex rules governing price which was felt to be distracting at this point. Though this has had the impact of reducing the number of users discussing price during testing, this did not address the underlying issue that users need to make an informed choice, and do need cost information at this point. Solutions for this will be tested in Beta.
      </p>
      <p></p>



    </div>


  </div>


</main>

{% endblock %}
