{% extends "layout.html" %}

{% block page_title %}
  Confirming personal details
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="breadcrumbs">
    <ol>
      <li>
          <a href="http://gov.uk/service-toolkit">Service toolkit</a>
      </li>
      <li>
          <a href="/">Local government service patterns</a>
      </li>
      <li>
          <a href="/service-patterns/parking-permit">Apply for a resident's parking permit</a>
      </li>
      <li>
          User research
      </li>
    </ol>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Confirming personal details</h1>


      <h2 class="heading-medium">What we learnt</h2>
      <p>
        When users are confirming the correct details provided by Verify, no issues were observed.
      </p>
      <p>
        For users who had recently moved house, the verified address shown was not their latest address. All of those we spoke to identified this issue, however they assumed that this was the result of a system error, reducing confidence in the service.
      </p>
      <p>
        Most users were unhappy at having to rekey their latest address. The absence of a postcode lookup at this point worsened this effect.
      </p>
      <h2 class="heading-medium">What we changed</h2>
      <p>
        Changes have been made to the process for users whose latest address is unverified. These users are now presented with their new and old address, and asked to select between the two.
      </p>
      <p>
        This has not been tested.
      </p>
    </div>


  </div>


</main>

{% endblock %}
