{% extends "layout.html" %}

{% block page_title %}
  Entering vehicle registration details
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="breadcrumbs">
    <ol>
      <li>
          <a href="http://gov.uk/service-toolkit">Service toolkit</a>
      </li>
      <li>
          <a href="/">Local government service patterns</a>
      </li>
      <li>
          <a href="/service-patterns/parking-permit">Apply for a resident's parking permit</a>
      </li>
      <li>
          User research
      </li>
    </ol>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Contacting users</h1>


      <h2 class="heading-medium">What we learnt</h2>
      <p>
        Early iterations only allowed users to select a single contact type, yet some users wanted to select more than one.
      </p>
      <p>
        Some expressed dissapointment at having to re-enter their phone number or email address.
      </p>
      <h2 class="heading-medium">What we changed</h2>
      <p>
        Changes were made to allow users to select multiple contact types.
      </p>



    </div>


  </div>


</main>

{% endblock %}
