{% extends "layout.html" %}

{% block page_title %}
  User research for finding the right parking zone
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  
  <div class="breadcrumbs">
    <ol>
      <li>
          <a href="http://gov.uk/service-toolkit">Service toolkit</a>
      </li>
      <li>
          <a href="/">Local government service patterns</a>
      </li>
      <li>
          <a href="/service-patterns/parking-permit">Apply for a resident's parking permit</a>
      </li>
      <li>
          User research
      </li>
    </ol>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Finding the right parking zone</h1>

      
      <h2 class="heading-medium">What we learnt</h2>
      <p>Throughout the research, we found that users were happy to be told which parking zone they needed to apply for, and trusted the answers they were given.</p>
      <p>Some users needed to know more than just whether they could park at a specific postcode. These users needed to understand exactly where the permit would enable them to park, and some of these wanted to be able to refer to this later.</p>
      
      <h2 class="heading-medium">What we changed</h2>
      <p>The need for a more detailed understanding of what the permit covers has been addressed by providing users with both a map of the zone and list of the streets within the zone. In user research most used the list of street names to learn check that roads of interest were included.</p>
      <p>Those using the map experienced significant usability issues, particularly when accessed with a mobile device. Additionally, those who wanted to print the map as a reference were unable to do so.</p>

    </div>


  </div>

  
</main>

{% endblock %}