{% extends "layout.html" %}

{% block page_title %}
  User research for the no permits available page
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  
  <div class="breadcrumbs">
    <ol>
      <li>
          <a href="http://gov.uk/service-toolkit">Service toolkit</a>
      </li>
      <li>
          <a href="/">Local government service patterns</a>
      </li>
      <li>
          <a href="/service-patterns/parking-permit">Apply for a resident's parking permit</a>
      </li>
      <li>
          User research
      </li>
    </ol>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">User research for the no permits available page</h1>

      
      <h2 class="heading-medium">What we learnt</h2>
      <p>This page has not been tested.</p>
      <h2 class="heading-medium">What we changed</h2>
      <p>The current service design does not address user needs and will be reviewed.</p>
      


    </div>


  </div>

  
</main>

{% endblock %}