{% extends "layout.html" %}

{% block page_title %}
  Paying for a permit
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  
  <div class="breadcrumbs">
    <ol>
      <li>
          <a href="http://gov.uk/service-toolkit">Service toolkit</a>
      </li>
      <li>
          <a href="/">Local government service patterns</a>
      </li>
      <li>
          <a href="/service-patterns/parking-permit">Apply for a resident's parking permit</a>
      </li>
      <li>
          User research
      </li>
    </ol>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Paying for a permit</h1>

      
      <h2 class="heading-medium">What we learnt</h2>
      <p>When choosing how to pay, some users were confused by the idea of a one-off direct debit. These users expected direct debits to either be multi-part payments or repeating payments.</p>
      <p>Some also wanted to know if there were charges associated with making a credit card payment.</p>
      <p>Most users were happy to provide their payment details, as they clearly understood the need for this. However, many objected to the need to re-enter personal data such as name and address that had been entered earlier in the transaction.
      <h2 class="heading-medium">What we changed</h2>
      <p>Further information has been added to the payment options to address users' uncertainties about one-off direct debits and credit card fees.</p>
    </div>


  </div>

  
</main>

{% endblock %}