{% extends "layout.html" %}

{% block page_title %}
  Picking the right permit type
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  
  <div class="breadcrumbs">
    <ol>
      <li>
          <a href="http://gov.uk/service-toolkit">Service toolkit</a>
      </li>
      <li>
          <a href="/">Local government service patterns</a>
      </li>
      <li>
          <a href="/service-patterns/parking-permit">Apply for a resident's parking permit</a>
      </li>
      <li>
          User research
      </li>
    </ol>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Picking the right permit type</h1>

      
      <h2 class="heading-medium">What we learnt</h2>
      <p>In some early testing of this page, some users assumed that because vistors permits were mentioned, that it would be possible for visitors to apply for a permit. The version tested at this point did not clarify who could apply for the visitor's permit.</p>
      
      <h2 class="heading-medium">What we changed</h2>
      <p>By supplementing the name of the pemrit with the details of who applies for it, we have resolved the confusion seen in earlier niterations</p>
      


    </div>


  </div>

  
</main>

{% endblock %}