{% extends "layout.html" %}

{% block page_title %}
  User research for the parking start page
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  
  <div class="breadcrumbs">
    <ol>
      <li>
          <a href="http://gov.uk/service-toolkit">Service toolkit</a>
      </li>
      <li>
          <a href="/">Local government service patterns</a>
      </li>
      <li>
          <a href="/service-patterns/parking-permit">Apply for a resident's parking permit</a>
      </li>
      <li>
          User research
      </li>
    </ol>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Parking start page</h1>

      
      <h2 class="heading-medium">What we learnt</h2>
      <p>None of the users we have spoken to have had a problem with checking to see if they needed a permit before they started.</p>

<p>Early versions of this page did not mention the types of permits that would be available and this led to uncertainty for some. These users were unsure what permit the service would let them apply for.</p>
      <h2 class="heading-medium">What we changed</h2>
      <p>To address users' uncertainty we added content to let users know which permits they could apply for with this service.</p>
      


    </div>


  </div>

  
</main>

{% endblock %}