{% extends "layout.html" %}

{% block page_title %}
  Entering vehicle registration details
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="breadcrumbs">
    <ol>
      <li>
          <a href="http://gov.uk/service-toolkit">Service toolkit</a>
      </li>
      <li>
          <a href="/">Local government service patterns</a>
      </li>
      <li>
          <a href="/service-patterns/parking-permit">Apply for a resident's parking permit</a>
      </li>
      <li>
          User research
      </li>
    </ol>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Entering vehicle registration details</h1>


      <h2 class="heading-medium">What we learnt</h2>
      <p>
        None of those we spoke to encountered any issues entering either their registration number or their V5C number. In both cases, users understood why this information would be required and most had expected to have to provide this from the outset.
      </p>
      <p>
        Those having to upload scanned copies of their V5C forms encountered significant problems, and several reported they would abandon the application at this point.
      </p>
      <p>
        Users often initially chosen the Verify route specifically to avoid scanning and uploading documents and could not, or would not proceed.
      </p>
      <p>
        Those completing the application on smartphones or tablets found it relatively easy to take a picture of the V5C, however they struggled to determine whether the quality of the image was acceptable and in some cases uploaded blurred images.
      </p>
      <h2 class="heading-medium">What we changed</h2>
      <p>
        No changes were made.
      </p>
      <p></p>


    </div>


  </div>


</main>

{% endblock %}
