{% macro image(imageURL, pageURL, caption, annotationsContent) %}
	<div class="annotated-image-container">
		<div class="annotated-image">
			<img src="{{imageURL}}" />
			<ol class="list upload-help">
				{% for annotation in annotationsContent %}
				<li style="{{annotation.position}}">
					<a href="#{{loop.index}}">
						<h2 class="heading-small"><span class="circle circle-step-large">{{loop.index}}</span></h2>
					</a>
				</li>
				{% endfor %}
			</ol>
		</div>
		<a href="{{pageURL}}" target="_blank">{{caption}}</a>
	</div>
	<ol class="list upload-help big-number-list">
		{% for annotation in annotationsContent %}
		<li id="{{loop.index}}">
			<h2 class="heading-small">
				<span class="circle circle-step-large">{{loop.index}}</span>
			</h2>
			<div class="circle-list-item">
				<h3 class="heading-small">{{annotation.header}}</h3>
				{{annotation.content | safe}}
			</div>
		</li>
		{% endfor %}
	</ol>
{% endmacro %}
