<div class="grid-row" data-module="highlight-active-section-heading">
	<div class="column-quarter">
		<!--  Page contents -->
		<div class="page-contents js-page-contents js-stick-at-top-when-scrolling js-sticky-resize" style="width: 212px;">
			<h2 class="heading-medium">{{thisTab}}</h2>
			<ul class="page-contents__list">
				{% for section in sections %}
					{% set active = '' %}
					{% if section == pageTab %}
						{% set active = 'active' %}
					{% endif %}
					<li class="{{active}}">
						<a href="../{{thisTab |lower}}/{{section | lower}}">{{section}}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
