<div class="grid-row" data-module="highlight-active-section-heading">
	<div class="column-quarter">
		<!--  Page contents -->
		<div class="page-contents js-stick-at-top-when-scrolling js-sticky-resize" style="width: 212px;">
			{# <h2 class="heading-large">{{thisTab}}</h2> #}
			<ul class="page-contents__list">
				{% for section in sections %}
					{% set active = '' %}
					{% set sectionStripped = section | replace("1. ", "") | replace("2. ", "") |  replace("3. ", "") | replace("4. ", "") |  replace("5. ", "") | replace("6. ", "")| replace("7. ", "")| replace("8. ", "")| replace("9. ", "") %}
					{% if section == thisTab %}
						{% set active = 'active' %}
					{% endif %}
					{% if section == 'overview' %}
					<li class="{{active}}">
						<a href="../{{thisTab |lower}}/{{section | lower}}">{{section}}</a>
					</li>
					{% else %}
					<li class="{{active}}">
						<a href="../{{sectionStripped| lower}}/{{pageTab |lower}}">{{section}}</a>
					</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
