<!-- Javascript -->
<script src="/public/javascripts/details.polyfill.js"></script>
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/govuk/selection-buttons.js"></script>
<script src="/public/javascripts/govuk/shim-links-with-button-role.js"></script>
<script src="/public/javascripts/govuk/show-hide-content.js"></script>
<script src="/public/javascripts/application.js"></script>
<script src="https://assets.publishing.service.gov.uk/service-manual-frontend/application-6e1076c8610026f4245c8eb8f5976a50b4ed2f2ef82f9fbb5f1811913e1561d4.js"></script>
{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}

<script src="{{asset_path}}/javascripts/vehicle-makes.js"></script>
<script src="{{asset_path}}/javascripts/vehicle-colours.js"></script>
<script src="{{asset_path}}/javascripts/accessible-autocomplete.js"></script>

<script>
accessibleAutocomplete({
  element: document.querySelector('#vehicleColour'),
  id: 'vehicleColour', // To match it to the existing <label>.
  source: vehicleColours
})
accessibleAutocomplete({
  element: document.querySelector('#vehicleMake'),
  id: 'vehicleMake', // To match it to the existing <label>.
  source: vehicleMakes
})
</script>

<script src="{{asset_path}}/javascripts/cartodb.js"></script>
<script>
function main() {
	cartodb.createVis('map', 'https://sanjaypoyzer.cartodb.com/api/v2/viz/3d165db2-5b3a-11e7-90fd-0e8c56e2ffdb/viz.json', {
			shareable: false,
			title: false,
			description: true,
			search: false,
			tiles_loader: true,
			center_lat: 54.8970847740886,
			center_lon: -1.39000872756029,
			fullscreen: true,
			zoom: 16
	})
	.done(function(vis, layers) {
		// layer 0 is the base layer, layer 1 is cartodb layer
		// setInteraction is disabled by default
		layers[1].setInteraction(true);
		layers[1].on('featureOver', function(e, latlng, pos, data) {
			cartodb.log.log(e, latlng, pos, data);
		});
		// you can get the native map to work with it
		var map = vis.getNativeMap();
		var greenIcon = L.icon({
		    iconUrl: '{{asset_path}}/images/map-marker.png',
		    // shadowUrl: 'leaf-shadow.png',

		    iconSize:     [65, 60], // size of the icon
		    shadowSize:   [50, 64], // size of the shadow
		    iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
		    shadowAnchor: [4, 62],  // the same for the shadow
		    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
		});
		L.marker([54.8970847740886, -1.39000872756029], {icon: greenIcon}).addTo(map);
		// now, perform any operations you need
		// map.setZoom(3);
		// map.panTo([50.5, 30.5]);
	})
	.error(function(err) {
		console.log(err);
	});
}
window.onload = main;
</script>
