<!-- Javascript -->
<script src="/public/javascripts/details.polyfill.js"></script>
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/govuk/selection-buttons.js"></script>
<script src="/public/javascripts/govuk/shim-links-with-button-role.js"></script>
<script src="/public/javascripts/govuk/show-hide-content.js"></script>
<script src="/public/javascripts/application.js"></script>
<script src="https://assets.publishing.service.gov.uk/service-manual-frontend/application-6e1076c8610026f4245c8eb8f5976a50b4ed2f2ef82f9fbb5f1811913e1561d4.js"></script>
{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}

<script src="{{asset_path}}/javascripts/vehicle-makes.js"></script>
<script src="{{asset_path}}/javascripts/vehicle-colours.js"></script>
<script src="{{asset_path}}/javascripts/accessible-autocomplete.js"></script>

<script>
	var numPermits = $('.vehicleMake').length;
	for (var i = 0; i < numPermits; i++) {
		accessibleAutocomplete({
			element: document.querySelector('#vehicleColour-'+i),
			id: 'vehicleColour-' + i, // To match it to the existing <label>.
			source: vehicleColours
		})
		accessibleAutocomplete({
			element: document.querySelector('#vehicleMake-'+i),
			id: 'vehicleMake-' + i, // To match it to the existing <label>.
			source: vehicleMakes
		})
	}
</script>
