<div class="breadcrumbs" data-module="track-click">
  <ol>
    <li>
        <a data-track-category="breadcrumbClicked" data-track-action="1" data-track-label="/service-manual" data-track-dimension="Service manual" data-track-dimension-index="29" href="http://gov.uk/service-manual/design">Design</a>
    </li>
    <li>
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/service-manual/design" data-track-dimension="Design" data-track-dimension-index="29" href="/">Local government service patterns</a>
    </li>
    <li>
        {{ pageTitle }}
    </li>
  </ol>
</div>
