{% set thisTab = 'Payment' %}
{% set pageTab = 'Policy' %}

{% extends "pp_layout.html" %}

{% block page_content %}

<p>
	Permit fees will vary based on fee calculation rules determined by each individual council. In some cases the permit may be issued free of charge, for example, if the resident is the first member of the household to apply.
</p>
<p>
	Your service can accept payment via a number of channels, including cheques, bank transfers or online payments.
	<a href="https://www.gov.uk/guidance/g-cloud-buyers-guide">Councils can find a supplier on the Digital Marketplace.</a>
</p>
<p>
	In the future, your service will be able to accept payments using
	<a href="https://www.gov.uk/government/publications/govuk-pay/govuk-pay">GOV.UK Pay</a>.
	</p>
{% endblock %}
