{% set thisTab = 'Payment' %}
{% set pageTab = 'Policy' %}

{% extends "pp_layout.html" %}

{% block page_content %}

<p>
	Permit fees will vary based on fee calculation rules determined by each individual council. In some cases the permit may be issued free of charge, for example, if the resident is the first member of the household to apply.
</p>
<p>
	Your service can accept payment via a number of channels, including online payment, bank transfer or by cheque. Councils can find a supplier on the <a href="http://www.gov.uk/guidance/g-cloud-buyers-guide">Digital Marketplace</a>.
</p>
<p>
	In future, your service will be able to accept payments using GOV.UK Pay.
</p>
{% endblock %}
