{% set thisTab = 'Payment' %}
{% set pageTab = 'Policy' %}

{% extends "pp_layout.html" %}

{% block page_content %}

<p>
	Permit fees will vary based on fee calculation rules determined by each individual council. In some cases the permit may be issued free of charge, for example, if the resident is the first member of the household to apply.
</p>
<p>
	Your service can accept payments using
	<a href="https://gds.blog.gov.uk/2017/09/12/local-government-pay/">GOV.UK Pay</a>.
	</p>
{% endblock %}
