{% set thisTab = 'Eligibility' %}
{% set pageTab = 'Policy' %}

{% extends "pp_layout.html" %}

{% block page_content %}

<p>
	Users apply to their local council for a resident's parking permit. To be elligble they need to provide proof of their address to.
</p>
<p>
	Councils can find out a user's address by using GOV.UK Verify, the government standard for identity assurance.
</p>
<p>
	This section outlines best practice for designing a parking permit application around GOV.UK Verify.
</p>
{% endblock %}
