{% set thisTab = 'Eligibility' %}
{% set pageTab = 'Policy' %}

{% extends "pp_layout.html" %}

{% block page_content %}

<p>
	Users must apply through their local council for their bus pass, and prove that they are over the state pension age.
</p>
<p>
	Councils can find out a user's address and their date of birth by using GOV.UK Verify, the government standard for identity assurance.
</p>
<p>
	This section outlines best practice for designing a concessionary travel application around GOV.UK Verify.
</p>
{% endblock %}
