/**
 * Related Items Component
 *
 * Example Usage:
 *
 * <aside class="related-items">
 *   <h2 class="related-items__title">Related content</h2>
 *   <ul class="related-items__list">
 *     <li><a href="#">A link</a></li>
 *     <li><a href="#">Another link</a></li>
 *     <li><a href="#">A third link</a></li>
 *   </ul>
 * </aside>
 */

.related-items {
  border-top: 10px solid $govuk-blue;
  margin: ($gutter * 1.5) 0;

  &__title {
    @include bold-24;
    margin-bottom: $gutter-one-third;
  }

  &__list {
    @include core-16;
    list-style: none;
    padding-left: 0;
    margin: 0 0 $gutter-half;

    li {
      margin-bottom: $gutter-one-third;
    }
  }
}
