// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// should probs be in elements
img, svg{
  max-width: 100%;
}

p + ul{
  margin-bottom: 1em;
}

.panel .heading-small{
  margin: 0 0 1.5em 0;
}

details{
	 margin: 1em 0 1.6em;
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

h1 span.strapline {
    font-family: "nta",Arial,sans-serif;
    font-size: 20px;
    line-height: 1.1111111111;
    font-weight: 400;
    text-transform: none;
    display: block;
    margin-bottom: 5px;
    color: #6f777b;
  @media (min-width: 641px) {
    font-size: 27px;
    line-height: 1.1111111111;
  }
}

.list-letter{
  list-style-type: lower-alpha;
  padding-left: 15px;
}

.metadata {
  font-size: 12px;
  line-height: 1.25;
  margin-bottom: 2em;
  @media (min-width: 641px) {
    font-size: 14px;
    line-height: 1.42857;
  }
  dt {
    float: left;
    clear: left;
    width: auto;
    min-width: 120px;
    @media (min-width: 641px) {
      padding-right: 10px;
    }
  }
}

.page-contents__list li {
  font-size: 14px;
  line-height: 1.14286;
  list-style-type: none;
  margin-bottom: 5px;
  padding: 9px 15px 10px;
  // &:before {
  //   content: "–";
  //   float: left;
  //   display: block;
  //   width: 15px;
  //   margin-left: -15px;
  // }
  @media (min-width: 641px){
    font-size: 16px;
    line-height: 1.25;
  }
}
.page-contents__list a {
    text-decoration: none;
    letter-spacing: 0.022em;
}

.page-contents__list .active {
    letter-spacing: 0;
    font-weight: bold;

    background-color: #f0f0f0;
    font-weight: bold !important;
    letter-spacing: 0;
    border-left: 4px solid #005ea5;
}

table + p{
  margin-top: 2em;
}

.nav-tabs {
    zoom: 1;
    background: #fff;
    padding: 0;
    position: relative;
		display: block;
		overflow: hidden;
}
.nav-tabs ol, .nav-tabs ul, .nav-tabs .tabs-nav {
    float: left;
		width: 100%;
		border-bottom: 1px solid #ccc;
}
.nav-tabs li, .nav-tabs .tabs-nav li {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    float: left;
}

.nav-tabs li.active a, .nav-tabs .tabs-nav li.active a {
    background-color: #fff;
    border: solid 1px #bfc1c3;
    border-bottom: solid 1px #fff;
    color: #0b0c0c;
    position: relative;
    text-decoration: none;
    z-index: 5;
}

.nav-tabs li a, .nav-tabs .tabs-nav li a {
    border: solid 1px #fff;
    border-bottom: none;
    float: left;
    height: 2.25em;
    line-height: 2.25em;
    margin-bottom: -1px;
    padding: 0 1em 0 1em;
    position: relative;
    text-align: center;
    top: 0;
}

.nav-tabs:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
		margin-bottom: 3em;
}

.page-contents__list li{
	font-size: 18px;
}

.column-two-thirds > h2{
	margin-top: 0;
}
.heading-xlarge{
	margin-bottom: .6em;
}
.lede{
	margin-bottom: 2em;
}
