@import 'patterns/_govukish.scss';

//argleton styles
.argleton-name-extra{
  display: none;
  @media(min-width: 405px){
    display:inline;
  }
}

body{
  background-color: beige;
  min-height: 100vh;
}

.form-group{
  background: beige;
}

.payment-summary{
  background-color: #fdfdf6;
}

//having to be annoyingly specific here to override the radio button styles
.unbranded .block-label.selection-button-radio:before {
  background: #fafafa;
}

input.form-control, textarea.form-control{
  background: #fafafa;
  margin-bottom: 9px;
}

// argleton header

header{
  padding-top: 0px;
  .container{
    padding-top: 9px;
  }
}

header{
  background-color: #9cc162;
  padding: 0px 15px 0px;
  font-size: 1.6em;
  .container{
    max-width: 960px;
    margin: 0 auto;
    padding-top: 20px;
  }
  img{
    width: 2em;
    vertical-align: middle;
    margin-right: .5em;
  }
}

.contact-link{
  text-align: right;
  font-size: .75em;
  padding-bottom: .33em;
}
