@import 'patterns/_govukish.scss';

.sunderland{

  main{
    background: white;
  }

  #footer {
    border: 0;
    padding: 1em;
    text-align: center;
    background: rgba(31, 43, 99, 1);
    color: white;
  }
  .notice{
    margin: 1em 0 2em;
  }
  .button-start{
    padding-bottom: 0.5em;
  }
// make Sunderland header hrefs white
#scch1, #scch2, #scch3, #scch4, #scch5, #scch6{
	color: white;
}
#sccHeaderTable{
  max-width: 960px;
  margin: 0 auto;
}
#sccHeaderTable table td{
	border-bottom-style: none;
}
.searchbutton{
	background-color: red;
	color: white;
	border: none;
}
#kword{
	background-color: rgba(229,229,227,1);
}
.mysunderland-name-extra{
	color: white;
	font-size: 15px;
}
.sunderland-tr{
	background-color: rgba(56,67,110,1);
}
}

.column-two-thirds{
	background-color: white;
}

//sunderland styles
.sunderland-name-extra{
  display: none;
  color: white;
  @media(min-width: 405px){
    display:inline;
  }
}

body{
  min-height: 100vh;
    background-color: rgba(229, 229, 227, 1);
}

//having to be annoyingly specific here to override the radio button styles
.unbranded .block-label.selection-button-radio:before {
  background: #fafafa;
}

input.form-control, textarea.form-control{
  background: #fafafa;
  margin-bottom: 9px;
}

// sunderland header

header{
  padding-top: 0px;
  .container{
    padding-top: 9px;
  }
}

header{
  background-color: rgba(31, 43, 99, 1);
  padding: 0px 15px 0px;
  font-size: 1.6em;
  .container{
    max-width: 960px;
    margin: 0 auto;
    padding-top: 20px;
  }
  img{
    width: 10em;
    vertical-align: middle;
    margin-right: 0em;
  }
}

.contact-link{
  text-align: right;
  font-size: .75em;
  padding-bottom: .33em;
}

.panel{
	background-color: white
}

/*@media all and (min-width:641px)*/
p {
    margin-top: 0.26em;
    margin-bottom: 1.05em;
    background-color: white;
}
