// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// If you need to create a page as part of your journey, but without GOV.UK branding
// See localhost:3000/examples/unbranded/

// Override the govuk_frontend_toolkit's font stack
// https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_font_stack.scss#L13
$toolkit-font-stack: $helvetica-regular;

.sunderland{
  background: $white;

  // Use the universal selector and !important to *ALWAYS OVERRIDE* GDS Transport
  * {

    font-family: $toolkit-font-stack !important;
  }

  // Remove GOV.UK footer styles
  main{
    min-height: 65vh; // there is probs a better way of pushing the footer down, but this will do for now
    background: white;
    border-radius: 9px;
    display: block;
    margin: 25px auto !important;
    padding: 0 25px 90px;
  }
  .heading-xlarge{
    display: inline-block;
  }
  #footer {
    border: 0;
    padding: 1em;
    text-align: center;
    background: rgba(31, 43, 99, 1);
    color: white;
  }
  .notice{
    margin: 1em 0 2em;
  }
  .button-start{
    padding-bottom: 0.5em;
  }
// make Sunderland header hrefs white
#scch1, #scch2, #scch3, #scch4, #scch5, #scch6{
	color: white;
} 
#sccHeaderTable table td{
	border-bottom-style: none;
}
.searchbutton{
	background-color: red;
	color: white;
	border: none;
}
#kword{
	background-color: rgba(229,229,227,1);
}
.mysunderland-name-extra{
	color: white;
	font-size: 15px;
}
.sunderland-tr{
	background-color: rgba(56,67,110,1);
}
}

.column-two-thirds{
	background-color: white;
}

// possibly should be in govuk styles
.grid-row{
  display: initial;
  background-color: white;
}
details{
  margin-bottom: 1.5em;
}

.form-block{
  margin-left: 15px;
}

form .heading-medium{
  margin-top: 1em;
}

main img {
    max-width: 100%;
}

.svg{
  width: 100%;
  margin-bottom: 2em;
}

.button-start{
  margin-bottom: 1em;
}

.center{
  text-align: center;
  margin: 1em;
  @media(min-width: 641px){
    text-align: left;
    margin-left: 4em;
  }
}

.heading-xlarge{
  font-size: 47px;
  background-color: white;
}

// custom file upload button
.file-upload input{
  display: none;
}

.loading-spinner {
    position: absolute;
    left: 50%;
    width: 150px;
    margin-left: -75px;
    margin-top: 50px;
}

.photo-preview{
  width: 200px;
}

//radio button position
label.block-label.selection-button-radio, label.block-label.selection-button-radio-selected{
  padding-left: 53px;
}

//circle
.js-enabled .block-label.selection-button-radio::before{
  top: 10px;
  left: 7px;
}
//dot
.js-enabled .block-label.selection-button-radio::after{
  top: 19px;
  left: 16px;
}

label.block-label.selection-button-checkbox{
  padding: 16px 20px 25px 70px;
}
//checkbox position
.js-enabled .block-label.selection-button-checkbox::before{
  top: 20px;
  left: 17px;
  background: #fff;
}
//tick position
.js-enabled .block-label.selection-button-checkbox::after{
  top: 29px;
  left: 24px;
}

// for toggling display
.hidden{
  display: none;
}

//sunderland styles
.sunderland-name-extra{
  display: none;
  color: white;
  @media(min-width: 405px){
    display:inline;
  }
}

body{
  min-height: 100vh;
    background-color: rgba(229, 229, 227, 1);
}

//having to be annoyingly specific here to override the radio button styles
.unbranded .block-label.selection-button-radio:before {
  background: #fafafa;
}

input.form-control, textarea.form-control{
  background: #fafafa;
  margin-bottom: 9px;
}

// sunderland header

header{
  padding-top: 0px;
  .container{
    padding-top: 9px;
  }
}

header{
  background-color: rgba(31, 43, 99, 1);
  padding: 0px 15px 0px;
  font-size: 1.6em;
  .container{
    max-width: 960px;
    margin: 0 auto;
    padding-top: 20px;
  }
  img{
    width: 10em;
    vertical-align: middle;
    margin-right: 0em;
  }
}

.contact-link{
  text-align: right;
  font-size: .75em;
  padding-bottom: .33em;
}

//verify start page
@media screen and (min-width: 641px){
  .choose-left-column {
    border-right: 3px solid silver;
    padding-right: 30px;
  }
}

.allow-verify-box{
  margin-bottom: 1em;
}

.block-label{
  display: block;
  float: none;
  clear: left;
  position: relative;
  padding: 18px 30px 15px 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  @media (min-width: 641px){
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.panel{
	background-color: white
}

//payment styles

.card-images{
  img{
    height: 39px;
  }
}

.card-image{
  height: 60px;
  vertical-align: middle;
  margin-left: 20px;
}

table{
  margin-bottom: 30px;
  th:first-of-type{
    font-weight: normal;
  }
}

.payment-summary {
  display: inline-block;
  border: 7px solid #DEE0E2;
  background-color: #fdfdf6;
  padding: .6em 1em 0;
  margin-bottom: 30px;
  margin-top: 30px;
  h2{
    font-size: 27px;
    font-weight: 700;
    padding-bottom: 15px;
  }
}

.form-group{
  background: white;
  margin-bottom: 0;
  padding-bottom: 30px;
}

.form-group .panel-border-narrow{
  margin-left: 16px;
}

.form-group.form-group-price{
  display: block;
  float: none;
  width: 75px;
}

.form-group.form-group-product-name{
  display: block;
  width: 350px;
}

p.accepted-copy-2 {
    margin-bottom: 0;
}

// photo guide styles

.back-link{
  display: inline-block;
  margin-top: 15px;
  margin-right: 15px;
  padding-left: 14px;
  border-bottom: #0b0c0c 1px solid;
  color: #0b0c0c;
  text-decoration: none;
  background: url(../images/back-caret.svg) no-repeat 1px 0;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286;
  &:link{
    color: #000;
  }
  @media (min-width: 641px){
    font-size: 16px;
    line-height: 1.25;
  }
}

.photo-guide .marker {
  color: #6f777b;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286;
  @media (min-width: 641px){
      font-size: 16px;
      line-height: 1.25;
  }
}

.guide-nav li{
  list-style-type: none;
  margin-bottom: 1em;
  @media(min-width:640px){
    float: left;
    margin-left: 1em;
  }
}

.guidance-photos{
  display: inline-block;
  ul{
    margin-left: -8px;
    li {
      position: relative;
      box-sizing: border-box;
      float: left;
      min-width: 120px;
      max-width: 172px;
      margin-bottom: 1.05263em;
      padding-left: 8px;
      @media (min-width: 769px) {
          max-width: 188px;
      }
    }
  }
  img{
    width: 100%;
    vertical-align: bottom;
  }
  .result {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 85%;
    height: 57px;
    background: #fff;
    font-weight: 400;
    text-transform: none;
    font-size: 12px;
    line-height: 1.25;
    color: #0b0c0c;
    @media (min-width: 641px){
      font-size: 14px;
      line-height: 1.42857;
    }
    .approved, .failed {
      position: absolute;
      top: 50%;
      box-sizing: border-box;
      width: 100%;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%);
      margin: 0;
      padding: 8px 28px 5px 8px;
      background-repeat: no-repeat;
      background-position: right 7px center;
      background-size: 18px;
      @media (min-width: 641px){
        padding-top: 11px;
        padding-right: 34px;
        padding-bottom: 8px;
        background-size: 22px;
      }
    }
    .approved {
      background-image: url(/public/images/photo/icon-thick-tick.svg);
    }
    .failed {
        background-image: url(/public/images/photo/icon-thick-cross.svg);
    }
  }
}
/*@media all and (min-width:641px)*/
p {
    margin-top: 0.26em;
    margin-bottom: 1.05em;
    background-color: white;
}
.govuk-box-highlight {
	color: #000;
	background: #fff;
}
/*SCC Top Header */
div#logo a, div#scclogo a {
	width: 155px;
	height: 94px;
	text-indent: -999em;
	background: url('/public/images/scc-logo-main.png') no-repeat top left;
	display: block;
}
section, article, header, footer, nav, aside, hgroup {
	display: block;
}
header#masthead {
	min-width: 960px;
	height: 105px;
	background: #1F2B63;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
body {
	background: #e6e6e4;
	color: #252525;
	font-family: InterFace, Verdana, Geneva, sans-serif;
	font-weight: normal;
	-webkit-text-size-adjust: none;
}
:focus {
	outline: 0;
}
html {
	min-height: 101%;
	margin-bottom: 1px;
}
.wrapper {
	margin: 0px auto;
	width: 960px;
	overflow: hidden;
}
div#logo {
	width: 212px;
	margin-right: 16px;
	float: left;
}
h1, h2, h3, h4, #search input.searchbutton, .findnearest input.searchbutton, nav#doitonlinetop, nav#mainmenu, nav#mysunderland strong, a.buttonlink, nav.grouping-list ul li a, nav#doitonlinepanel li a, .form-wrap label, .icmform label, input.submitbutton, p strong, .main-content th, .landing-content th, nav.sidenav h3 strong, .related-wrap li strong, .related-wrap li a, .transaction-panel h3 strong, .listing-block .filter label, .listing-block li a, .jumpmenu a.active, .jumpmenu span.active, .sidesearch label, p.submiteventlink, #event-listing p.readmore, a.booklink, .event-intro ul.event-details li strong, #tsad-content p.bottom-links a, #featured .doitonline li a {
	font-family: InterFace, Verdana, Geneva, sans-serif;
	font-weight: bold;
}
nav#mainmenu {
	width: 420px;
	float: left;
}
#search {
	width: 310px;
	height: 37px;
	float: right;
	margin: 15px 0px 5px 0px;
}
nav#mysunderland {
	width: 310px;
	height: 33px;
	background: #38436e;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: right;
	font-size: 14px;
	color: #fff;
}
ol, ul {
	list-style: none;
}
nav#mysunderland li {
	padding-left: 14px;
	height: 33px;
	line-height: 33px;
    list-style-type: none;
}
nav#mainmenu li {
	float: left;
	width: 50%;
}
header#topbar nav ul li, header#masthead nav ul li {
	float: left;
}
a {
	text-decoration: none;
}
a.tag::after {
	content: " \203A";
}
nav#mainmenu li a {
	font-size: 15px;
	height: 28px;
	line-height: 28px;
	display: block;
}
header#topbar nav ul li a, header#masthead nav ul li a {
	color: #fff;
	text-decoration: none;
}
#search label {
	display: none;
}
#search input.searchinput {
	width: 211px;
	height: 36px;
	padding: 1px 8px 0px 8px;
	background: #d2d8e0;
	float: left;
	border: none;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	font-size: 15px;
	color: #626262;
}
#search input.searchinput, .findnearest input.postcodeinput {
	font-family: InterFace, Verdana, Geneva, sans-serif;
	font-weight: normal;
}
#search input.searchbutton {
	width: 83px;
	height: 37px;
	line-height: 37px;
	padding-top: 0px;
	background: url('/public/images/scc-search-button.png') 58px 0px no-repeat #eb3a31;
	text-align: left;
	font-size: 15px;
	float: left;
	border: none;
	cursor: pointer;
	color: #fff;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}
nav#mainmenu ul {
	margin-top: 25px;
}
nav#mainmenu li {
    list-style-type: none;
}
