// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// If you need to create a page as part of your journey, but without GOV.UK branding
// See localhost:3000/examples/unbranded/

// Override the govuk_frontend_toolkit's font stack
// https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_font_stack.scss#L13
$toolkit-font-stack: $helvetica-regular;

.unbranded {
  background: $white;

  // Use the universal selector and !important to *ALWAYS OVERRIDE* GDS Transport
  * {

    font-family: $toolkit-font-stack !important;
  }

  // Remove GOV.UK footer styles
  #footer {
    border: 0;
    background: $white;
  }
}

// possibly should be in govuk styles
.grid-row{
  display: initial;
}

//argleton styles
.argleton-name-extra{
  display: none;
  @media(min-width: 405px){
    display:inline;
  }
}

header{
  background-color: #9cc162;
  padding: 6px 15px 0px;
  @media(min-width: 420px){
    padding: 10px 15px;
  }
  font-size: 1.6em;
  .container{
    max-width: 960px;
    margin: 0 auto;
  }
  img{
    width: 2em;
    vertical-align: middle;
    margin-right: .5em;
  }
}

body{
  background-color: beige;
  min-height: 100vh;
}

//having to be annoyingly specific here to override the radio button styles
.unbranded .block-label.selection-button-radio:before {
  background: #fafafa;
}

input.form-control, textarea.form-control{
  background: #fafafa;
  margin-bottom: 9px;
}

//payment styles

.card-images{
  img{
    height: 39px;
  }
}

.card-image{
  height: 60px;
  vertical-align: middle;
  margin-left: 20px;
}

table{
  margin-bottom: 30px;
}

.payment-summary {
  display: inline-block;
  border: 7px solid #DEE0E2;
  background-color: #fdfdf6;
  padding: .6em 1em 0;
  margin-bottom: 30px;
  margin-top: 30px;
  h2{
    font-size: 27px;
    font-weight: 700;
    padding-bottom: 15px;
  }
}

.form-group{
  background: beige;
  margin-bottom: 0;
  padding-bottom: 30px;
}

.form-group .panel-border-narrow{
  margin-left: 16px;
}

.form-group.form-group-price{
  display: block;
  float: none;
  width: 75px;
}

.form-group.form-group-product-name{
  display: block;
  width: 350px;
}

p.accepted-copy-2 {
    margin-bottom: 0;
}
