{% extends "layout.html" %}
{% set pageTitle = "Apply for an older person's concessionary travel pass" %}
{% block page_title %}
    {{ pageTitle }}
{% endblock %}
{% block content %}

    <main id="content" role="main">
        {% include "includes/phase_banner_alpha.html" %}
        {% include "includes/toolkit_breadcrumbs.html" %}

        <h1 class="heading-xlarge">
            <span class="strapline">Service pattern for</span>
            {{ pageTitle }}
        </h1>
        {% include "includes/index_metadata.html" %}

        <div class="grid-row" data-module="highlight-active-section-heading">
            <div class="column-third">
                <!--  Page contents -->
                <div class="page-contents js-page-contents js-stick-at-top-when-scrolling js-sticky-resize" style="width: 212px;">
                    <h2 class="heading-small page-contents__title">Page contents:</h2>
                    <ul class="page-contents__list">
                        <li>
                            <a href="#example-service">Example service</a>
                        </li>
                        <li>
                            <a href="#user-need">What is the user need?</a>
                        </li>
                        <li>
                            <a href="#council-need">What do councils need?</a>
                        </li>
                        <li>
                            <a href="#user-journey">What is the user journey?</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="column-two-thirds">

                <p>
                    This page is for service designers in local authorities. It outlines a common pattern for providing the 'Older person's concessionary travel service' effectively. This pattern is for England only, where the service follows
                        <a href="https://www.gov.uk/government/publications/guidance-for-travel-concession-authorities-on-the-england-national-concessionary-travel-scheme">English National Concessionary Travel Scheme</a> guidance. The service works differently in
                    <a href="http://www.transport.gov.scot/public-transport/concessionary-travel-people-aged-60-or-disability">Scotland</a>,
                    <a href="http://gov.wales/topics/transport/public/concessionary/?lang=en">Wales</a>
                    and
                    <a href="https://www.nidirect.gov.uk/articles/free-and-concessionary-bus-and-rail-travel
">Northern Ireland</a>.
                </p>
                    <a href="/">Read more about service patterns</a>

                <h2 class="heading-medium" id="example-service">Example service</h2>
                <p>
                  While reading the service pattern description, <a href="concessionary-travel/example-service/start-page">explore the example prototype service</a>.
                </p>

                <h2 class="heading-medium" id="user-need">What is the user need?</h2>
                <p>
                As someone who is old enough for a bus pass
                    <br>
                    I need: to apply for a concessionary travel permit
                    <br>
                    So that: I am able to travel for free
                </p>

                  <a href="/service-patterns/concessionary-travel/user-research/discovery">Understand other user needs for this service</a>

                <h2 class="heading-medium" id="council-need">What do you need from users to provide this service to them?</h2>
                <ul class="list list-bullet">
                    <li>
                        proof they live in the area
                    </li>
                    <li>
                        proof they are old enough to be entitled to a pass
                    </li>
                    <li>
                        a digital photograph for their pass – can be taken during the application
                    </li>
                </ul>

                <h2 class="heading-medium" id="user-journey">What is the user journey?</h2>
                <p>
                    These are the steps users should go through.
                </p>
                <details>
                <summary><span class="summary">1. Awareness</span></summary>

                <div class="panel panel-border-narrow">

                  <p>
                      Users need to find out about their entitlement to concessionary travel. They may find out in these ways:
                  </p>
                      <ul class="list list-bullet">
                      <li>signage in a local library</li>
                      <li>local, district, borough and county councils communications</li>
                      <li>word of mouth</li>
                      <li>an internet search</li>
                      <li>signage on bus stops and buses</li>
                      </ul>
                  <p>
                      Your service should make sure the right information is being provided through these channels, where possible.
                  </p>

                  </div>

                  </details>
                  <details>
                  <summary><span class="summary">2. Check you are the right age</span></summary>

                  <div class="panel panel-border-narrow">

                  <p>
                      All residents in England can get a pass for free bus travel anywhere in England when they reach the female State Pension age, whether they’re a man or a woman.
                  </p>
                  <p>
                      London residents can also travel free on buses, tubes and other transport within London from age 60.
                  </p>
                  <p>
                      Users may need to check if they're old enough for concessionary travel. Link to the
                      <a href="https://www.gov.uk/state-pension-age/y/bus_pass">GOV.UK bus pass age check page</a> from your service start page.
                  </p>

                  </div>

                  </details>
                  <details>
                  <summary><span class="summary">3. Find the right council</span></summary>

                  <div class="panel panel-border-narrow">

                  <p>
                      Next, users need to get to the right council's website to apply for their pass. Users might start by typing 'older person bus pass' or a related term into a search engine, or going to the website of the council they think is their local council's.
                  </p>
                  <h3 class="heading-small">Search engine</h3>
                  <p>
                    The <a href="https://www.gov.uk/apply-for-elderly-person-bus-pass">GOV.UK older person's bus pass page</a> should send users to the right council's website when they enter their postcode.</p>
                  <p>
                    Make sure the postcodes your service provides services for link to the right page on your website and email any corrections to:
                  <a href="mailto:local-direct-admin@digital.cabinet-office.gov.uk">local-direct-admin@digital.cabinet-office.gov.uk</a>.
                  </p>
                  </p>
                  <h3 class="heading-small">Council website</h3>
                  <p>
                  <p>
                    Users may go straight to the website for the council they think they need to get a travel pass from. </p>
                  <p>
                    Clearly state which area your service provides concessionary travel in, as the user may be in the wrong place.
                  </p>

                  </div>

                  </details>
                  <details>
                  <summary><span class="summary">4. Service start page</span></summary>

                  <div class="panel panel-border-narrow">

                  <p>
                    Now the user is in the right place, your service's webpage should communicate:</p>
                  <ul class="list list-bullet">
                  <li>
                    what the pass will allow its holder to do
                  </li>
                  <li>
                    when the user is allowed to travel using the pass (the national bus concession in England is available from 9.30am to 11pm on weekdays and at any time on a Saturday, Sunday or bank holiday)
                  </li>
                  <li>
                    where the pass is valid
                  </li>
                  <li>
                    how the pass will be used
                  </li>
                  <li>
                    how long the process of applying will take
                  </li>
                  <li>
                    when they should expect to receive their bus pass once they've applied
                  </li>
                  <li>
                    that they'll need to provide a passport style photograph
                  </li>
                  <li>
                    that they'll need to login or signup using GOV.UK Verify
                  </li>
                  <li>
                    what to do if they need assistance with the application
                  </li>
                  <li>
                    what to do if they can not complete the application
                  </li>
                  <li>
                    links to renewals and replacements services
                  </li>
                  </ul>
                  <p><a href="concessionary-travel/example-service/start-page">Explore prototype service start page</a></p>
                  <p><a href="concessionary-travel/user-research">Explore related user research</a></p>
          </div>

          </details>
          <details>
              <summary><span class="summary">5. Prove you are a resident and are old enough to apply</span></summary>

              <div class="panel panel-border-narrow">
                <ol class="list list-letter">
                {% set serviceString = 'concessionary-travel' %}
                {% set age = true %}
                {% include 'common-content/proving-identity.html' %}
              </ol>
              </div>

              </details>
              <details>
                <summary><span class="summary">6. Confirm your date of birth</span></summary>

                <div class="panel panel-border-narrow">

              <p>
                If the user has been successfully verified, your service will receive the user's name, address, and date of birth from GOV.UK Verify.
              </p>
              <p>
                Your service webpage should show the user their date of birth and ask them to confirm it. (This is mainly done because of a legal requirement to show user the data about them received from GOV.UK Verify.)
              </p>
                <a href="concessionary-travel/example-service/confirm-dob">Explore prototype page asking users to confirm their date of birth</a>
              <p>
                If the user's date of birth is not correct, something has probably gone wrong in the verifying process. Your service needs to advise them to continue using a different channel.
            </p>
              <a href="concessionary-travel/example-service/incorrect-dob">Explore the prototype page asking users to continue in a different channel</a>

            <p>
                If the user confirms their date of birth, your service should check the user is old enough to be eligible. If the user is not eligible based on their date of birth your service webpage should tell them they are not currently eligible and supply the date when they will be eligible.
            </p>
                <a href="concessionary-travel/example-service/not-eligible-age">Explore the prototype page telling the user they are not eligible because of their age</a>

                </div>

              </details>

              <details>
                <summary><span class="summary">7. Confirm your address</span></summary>

                <div class="panel panel-border-narrow">

                <p>
                  GOV.UK Verify will send your service the user's address, as supplied by the user's chosen identity provider. When the user returns from the GOV.UK Verify process, your service webpage should ask them to confirm if this is their current address. (This is mainly done because GOV.UK Verify identity providers may not have the user's address if they moved house in the last 3 months.)
                </p>
                <p>
                  On this page you can also ask the user to confirm if they want your service to send the bus pass to the address they've received through GOV.UK Verify.
                </p>
                  <a href="concessionary-travel/example-service/confirm-address">Explore the prototype page asking users to confirm their name and address</a>
                <p>
                  If the user says the address returned is not correct, they are likely to be a new resident whose address has not been updated with their identity provider. Your service should ask users to enter their current address and warn them not to enter false information, as this is a civic offence. </p>
                <p>
                  If the travel pass is physical, your service will get extra confidence in the address by mailing the pass to the address the user provided. Mention that your service will be using the address they've given for this purpose on the service confirmation page.
                </p>
                <a href="concessionary-travel/example-service/incorrect-address">Explore prototype page asking users to enter their current address</a>
                <p>
                When the user has confirmed their address, your service should check that the address they've given is in the area your council provides services for. If the address is not in the area, your service webpage should tell them they are not eligible in this area.
                </p>
                <a href="concessionary-travel/example-service/not-eligible-address">Explore the prototype page telling the user they are not eligible because of their address</a>
              </div>

              </details>
              <details>
              <summary><span class="summary">8. Do you already have a bus pass?</span></summary>
              <div class="panel panel-border-narrow">
              <p>
                At this point your service should check if the user already has a bus pass by searching its records.</p>
              <p>
                If they already have a pass, your service webpage should tell them they are not eligible to apply for a new one, but they can renew or replace a lost or stolen pass with the 'Renew or replace your bus pass' service.</p>
              <p>
                Include a link to contact your service, in case the user believes there has been a mistake.</p>

                <a href="concessionary-travel/example-service/not-eligible-pass">Explore the prototype page telling the user they are not eligible because they already have a pass</a>
                    </div>

                    </details>
                    <details>
<summary><span class="summary">9. Upload digital photograph</span></summary>
<div class="panel panel-border-narrow">

              <p>
                Concessionary travel passes need a clear photograph of the person who the pass is issued to, so that they can't be used by anybody else. Bus drivers are responsibile for checking the photo matches the user.
              </p>
              <p>
                Users can take a photo with their webcam as part of their application, or upload a digital photograph of themselves. Uploading a photo may be complicated for some users, so your service should find the right route for them with a series of questions, illustrated in this flow chart:
              </p>
                {% include 'includes/upload-photo-flow.svg' %}
              <p>
              <a href="concessionary-travel/example-service/need-photo">Explore the prototype for how to take and upload a digital photograph</a>
              </p>
              </div>

              </details>
              <details>
              <summary><span class="summary">10. Confirmation page and sending the bus pass to the user</span></summary>
              <div class="panel panel-border-narrow">

              <p>
                When the user has uploaded their photograph, your service should tell them their application is complete, state when they can expect to receive their bus pass and let them know it will be posted to the address they previously confirmed.
              </p>
              <p>
                Your service should send a letter with the pass providing information on how, when and where it can be used, and what to do in case of a lost or stolen pass.
              </p>
              <p>
                <a href="concessionary-travel/example-service/success">Explore the prototype page telling the user when they can expect to receive their pass</a>
              </p>
              </div>

              </details>
              <details>
              <summary><span class="summary">11. Collect contact details to notify users of progress</span></summary>
              <div class="panel panel-border-narrow">

              <p>
                Many users want to be informed of the progress of their application. To be able to notify users of their progress, you'll need to ask them for their preferred contact method and details.
              </p>
              <p>
                <a href="concessionary-travel/example-service/contact-notifications">Explore the prototype page asking users to provide their prefered contact details.</a>
              </p>
              </div>
            </details>
            <details>

            <summary><span class="summary">12. Use bus pass </span></summary>
                <div class="panel panel-border-narrow">

              <p>
                Bus passes are a physical plastic card that successful applicants can use on any bus in England. They need to either show it to the driver or scan on a card reader when they get onto the bus.
              </p>
              <p>
                In London, the pass is an Oyster card which the user scans on a card reader.
              </p>

              </div>

              </details>
            </details>
            <details>
            <summary><span class="summary">13. Renewals</span></summary>
            <div class="panel panel-border-narrow">
              <p>
                To reduce the possibility of fraud, bus passes need to have expiry dates no more than 5 years from the date of issue. (Specification 1.31 from the
                <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/3621/travelconcession.pdf">Department for Transport guidance</a>.)
              </p>
              <p>
                Your service should send a notification to the user through their preferred communication channel – email, text message or by post – when their bus pass is about to expire.
              </p>
              <p>
                In the future, councils will be able to send this reminder using
              <a href="https://www.gov.uk/government/publications/govuk-notify/govuk-notify">GOV.UK Notify</a>.
                        </p>
                        <p>
                            <a href="#">Explore the prototype renewal reminder email, text message and letter</a> (in progress)

                        </p>

                </div>

                </details>
              </li>
              </ol>
            </div>
            <!-- col two thirds -->
        </div>
    </main>
{% endblock %}
