{% extends "layout.html" %}

{% block page_title %}
  Service pattern for Apply online for a older person's concessionary travel pass
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_pattern.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="strapline">Service pattern for</span>
        Apply online for a older person's concessionary travel pass
      </h1>

      <p>
         This page is for people who work in local authorities in England. It outlines a common pattern used for delivering older person's concessionary travel services effectively. <a href="/">Read more about service patterns.</a>
      </p>

      <h2 class="heading-medium">What is the user need?</h2>
      <p>
        As people get older, they are more likely to not be fit to drive. They also often retire from work, so their income goes down. For both of these reasons, they are entitled to free off-peak local bus travel.
      </p>
      <p>
        This is made possible through the English National Concessionary Travel Scheme. The Department of Transport has <a href="https://www.gov.uk/government/publications/guidance-for-travel-concession-authorities-on-the-england-national-concessionary-travel-scheme">published guidance for councils</a> about this scheme.
      </p>

      <h2 class="heading-medium">What do councils need from users to deliver the service?</h2>
      <ul class="list list-bullet">
        <li>
          proof that the user lives in the area
        </li>
        <li>
          proof the user is old enough to be entitled to a pass
        </li>
        <li>
          a passport style photograph of the user to put on the pass
        </li>
      </ul>

      <h2 class="heading-medium">What is the user journey?</h2>
      <p>
        At a high level, these are the steps users should need to go through.
      </p>
      <h3 class="heading-small">1. Awareness</h3>
      <p>
        Users need to find out about their entitlement to concessionary travel. They may find out in a variety of ways, including but not limited to:
      </p>
      <ul class="list list-bullet">
        <li>
          a letter from the council when they are nearing the entitlement age
        </li>
        <li>
          signage on buses and bus stops, or trains and trains stations
        </li>
        <li>signage in a local library</li>
        <li>from district and borough councils</li>
        <li>through word of mouth</li>
      </ul>
      <p>
        Local authorities should try make sure the right information is being provided through these channels.
      </p>
      <h3 class="heading-small">2. Check you are the right age</h3>
      <p>
        Residents of England can get a bus pass for free travel when they reach the female State Pension age, whether they’re a man or a woman.
      </p>
      <p>
        Residents of London can travel free on buses, tubes and other transport when they’re 60, but only within London.
      </p>
      <p>
        Residents of Wales can get a bus pass when they reach 60.
      </p>
      <p>
        This means that users may need to check whether or not they are old enough for concessionary travel. <a href="https://www.gov.uk/state-pension-age/y/bus_pass">There's a page for this on GOV.UK.</a> Councils should link to this page on their service's start page. (See step 3.)
      </p>

      <h3 class="heading-small">3. Find the right council</h3>

      <p>
        Once the user has found out they can get a free travel pass, they need to get to the right council's website to apply. Users might start by typing 'older person bus pass' or a related term into a search engine, or they might start on their local council's website.
      </p>
      <p>
        <a href="https://www.gov.uk/apply-for-elderly-person-bus-pass">The older person's bus pass page on GOV.UK</a> should send them to the right council's website once they enter their postcode. Councils should make sure the postcodes that they serve are linked to the right page on their website and email any corrections to <a href="mailto:local-direct-admin@digital.cabinet-office.gov.uk">local-direct-admin@digital.cabinet-office.gov.uk</a>.
      </p>
      <p>
        Users may also go straight to the website for the council that they think they need to get a travel pass from. This makes it very important that councils clearly state which area their concessionary travel service serves as the user may be in the wrong place. Read the next section for details on this.
      </p>

      <h3 class="heading-small">4. Service start page</h3>
      <p>
        Now the user is in the right place, the page on the council's website should communicate:
      </p>
      <ul class="list list-bullet">
        <li>
          what the pass will allow its holder to do
        </li>
        <li>
          when the user is allowed to travel using the pass (The national bus concession in England is available at any time on a Saturday, Sunday or bank holiday, and from 9.30am to 11pm on any other day although some authorities offer extended travel times.)
        </li>
        <li>
          where the pass is valid
        </li>
        <li>
          how long the process of applying will take
        </li>
        <li>
          when they should expect to receive their bus pass once they've applied
        </li>
        <li>
          that they'll need to provide a passport style photograph
        </li>
        <li>
          that they'll need to login or signup using GOV.UK Verify
        </li>
        <li>
          what to do if they need assistance with the application
        </li>
      </ul>
      <a href="concessionary-travel/example-service/start-page">See the example service start page</a>

      <h3 class="heading-small">5. Prove you are a resident and are old enough to apply</h3>
      {% include 'common-content/proving-identity.html' %}
      <a href="concessionary-travel/example-service/prove-identity">See the example council page for telling users about proving their identity</a>
      <p>
        Using GOV.UK Verify, the user can securely prove their identity, address and age.
      </p>
      <a href="http://govuk-verify.herokuapp.com/intro?requestId=apply-for-bus-pass-argleton">Step through the GOV.UK Verify journey prototype</a> (username is pirate / password is bunting)

      <h3 class="heading-small">6. Confirm your address and eligibility</h3>
      <p>
        GOV.UK Verify will send the council the user's address, as known by the user's chosen identity provider. On returning from the GOV.UK Verify process, the council should ask the user to confirm whether or not this is their current address. This page can also ask the user to confirm they want the council to send the bus pass to the address they've received through GOV.UK Verify.
      </p>
      <a href="concessionary-travel/example-service/confirm-address">See the example page asking users to confirm their name and address</a>
      <p>
        If the user says the address returned is not correct, they are likely to be a new resident whose address has not been updated with their identity provider. The user should then be asked to enter their current address and warned that they must not enter false information.
      </p>
      <a href="concessionary-travel/example-service/incorrect-address">See the example page asking users to enter their current address</a>
      <p>
        Once the user has confirmed their address, the council should check that the given address is in the area the council serves. If the address is not in the area, the council should tell them they are not eligible in this area.
      </p>
      <a href="concessionary-travel/example-service/not-eligible-address">See the page telling the user they are not eligible because of their address</a>
      <p>
       If their address is eligible, then they should then ask them to confirm their date of birth. If users do not recognise the date of birth, they have probably not verified successfully and should contact the council to apply for their pass offline.
      </p>
      <a href="concessionary-travel/example-service/confirm-dob">See the page telling the user to confirm their date of birth</a>
      <p>
       At this point the councils should check their age, then tell the user whether or not they are eligible.
      </p>
      <ul class="list list-bullet">
        <li>
          <a href="concessionary-travel/example-service/not-eligible-age">See the page telling the user they are not eligible because of their age</a>
        </li>
        <li>
          <a href="concessionary-travel/example-service/eligible">See the page telling the user they are eligible</a>
        </li>
      </ul>

      <h3 class="heading-small">7. Upload passport style photograph</h3>

      <p>
        Bus passes need to have a photograph of the person who owns them, so that they can't be used by anybody else. It's a bus driver's responsibility to check the photo matches the user.
      </p>
      <p>
        Users can upload a digital passport style photograph for use on the bus pass, but they may need to be instructed how. The council website should ask the user whether or not they need instructions, and then step them through the process if they do.
      </p>
      <p>
        <a href="concessionary-travel/example-service/photo/need-photo">Step through the example guide for how to take and upload a passport style photograph</a>
      </p>

      <h3 class="heading-small">8. Sending the bus pass to the user</h3>

      <p>
        Once the user has uploaded their photograph, the council should tell the user their application is complete and reiterate when they can expect to receive their bus pass and that they will be posting it to the address they previously confirmed.
      </p>
      <p>
        The accompanying letter should also provide information on how, when and where the bus pass can be used, and what to do in case of a lost or stolen pass.
      </p>
      <p>
        <a href="concessionary-travel/example-service/photo/success">See the example page telling the user when they can expect to receive their pass</a>
      </p>

      <h3 class="heading-small">9. Use bus pass</h3>
      <p>
        Bus passes are a physical plastic card that users can use on any bus in England. They show it to the driver on the way onto the bus.
      </p>
      <p>
        In London, the pass is an Oyster card which the user scans on a reader.
      </p>

      <h3 class="heading-small">10. Renewals</h3>
      <p>
        To reduce the possibility of fraud, bus passes have expiry dates which must be no more than 5 years from the date of issue. (Specification 1.31 from the <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/3621/travelconcession.pdf">Department for Transport guidance</a>.)
      </p>
      <p>
        Councils should send a notification letter to users' address when their bus pass is about to expire.
      </p>
      <p>
        In the future, councils will be able to send this reminder using <a href="https://www.gov.uk/government/publications/govuk-notify/govuk-notify">GOV.UK Notify</a>.
      </p>
      <p>
        <a href="#">See the example notification letter to remind users to renew their pass</a> (page in progress)
      </p>
    </div> <!-- col two thirds -->
  </div>
</main>

{% endblock %}
