<div class="column-two-thirds">

  <p>
    We can send you a renewal reminder 30 days before your parking permit expires.
  </p>

  <p>
    <strong class="bold-medium">
    How do you want to receive your renewal reminder?
    </strong>
  </p>

  <form>
    <div class="form-group">
      <fieldset>

        <legend class="visually-hidden">
          How do you want to receive your renewal reminder?
        </legend>

        <label class="block-label selection-button-checkbox" data-target="contact-by-email-input" for="contact-by-email">
          <input id="contact-by-email" type="checkbox" name="checkbox-group" value="Yes">
          Email
        </label>
        <div class="panel panel-border-narrow js-hidden" id="contact-by-email-input">
          <label class="form-label" for="contact-email">Email address</label>
          <input class="form-control" name="contactEmail" type="text" id="contact-email" value="{{contactEmail}}">
        </div>

        <label class="block-label selection-button-checkbox" data-target="contact-by-text-input" for="contact-by-text">
          <input id="contact-by-text" type="checkbox" name="checkbox-contact-group" value="No">
          Text message
        </label>
        <div class="panel panel-border-narrow js-hidden" id="contact-by-text-input">
          <label class="form-label" for="contact-text-message">Mobile phone number</label>
          <input class="form-control" name="contactText" type="text" id="contact-text-message" value="{{contactText}}">
        </div>

        <label class="block-label selection-button-checkbox" data-target="contact-by-post-input" for="contact-by-post">
          <input id="contact-by-post" type="checkbox" name="checkbox-contact-group" value="No">
          By post
        </label>
        <div class="panel panel-border-narrow js-hidden" id="contact-by-post-input">
          <label class="form-label" for="contact-address">Address</label>
          <input class="form-control" name="contactPost" type="post" id="contact-post" value="{{contactPost}}">
        </div>

      </fieldset>
    </div>
  </form>

  <a class="button" role="button" href="success">Next</a>

</div>
