<div class="column-two-thirds">
  <form action="renewal-reminder" method="POST">
    <div class="form-group">
      <fieldset>

        <legend class="visually-hidden">
          How do you want to receive your confirmation messages?
        </legend>

        <label class="block-label selection-button-checkbox" data-target="contact-by-email-input" for="contact-by-email">
          <input id="contact-by-email" type="checkbox" name="contactChoice" value="Email">
          Email
        </label>
        <div class="panel panel-border-narrow js-hidden" id="contact-by-email-input">
          <label class="form-label" for="contact-email">Email address</label>
          <input class="form-control" name="contactEmail" type="text" id="contact-email">
        </div>

        <label class="block-label selection-button-checkbox" data-target="contact-by-text-input" for="contact-by-text">
          <input id="contact-by-text" type="checkbox" name="contactChoice" value="Text">
          Text message
        </label>
        <div class="panel panel-border-narrow js-hidden" id="contact-by-text-input">
          <label class="form-label" for="contact-text-message">Mobile phone number</label>
          <input class="form-control" name="contactText" type="text" id="contact-text-message">
        </div>

      </fieldset>
    </div>
  </form>
  <p>
    We'll send:
  </p>
  <ul class="list list-bullet">
    <li>
      1 message immediately with your application reference number
    </li>
    <li>
      1 message when we've sent your {{item}} – or if there's any problem with your application
    </li>
  </ul>

  <div class="spacer">

  </div>

<a href="renewal-reminder" class="button">Next</a>

</div>
