<div class="grid-row">
  <div class="column-half">
    <h2 class="heading-medium">Example photo</h2>
    <img src="{{asset_path}}images/image-m2-plain.jpg" alt="Example bus pass photo">

  </div>
  <div class="column-half">
    <h2 class="heading-medium">Your photo needs to</h2>
    <ul class="list list-bullet">
        <li>have a plain white background</li>
        <li>include your shoulders</li>
        <li>show your face clearly</li>
    </ul>
    <p>
      It can be landscape or portrait.
    </p>
  </div>
</div>
