<p>
  You can ask someone else to take your photo or take it yourself.
</p>
<p>
  <a href="#">Get help taking a photo</a>
</p>
<div class="grid-row">
  <div class="column-half">
    <h2 class="heading-medium">Example photo</h2>
    <img src="{{asset_path}}images/image-m2-plain.jpg" alt="Example bus pass photo">

  </div>
  <div class="column-half video-help-text">
    <h2 class="heading-small">Your photo needs to</h2>
    <ul class="list list-bullet">
        <li>have a plain white background</li>
        <li>include your shoulders</li>
        <li>show your face clearly</li>
    </ul>
  </div>
</div>
