<div class="grid-row example-photo-box">
  <div class="column-half">
    <h2 class="heading-medium">Make sure your photo</h2>
    <ul class="list list-bullet">
        <li>has a plain white background</li>
        <li>includes your shoulders</li>
        <li>shows your face clearly</li>
    </ul>
  </div>
  <div class="column-half">
    <!-- <h2 class="heading-medium">Example photo</h2> -->
    <img src="{{asset_path}}images/image-m2-plain.jpg" alt="Example bus pass photo">
    <p>
      Example photo
    </p>
  </div>
</div>
<div class="grid-row">
  <p>
    You can ask someone else to take your photo or take it yourself.
  </p>
</div>
