<div class="column-third">
  <!--  Page contents -->
  <div class="page-contents js-page-contents js-stick-at-top-when-scrolling js-sticky-resize" style="width: 212px;">
    <h2 class="heading-small page-contents__title">Page contents:</h2>
    <ul class="page-contents__list">
        <li><a href="#user-need">What is the user need?</a></li>
        <li><a href="#council-need">What do councils need?</a></li>
        <li><a href="#user-journey">What is the user journey?</a></li>
        <li><a href="#feedback">Feedback on this pattern</a></li>
    </ul>
  </div>
</div>
