<div class="column-two-thirds">
  <p>
    The only information GOV.UK Verify will share with {{council.name}} is:
  </p>
  <ul class="list list-bullet">
    <li>
      your name
    </li>
    <li>
      your address
    </li>
    {{'<li>your date of birth</li>' | safe if serviceString == 'concessionary-travel'}}
  </ul>
  <h2 class="heading-medium">
    Can we use this information when you {{serviceName | lower}}?
  </h2>
  <form>
    <div class="form-group">
      <fieldset class="inline">

      <legend class="visually-hidden">Can we use this information when you {{serviceName | lower}}?</legend>
      <label class="block-label selection-button-radio" for="radio-inline-1">
        {% if council.testChangeAddress and serviceString == 'parking-permit' %}
					<input id="radio-inline-1" type="radio" name="radio-group" value="https://govuk-verify-loa1.herokuapp.com/intro?requestId=parking-permit-{{council.string}}-new&userLOA=0">
        {% elif council.pploa1 and serviceString == 'parking-permit' %}
          <input id="radio-inline-1" type="radio" name="radio-group" value="https://govuk-verify-loa1.herokuapp.com/intro?requestId=parking-permit-{{council.string}}&userLOA=0">
        {% elif council.ctloa1 and serviceString == 'concessionary-travel' %}
            <input id="radio-inline-1" type="radio" name="radio-group" value="https://govuk-verify-loa1.herokuapp.com/intro?requestId=concessionary-travel-{{council.string}}&userLOA=0">
        {% else %}
          <input id="radio-inline-1" type="radio" name="radio-group" value="https://pirate:bunting@govuk-verify.herokuapp.com/intro?requestId={{ serviceString }}-{{council.string}}">
        {% endif %}
        Yes
      </label>
      <label class="block-label selection-button-radio" for="radio-inline-2">
        <input id="radio-inline-2" type="radio" name="radio-group" value="start-non-verify">
        No
      </label>

      </fieldset>
    </div>
    <div class="form-group">
        <button class="button">Next</button>
    </div>
  </form>
</div>
