  <p>
    The government standard for identity verification is <a href="https://www.gov.uk/government/publications/introducing-govuk-verify/introducing-govuk-verify">GOV.UK Verify</a>. Using GOV.UK Verify, the user can securely prove their identity. The service can also recieve the user's address and date of birth from GOV.UK Verify.
  </p>
  <p>
    Councils should offer an alternative to GOV.UK Verify as the service is not yet available to all UK citizens. This alternative could be an offline service.
  </p>
  <p>
    <a href="{{ serviceString }}/example-service/prove-identity">See the example council page for telling users about proving their identity</a>
  </p>
  <p>
      <a href="http://govuk-verify.herokuapp.com/intro?requestId={{ serviceString }}-argleton">Step through the GOV.UK Verify journey prototype</a> (username is pirate / password is bunting)
  </p>

</li>
<li>
    <h3 class="heading-small">If GOV.UK Verify can not verify the user's identity</h3>

    <p>Some users may not have the documents or credit records that GOV.UK Verify needs to prove their identity.</p>

    <ul class="list list-bullet">
      <li>
        GOV.UK Verify asks users questions to work out if they are likely to be verified, and if it looks like they won't be, they are shown the "<a href="https://govuk-verify.herokuapp.com/unlikely-to-verify?requestId={{serviceString}}-argleton&selection=true&above_age_threshold=false&resident_last_12_months=false&not_resident_reason=NoAddress">unlikely to verify</a>" page.
      </li>
      <li>
        A very small proportion of users will go through past these questions, but still not be able to verify their identity. These users will see a similar "<a href="">failed to verify</a>" page.
      </li>
    </ul>
    <p>
      Both these pages should link to the council's "non-verify route" - The same alternative route linked to from the "Prove Identity" page. In other words, if a user fails to verify for any reason, GOV.UK Verify should link them to the alternative digital service, which may involve manually scanning in documents for example.</p>
    <p>
      GOV.UK Verify should also tell the user about any non-digital ways of accessing the service, for example:
    </p>
    <ul class="list list-bullet">
        <li>
            A paper form to print, complete and return to the council</li>
        <li>A phone number to call to do the application over the phone</li>
        <li>A place (such as a council office or library) that the user can come and get help completing the application process</li>
    </ul>
    <p>
      Councils will provide details of the above alternative ways to access the service when integrating with GOV.UK Verify.
    </p>
    <p>
        <a href="{{ serviceString }}/example-service/add-address">See the example council page the user should see if they fail to verify</a>
    </p>
    <p>
        <a href="{{ serviceString }}/example-service/add-address">See the example council page for asking a user to scan in documents to prove their address</a>
    </p>
