<p>
  The government standard for identity verification is <a href="https://www.gov.uk/government/publications/introducing-govuk-verify/introducing-govuk-verify">GOV.UK Verify</a>. Using GOV.UK Verify, the user can securely prove their identity. The service can also recieve from GOV.UK Verify the user's address and date of birth.
</p>
<p>
  Councils should offer an alternative to GOV.UK Verify as the service is not yet available to all UK citizens. This alternative could be an offline service.
</p>
