<div class="column-two-thirds">

  <p>
    To make sure somebody else doesn't claim your parking permit, we need to make sure you are you.
  </p>
  <p>
    You can prove your identity with GOV.UK Verify to receive your permit quicker.
  </p>
  <div class="verify-box">

  {% set formTitle = 'Sign in with GOV.UK Verify' %}
  <form>
    <div class="form-group">
        <legend class="visually-hidden">{{formTitle}}</legend>

        <div class="column-one-third">
          <img src="{{asset_path}}/images/govuk-verify.svg" class="verify-logo" />
        </div>

        <div class="column-two-thirds">
          <h2 class="heading-medium">{{formTitle}}</h2>

          <fieldset>
            <label class="block-label selection-button-radio" data-target="contact-by-email" for="example-contact-by-email">
              <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
              This is my first time using Verify
            </label>

            <label class="block-label selection-button-radio" data-target="contact-by-email" for="example-contact-by-email">
              <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
              I've used Verify before
            </label>
          </fieldset>
          <input type="submit" value="Continue" class="button" />
      </fieldset>
        </div>

    </div>

  </form>

</div>


<div class="panel panel-border-wide">
  <h2 class="heading-medium">Or continue without GOV.UK Verify</h2>
  <p>
    You'll need to upload and scan documents, and your permit will take longer to arrive.
  </p>
  <p>
    <a href="#">I don't want to use GOV.UK Verify</a>
  </p>
</div>

</div>
