<p>
  The government standard for identity verification is <a href="https://www.gov.uk/government/publications/introducing-govuk-verify/introducing-govuk-verify">GOV.UK Verify</a>. Using GOV.UK Verify, the user can securely prove their identity. The service can also recieve the user's address and date of birth from GOV.UK Verify.
</p>
<p>
  Councils should offer an alternative to GOV.UK Verify as the service is not yet available to all UK citizens. This alternative could be an offline service.
</p>
<p>
  <a href="{{ serviceString }}/example-service/prove-identity">See the example council page for telling users about proving their identity</a>
</p>
<p>
    <a href="http://govuk-verify.herokuapp.com/intro?requestId={{ serviceString }}-argleton">Step through the GOV.UK Verify journey prototype</a> (username is pirate / password is bunting)
</p>
