<div class="column-two-thirds">
  {% if council.permitWait < 1 and item == "resident's parking permit" %}
    {% set nextPage = 'success-digi-permit' %}
  {% else %}
    {% set nextPage = 'success' %}
  {% endif %}
  <form action="{{nextPage}}" method="POST">
    <div class="form-group">
      <fieldset>

        <legend class="visually-hidden">
          How do you want to receive your renewal reminder?
        </legend>
        <p>
          We can send you a renewal reminder 30 days before your {{item}} expires.
        </p>
        <p>
          <strong class="bold-medium">
            How do you want to receive your renewal reminder?
          </strong>
        </p>
        <label class="block-label selection-button-checkbox" data-target="contact-by-email-input" for="contact-by-email">
          <input id="contact-by-email" type="checkbox" name="renewalsChoice" value="Email">
          Email
        </label>
        <div class="panel panel-border-narrow js-hidden" id="contact-by-email-input">
          <label class="form-label" for="contact-email">Email address</label>
          <input class="form-control" name="contactEmail" type="text" id="contact-email" value="{{contactEmail}}">
        </div>

        <label class="block-label selection-button-checkbox" data-target="contact-by-text-input" for="contact-by-text">
          <input id="contact-by-text" type="checkbox" name="renewalsChoice" value="Text">
          Text message
        </label>
        <div class="panel panel-border-narrow js-hidden" id="contact-by-text-input">
          <label class="form-label" for="contact-text-message">Mobile phone number</label>
          <input class="form-control" name="contactText" type="text" id="contact-text-message" value="{{contactText}}">
        </div>

        <label class="block-label selection-button-checkbox" data-target="contact-by-post-input" for="contact-by-post">
          <input id="contact-by-post" type="checkbox" name="renewalsChoice" value="Post">
          By post
        </label>
        <div class="panel panel-border-narrow js-hidden" id="contact-by-post-input">
          <div class="ask_location">
            <div class="form-group">
              <label class="form-label" for="building-and-street">
                Building name and/or number and street
              </label>
              <input class="form-control" id="building-and-street" name="building-and-street" type="text">
              <input class="form-control" id="building-and-street" name="building-and-street" type="text">
            </div>
            <div class="form-group">
              <label class="form-label" for="town-or-city">
                Town or city
              </label>
              <input class="form-control medium-width" id="town-or-city" name="town-or-city" type="text">
            </div>
            <div class="form-group">
              <label class="form-label" for="postcode">
                Postcode
              </label>
              <input class="form-control" id="postcode" name="postcode" type="text">
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    <input type="submit" class="button" role="button" value="Next">
  </div>
