<h2 class="heading-medium">About your GOV.UK Verify account</h2>

<p>
  You can also reuse your GOV.UK Verify account on other government services such as:
</p>

<ul class="list-bullet list">
  <li><a href="https://www.gov.uk/claim-redundancy">claim your redundancy payment and monies owed</a></li>
  <li><a href="https://www.gov.uk/check-state-pension">check your State Pension</a></li>
  <li><a href="https://www.gov.uk/renew-medical-driving-licence">renew your short-term medical driving licence</a></li>
  <li><a href="https://www.gov.uk/help-friends-family-tax">help friends and family with their tax</a></li>
  <li><a href="https://www.gov.uk/report-driving-medical-condition">report a medical condition that affects your driving</a></li>
  <li><a href="https://www.gov.uk/view-driving-licence">view or share your driving licence information</a></li>
  <li><a href="https://www.universal-credit.service.gov.uk/sign-in">complete your claim or access your Universal Credit account</a></li>
  <li><a href="https://www.gov.uk/update-company-car-details">check or update your company car tax</a></li>
  <li><a href="https://www.gov.uk/check-income-tax-current-year">check your income tax for the current year</a></li>
  <li><a href="https://www.gov.uk/log-in-file-self-assessment-tax-return/if-youre-already-registered">complete your Self Assessment</a></li>
  <li><a href="https://www.gov.uk/personal-tax-account">sign in to your personal tax account</a></li>
</ul>
