{% set thisTab = 'Permit' %}
{% set pageTab = 'Design' %}
{% extends "pp_layout.html" %}
{% block page_content %}
<p>
	This is for Permit section
<p>
	Linked to from <a href="/service-patterns/concessionary-travel/identity/design">identity section</a>.
</p>
	{% set annotationsContent = [
		{
			"position": "top: 40%; left: 70%",
			"content":
			"<p>
				Copy tells the users the maximum of number of permits their household can have.
			</p>"
		},{
			"position": "top: 50%; left: 70%",
			"content":
			"<p>
				The user is told who can use the permits.
			</p>"
		},{
			"position": "top: 58%; left: 40%",
			"content":
			"<p>
				Radio buttons allow the user to select the number of permits they want to apply for.
			</p>"
		},{
			"position": "top: 85%; left: 40%",
			"content":
			"<p>
				Copy details how long the permit is for, as applicable. If the council only offers a 12 month permit, the copy would be: \'Permits are for 12 months\'.
			</p>"
		}
		]
		%}
	<div class="annotated-image-container">
		<div class="annotated-image">
			<img src="{{asset_path}}images/ppscreenshot/howmany.png" />
			<ol class="list upload-help">
				{% for annotation in annotationsContent %}
				<li style="{{annotation.position}}">
					<a href="#{{loop.index}}">
						<h2 class="heading-small"><span class="circle circle-step-large">{{loop.index}}</span></h2>
					</a>
				</li>
				{% endfor %}
			</ol>
		</div>
		<a href="/service-patterns/parking-permit/example-service/resident-count" target="_blank">How many permits example council page</a>
	</div>
	<ol class="list upload-help big-number-list">
		{% for annotation in annotationsContent %}
		<li id="{{loop.index}}">
			<h2 class="heading-small">
				<span class="circle circle-step-large">{{loop.index}}</span>
			</h2>
			<div class="circle-list-item">
				<h3 class="heading-small">{{annotation.header}}</h3>
				{{annotation.content | safe}}
			</div>
		</li>
		{% endfor %}
</ol>
<p>
The next page in the flow asks users to enter their vehicle registration number(s):
</p>
	<div class="annotated-image-container">
		<div class="annotated-image">
			<img src="{{asset_path}}images/ppscreenshot/vehregnumber.png" />
		<span><a href="/service-patterns/parking-permit/example-service/enter-reg" target="_blank">Check if you need a permit example council page</a></span>
	</div>
	</div>
	<p>
	 Users then select a start date option:
	</p>
	<div class="annotated-image-container">
		<div class="annotated-image">
			<img src="{{asset_path}}images/ppscreenshot/whenstart.png" />
			<ol class="list upload-help">
				<li style="top: 61%; right: 60%;">
					<a href="#6">
						<h2 class="heading-small"><span class="circle circle-step-large">5</span></h2>
					</a>
				</li>
				<a href="/service-patterns/parking-permit/example-service/resident-choice" target="_blank">Select permit type example council page</a>
				</div>
			</div>
			<p>
			 A screen listing streets in the parking permit zone area for the user's postcode, plus a street map, displays when the user clicks the parking zone area link. They return to the the select permit type via the call to action link.
			</p>
			<div class="annotated-image-container">
				<div class="annotated-image">
					<img src="{{asset_path}}images/ppscreenshot/parkingareastreets.png" />
				<span><a href="/service-patterns/parking-permit/example-service/parking-zone-map" target="_blank">Parking permit area example council page</a></span>
			</div>
			</div>
			<div class="annotated-image-container">
				<div class="annotated-image">
					<img src="{{asset_path}}images/ppscreenshot/parkingareamap.png" />
				<span><a href="/service-patterns/parking-permit/example-service/parking-zone-map" target="_blank">Parking permit area example council page</a></span>
			</div>
			</div>

<p>
	The user is then routed to the <a href="/service-patterns/parking-permit/payment/design">payment section</a>.
</p>

{% endblock %}
