{% set thisTab = 'Permit' %}
{% set pageTab = 'Policy' %}

{% extends "pp_layout.html" %}

{% block page_content %}

	<p>
		This section is for users to specify their permit needs:
	</p>
	<ul class="list list-bullet">
		<li>
			number of permits
		</li>
		<li>
			permit length (6 months or 12 months are recommended options)
		</li>
		<li>
			permit start date
		</li>
	</ul>
	<h2 class="heading-medium">Protecting against permit resale</h2>
	<p>
		To prevent people from reselling permits, councils require users to assoicate permits with a vehicle. To do this, users must enter their vehicle registration number.
	</p>

	<h2 class="heading-small">Additional protection</h2>
	<p>
		For high fraud risk areas, councils require users to prove that they own the car for additional protection against permit resale.
	</p>
	<p>
		In future, councils will be able to access data from DVLA to prove vehicle ownership.
	</p>
	<p>
		Currently, some councils ask users to scan their V5C, or another document associating the user with the vehicle. This is not a secure method for proving vehicle ownership because the document is not validated against records, so this is not recommended.
	</p>
	<h2 class="heading-medium">Permit price</h2>
	<p>
		Price of permits goes up incrementally to deter residents from giving their resident permits to visitors.
	</p>
	<p>
		In some councils, the permit price also varies depending on the vehicle type, emissions, make or other conditions.
	</p>
	<h2 class="heading-medium">Addtional vehicle description for enforcement officers</h2>
	<p>
	 Some councils ask for make, model and vehicle colour to give to the enforcement officers. This has not been shown to be an effective way of improving enforcement of permits.
	</p>


{% endblock %}
