{% extends "layout.html" %}

{% block page_title %}
  User research for the parking start page
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  
  <div class="breadcrumbs">
    <ol>
      <li>
          <a href="http://gov.uk/service-toolkit">Service toolkit</a>
      </li>
      <li>
          <a href="/">Local government service patterns</a>
      </li>
      <li>
          <a href="/service-patterns/concessionary-travel">Apply for an older person's concessionary travel pass</a>
      </li>
      <li>
          User research
      </li>
    </ol>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Concessionary travel start page</h1>
      <h2 class="heading-medium">What we learnt</h2>
      <p>what we learnt bla bla.</p>
      <p>what we learnt bla bla.</p>
      <h2 class="heading-medium">What we changed</h2>
      <p>What we did bla bla.</p>
      <p>What we did bla bla.</p>
    </div>


  </div>

  
</main>

{% endblock %}