{% extends "layout_picker.html" %}

{% block page_title %}
  {{council.name}} - Apply for an older person's bus pass in Argleton
{% endblock %}

{% block content %}

<main id="content" role="main">
<div class="back">
    <a href="javascript:history.back()">&#9664; Back</a>
  </div>
  <h1 class="heading-xlarge">Enter your current address</h1>

  <div>
      <form method="post">
          <fieldset>
              <legend class="visuallyhidden">Enter current address</legend>

              <div class="ask_location">
                <div class="form-group">
                  <label class="form-label-bold" for="building-and-street">
                    Building name and/or number and street
                    </label>
                    <input class="form-control" id="building-and-street" name="building-and-street" type="text">
                    <input class="form-control" id="building-and-street" name="building-and-street" type="text">
                </div>
                <div class="form-group">
                  <label class="form-label-bold" for="town-or-city">
                    Town or city
                    </label>
                    <input class="form-control medium-width" id="town-or-city" name="town-or-city" type="text">
                </div>
                <div class="form-group">
                  <label class="form-label-bold" for="postcode">
                    Postcode
                    </label>
                    <input class="form-control" id="postcode" name="postcode" type="text">
                </div>

              </div>
          </fieldset>
      </form>
  </div>

</div>

  <a class="button" role="button" href="add-poa">Next</a>


</main>

{% endblock %}
