{% extends "layout_picker.html" %}

{% block page_title %}
  {{council.name}} - Apply for a parking permit in {{council.shortName}}
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">Add proof of address</h1>

  <p>This could be any one of the following:</p>
  <ul class="list list-bullet">
        <li> a recent council tax bill</li>
        <li> a recent utility bill</li>
        <li> a tenancy agreement</li>
  </ul>

  <p>
    The document must be in your name and billed to your current address.
  </p>

  {% include 'common-content/address-upload.html' %}

</main>

{% endblock %}
