{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a resident's parking permit" %}
{% set pageTitle = "Add proof of address" %}

{% block content %}

<div class="column-two-thirds">

  <p>This could be any one of the following:</p>
  <ul class="list list-bullet">
        <li> a recent council tax bill</li>
        <li> a recent utility bill</li>
        <li> a tenancy agreement</li>
  </ul>

  <p>
    The document must be in your name and billed to your current address.
  </p>

  {% include 'common-content/address-upload.html' %}

</div>

{% endblock %}
