{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a resident's parking permit" %}
{% set pageTitle = "How do you want to pay?" %}

{% block content %}

<div class="column-two-thirds">

	  	<form class="radio-nav">
				<div class="form-group">
					<label id="label-debitcard" class="block-label" for="radio-debitcard">
					    <input id="radio-debitcard" type="radio" name="radio-group" value="enter-card">
					    Credit or debit card
					</label>

					<label id="label-directdebit" class="block-label" for="radio-directdebit">
					    <input id="radio-directdebit" type="radio" name="radio-group" value="direct-debit-payment">
					    Direct one-off payment from your bank account
				  	</label>
<!--
			  	<label id="label-paypal" class="block-label" for="radio-paypal">
				    <input id="radio-paypal" type="radio" name="radio-group" value="paypal-payment">
				    PayPal
			  	</label> -->

        </div>
<p>There are no additional charges for any payment method.</p>
				<div class="form-group">
			 		<button class="button">Continue</button>
			 	</div>
			</form>
		</div>

</div>


{% endblock %}
