{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a resident's parking permit" %}
{% set pageTitle = "Confirm address" %}

{% block content %}

<div class="column-two-thirds">

  <p>
    GOV.UK Verify has sent us your most recent verified address:
  </p>
  <div class="panel panel-border-wide">
    <p>
      Jane Smith<br />
      1A {{council.shortName}} High Street<br />
      {{council.shortName}}<br />
      ARG1 4HP<br />
    </p>
  </div>
  <h2 class="heading-medium">Is this your current address?</h2>
  <form action="eligible" method="get" class="form">
    <div class="form-group">
      <fieldset class="inline">

        <legend class="visually-hidden">Is this your name and address?</legend>

        <label class="block-label selection-button-radio" for="radio-inline-1">
          <input id="radio-inline-1" type="radio" name="radio-group" value="eligible">
          Yes
        </label>
        <label class="block-label selection-button-radio" for="radio-inline-2">
          <input id="radio-inline-2" type="radio" name="radio-group" value="incorrect-address">
          No
        </label>

      </fieldset>
    </div>
    <div class="form-group">
      <input class="button" type="submit" value="Next">
    </div>
  </form>

</div>

{% endblock %}
