{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a resident's parking permit" %}
{% set pageTitle = "Confirm vehicle details" %}

{% block content %}

<div class="column-two-thirds">

  <p>
    We've received these details from DVLA:
  </p>

  {% set vehicleColours = ['Red', 'Blue', 'Silver', 'Blue'] %}
  {% set vehicleMakes = ['LAND ROVER', 'FORD', 'VOLKSWAGEN', 'BMW'] %}

  <table>
    {% for registerNumber in registerNumbers %}
      <tr class="grouped">
        <th>
          <h2 class="heading-medium">Vehicle {{ loop.index }}</h2>
        </th>
      </tr>
      <tr>
        <th>Registration number</th>
        <th>{{ registerNumber }}</th>
      </tr>
      <tr>
        <th>Vehicle colour</th>
        <th>{{ vehicleColours[loop.index] }}</th>
      </tr>
      <tr>
        <th>Vehicle make</th>
        <th>{{ vehicleMakes[loop.index] }}</th>
      </tr>
    {% endfor %}
  </table>

  <h2 class="heading-medium">Are these vehicle details correct?</h2>

  <form class="form">
    <div class="form-group">
      <fieldset class="inline">

        <legend class="visually-hidden">Are these vehicle details correct?</legend>

        <label class="block-label selection-button-radio" for="radio-inline-1">
          <input id="radio-inline-1" type="radio" name="confirmVehicleDetails" value="Yes">
          Yes
        </label>
        <label class="block-label selection-button-radio" for="radio-inline-2">
          <input id="radio-inline-2" type="radio" name="confirmVehicleDetails" value="No">
          No
        </label>

      </fieldset>
    </div>

    {% if council.testv5cScan %}
      {% set nextPage = 'v5c-upload' %}
    {% elif council.testv5cnumber %}
      {% set nextPage = 'v5c-number' %}
    {% elif council.userChooseStartDate %}
      {% set nextPage = 'permit-start' %}
    {% elif council.sixmonth %}
      {% set nextPage = 'permit-length' %}
    {% elif council.permitsCosts[0] > 0 or council.permitsCosts.length > 1 %}
      {% set nextPage = 'pre-payment' %}
    {% else %}
      {% set nextPage = 'contact-reference' %}
    {% endif %}

    <div class="form-group">
      <a class="button" href="{{ nextPage }}">Next</a>
    </div>
  </form>

</main>

{% endblock %}
