{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a resident's parking permit" %}
{% set pageTitle = "Is this your current address?" %}

{% block content %}

<div class="column-two-thirds">
  <div class="panel panel-border-wide">
    <p>
      Jane Smith<br />
      1A {{council.shortName}} High Street<br />
      {{council.shortName}}<br />
      ARG1 4HP<br />
    </p>
  </div>
  <form action="confirm-adress" method="get" class="form">
    <div class="form-group">
      <fieldset class="inline">

        <legend class="visually-hidden">Is this your name and address?</legend>

				{% if council.permitMax > 1 %}
					{% set nextPage = 'resident-count' %}
				{% else %}
					{% set nextPage = 'enter-reg' %}
				{% endif %}

        <label class="block-label selection-button-radio" for="radio-inline-1">
          <input id="radio-inline-1" type="radio" name="radio-group" value="{{nextPage}}">
          Yes
        </label>
        <label class="block-label selection-button-radio" for="radio-inline-2">
          <input id="radio-inline-2" type="radio" name="radio-group" value="add-new-address">
          No
        </label>

      </fieldset>
    </div>
    <p>
      This is the most recent address for you that GOV.UK Verify was able to verify.</p>
    <p>
      We'll use your address to check for any existing permits and to send out your new permit(s).
    </p>
    <div class="form-group">
      <input class="button" type="submit" value="Next">
    </div>
  </form>

</div>

{% endblock %}
