{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a resident's parking permit" %}
{% set pageTitle = "Confirm vehicle details" %}

{% block content %}

<div class="column-two-thirds">
  {% set r = residentAmount %}
  {# set default as 1 #}
  {% if not r %}
    {% set r = 1 %}
  {% endif %}
  <p>
    We've received these details from DVLA:
  </p>

  {# No idea why I need to add this, but for some reason nunjucks is behaving strangely here #}
  {% set r = r / 10 %}
  {% set r = r * 10 %}
  {% for i in range(0, r) %}
    <h3 class="heading-small">Vehicle {{i + 1}}</h3>
    <table>
      <tr>
        <th>
          Registration number
        </th>
        <th>
          {{vehicles[i].reg}}
        </th>
      </tr>
      <tr>
        <th>
          Vehicle make
        </th>
        <th>
          {{vehicles[i].make}}
        </th>
      </tr>
      <tr>
        <th>
          Cylinder capacity (cc)
        </th>
        <th>
          {{vehicles[i].cc}}
        </th>
      </tr>
      <tr>
        <th>
          CO₂ emissions
        </th>
        <th>
          {{vehicles[i].emissions}}
        </th>
      </tr>
    </table>
  {% endfor %}

  <h2 class="heading-medium">Are these vehicle details correct?</h2>

  <form class="form">
    <div class="form-group">
      <fieldset class="inline">

        <legend class="visually-hidden">Are these vehicle details correct?</legend>

        <label class="block-label selection-button-radio" for="radio-inline-1">
          <input id="radio-inline-1" type="radio" name="answer" value="Yes">
          Yes
        </label>
        <label class="block-label selection-button-radio" for="radio-inline-2">
          <input id="radio-inline-2" type="radio" name="answer" value="No">
          No
        </label>

      </fieldset>
    </div>
    <div class="form-group">
      <a class="button" href="permit-details">Next</a>
    </div>
  </form>

</main>

{% endblock %}
