{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a resident's parking permit" %}
{% set pageTitle = "Making your payment" %}
{% set s = 's' if permitRequestData.permitRequests.length > 1 else '' %}

{% block content %}
<div class="column-two-thirds">
<p>
You're about to make the following payment:
</p>
<div class="grid-row review-details">
	  <div class="check-details">

	  	<table>
		    <tbody>
		      <tr>
		        <td>Card number:</td>
		        <td class="table-info">**** **** **** {{cardNumber.substr(cardNumber.length - 4) if cardNumber else 1234 }}</td>
		      </tr>
		      <tr>
		       <td>Expiry date:</td>
		        <td class="table-info">{{expMonth}}/{{expYear}}</td>
		      </tr>
		      <tr>
		        <td>Name on card:</td>
		        <td class="table-info">{{cardName}}</td>
		      </tr>
		      <tr>
		        <td>Billing address:</td>
		        <td class="table-info">{{buildingStreet}}, {{townCity}}, {{postcode}}</td>
		      </tr>
		       <tr>
		        <td>Email address:</td>
		        <td class="table-info">{{email}}</td>
		      </tr>
		      <tr>
		        <td>Payment of:</td>
            <td class="table-info">
              {{ permitRequestData.permitRequests.length }}
              resident's parking permit{{s}}
            </td>
		      </tr>
		      <tr>
		        <td>Amount to pay:</td>
		        <td class="table-info">
			        £{{ permitRequestData.totalSum }}
						</td>
		      </tr>
		    </tbody>
  		</table>
		</div>
</div>

	<div class="grid-row">
			<div class="form-group">
		 			<a href="contact-preference"><button class="button">Pay now</button></a>
		 		</div>
		 		<div class="back">
				<a href="#">Cancel payment</a>
			</div>
		 </div>
		 </div>
	 </div>

{% endblock %}
