{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a resident's parking permit" %}
{% set pageTitle = "Sign up for confirmation and alerts" %}

{% block content %}

<div class="column-two-thirds">
<p>We'll send you a confirmation of your payment{% if council.permitWait > 0 %} and an alert when your permit is on it's way{% endif %}.</p>

<h2 class="heading-medium">How do you want to be contacted?</h2>
<p>
  Select one option.
</p>
<form method="post" action="success">
  <div class="form-group">
    <fieldset>

      <legend class="visually-hidden">How do you want to be contacted?</legend>

      <label class="block-label selection-button-radio" data-target="contact-by-email" for="example-contact-by-email">
        <input id="example-contact-by-email" type="radio" name="contactChoice" value="Email">
        Email
      </label>
      <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
        <label class="form-label" for="contact-email">Email address</label>
        <input class="form-control" name="contact-email" type="text" id="contact-email">
      </div>

      <label class="block-label selection-button-radio" data-target="contact-by-phone" for="example-contact-by-phone">
        <input id="example-contact-by-phone" type="radio" name="contactChoice" value="Phone">
        Automated phone call
      </label>
      <div class="panel panel-border-narrow js-hidden" id="contact-by-phone">
        <label class="form-label" for="contact-phone">Phone number</label>
        <input class="form-control" name="contact-phone" type="text" id="contact-phone">
      </div>

      <label class="block-label selection-button-radio" data-target="contact-by-text" for="example-contact-by-text">
        <input id="example-contact-by-text" type="radio" name="contactChoice" value="Text">
        Text message
      </label>
      <div class="panel panel-border-narrow js-hidden" id="contact-by-text">
        <label class="form-label" for="contact-text-message">Mobile phone number</label>
        <input class="form-control" name="contact-text-message" type="text" id="contact-text-message">
      </div>

      <label class="block-label selection-button-radio" for="no-contact">
        <input id="no-contact" type="radio" name="contactChoice" value="No">
        I don't want to receive a confirmation or progress alerts
      </label>

    </fieldset>
  </div>
  <div class="form-group">
    <input type="submit" class="button" name="Continue">
  </div>
</form>

</div>

{% endblock %}
