{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a resident's parking permit" %}
{% set pageTitle = "Your address is in South Argleton" %}

{% block content %}

<div class="column-two-thirds">

  <p>
		At the start of your application you entered a postcode in the {{council.parkingBoundary}} parking area. However, your verified address is in the <a href="#">South Argleton parking area</a> .
	</p>
	<p>
		12 month resident's parking permits for South Argleton cost £120 for the first permit. Additional 12 month permits cost £160.
  </p>
  <p>
    6 month permits cost £60.
	</p>
	{% if council.permitMax > 1 %}
		{% set nextPage = 'resident-count' %}
	{% else %}
		{% set nextPage = 'enter-reg' %}
	{% endif %}
	<a class="button" role="button" href="{{nextPage}}">Continue</a>

</div>

{% endblock %}
