{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a resident's parking permit" %}
{% set pageTitle = "Your address is in South Argleton" %}

{% block content %}

<div class="column-two-thirds">

  <p>
		At the start of your application you entered a postcode within {{council.parkingBoundary}}, but your address is within <a href="#">South Argleton</a>.
	</p>
	<p>
		12 month resident's permits in South Argleton cost £120 for the first permit, and £160 for additional permits. 6 month permits are half the price.
	</p>
	<a class="button" role="button" href="resident-count">Continue</a>

</div>

{% endblock %}
