{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a resident's parking permit" %}
{% set pageTitle = "You are eligible for parking permits in " + council.parkingBoundary %}

{% block content %}

<div class="column-two-thirds">

  <p>
    Parking permits allow you to park in {{council.parkingBoundary}} 24 hours a day.
  </p>
  <p>
    {{'Your household' if council.limitByHousehold else 'You'}} can buy up to {{council.permitMax}} resident's parking permits.
  </p>
  <p>
    You can also buy additional permits for your guests.
  </p>

  <a class="button" role="button" href="resident-count">Next</a>

</div>

{% endblock %}
