{% extends "layout_picker.html" %}

{% block page_title %}
  Argleton County Council - Apply for a resident's parking permit in Argleton
{% endblock %}

{% block content %}

<main id="content" role="main">
<div class="back">
		<a href="javascript:history.back()">&#9664; Back</a>
	</div>

  <h1 class="heading-xlarge">You are eligible for a parking permit in Argleton</h1>

  <p>
    The permit will allow you to park in the city centre 24 hours a day.
  </p>

  <a class="button" role="button" href="enter-reg">Next</a>


</main>

{% endblock %}
