{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a resident's parking permit" %}
{% set s = 's' if permitRequestData.permitRequests.length > 1 else '' %}
{% set pageTitle = "Enter vehicle registration number" + s %}

{% block content %}

<div class="column-two-thirds">

  {# residentAmount is a string and must be converted to a number 😒 #}
  {% set parkingPermitCount = residentAmount * 1 if residentAmount else 1 %}
  {% set s = 's' if parkingPermitCount > 1 else '' %}

  <p>
    You've chosen {{ parkingPermitCount }} resident's parking permit{{s}}.
  </p>

  {% if council.DVLAAPIenforcement %}

    <p>
      We need your vehicle's registration number{{s}} to:
    </p>

    <ul class="list list-bullet">
      <li>
        look up your vehicle make, colour and tax status using DVLA's records
      </li>
      <li>
        link your permit{{s}} to your vehicle{{s}}
      </li>
    </ul>

  {% else %}

    <p>
      We need your vehicle's registration number{{s}} to link your permit{{s}} to your vehicle{{s}}.
    </p>

  {% endif %}

  <h2 class="heading-medium">Enter your vehicle's registration number{{s}}</h2>

  {% if council.DVLAAPIenforcement %}
    {% set nextPage = 'confirm-vehicle-details' %}
  {% elif council.testv5cScan %}
    {% set nextPage = 'v5c-upload' %}
  {% elif council.testv5cnumber %}
    {% set nextPage = 'v5c-number' %}
  {% elif unverifiedAddress %}
    {% set nextPage = 'pre-payment' %}
  {% elif council.userChooseStartDate %}
    {% set nextPage = 'permit-start' %}
  {% elif council.sixmonth %}
    {% set nextPage = 'permit-length' %}
  {% elif council.permitsCosts[0] > 0 or council.permitsCosts.length > 1 %}
    {% set nextPage = 'pre-payment' %}
  {% else %}
    {% set nextPage = 'contact-reference' %}
  {% endif %}
  <div class="form-group">
      <form method="post" action="{{ nextPage }}">
          <fieldset>
              {% if parkingPermitCount > 1 %}
                {% for i in range(0, parkingPermitCount) %}
                  <legend class="visuallyhidden">Vehicle {{i + 1}}</legend>
                  <div class="form-group">
                      <label class="form-label" for="postcode">Vehicle {{ i + 1 }}</label>
                      <input class="reg-number form-control" id="reg-number-{{i}}" name="registerNumbers[{{i}}]" type="text" aria-invalid="false" value="">
                  </div>
                {% endfor %}
              {% else %}
                <div>
                  <input class="reg-number form-control" id="reg-number-{{i}}" name="registerNumbers[{{i}}]" type="text" aria-invalid="false" value="">
                </div>
              {% endif %}
          </fieldset>
					<p>
					  {{ council.name }} will store your vehicle registration data securely on our own system.
					</p>
          <input class="button" type="submit" value="Next">
      </form>
  </div>

</div>

{% endblock %}
