{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a resident's parking permit" %}
{% set pageTitle = "House in multiple occupation" %}

{% block content %}

  <div class="column-two-thirds">
      <p>
        If you live in a rented property with shared facilities – like a shower or kitchen – with at least 3 other people who're not related or married to each other, you may be eligible for a free parking permit.
      </p>
      <p>
        Ask your landlord if the property you're living in is registered as a <a href="https://www.gov.uk/house-in-multiple-occupation-licence">house in multiple occupation</a>.
      </p>
      {% if council.hmo == "online" %}
      <p>
        If you are you can apply online for a free parking permit, as your address will be recognised as a house in multiple occupation.
      </p>
      {% else %}
      <p>
        If you are you can apply by phone:
        <br>
        0300 083 0013<br>
        Monday to Friday, 8am to 7pm<br>
        Saturday, 8am to 2pm<br>
        <a href="https://www.gov.uk/call-charges">Find out about call charges</a>
      </p>
      {% endif %}
      <a href="start-page" class="button">Back to application</a>

    </div>

  {% endblock %}
