{% extends "layout_picker.html" %}

{% block page_title %}
  {{council.name}} - Apply for a resident's parking permit in {{council.shortName}}
{% endblock %}

{% block content %}

<main id="content" role="main">
<div class="back">
    <a href="javascript:history.back()">&#9664; Back</a>
  </div>
  <h1 class="heading-xlarge">Have you recently moved in?</h1>

  <p>
    Did you move into your address before the 17th April 2016?
  </p>

  <form>
    <div class="form-group">
      <fieldset class="inline">

        <legend class="visually-hidden">Did you move into your address before the 17th April 2016?
</legend>

        <label class="block-label selection-button-radio" for="radio-inline-1">
          <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
          Yes
        </label>
        <label class="block-label selection-button-radio" for="radio-inline-2">
          <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
          No
        </label>

      </fieldset>
    </div>
    <div class="form-group">
      <!-- <input class="button" type="submit" value="Next"> -->
      <a href="eligible" class="button">Next</a>
    </div>
  </form>

</main>

{% endblock %}
