{% extends "layout_picker.html" %}

{% set serviceName = "Park your car or vehicle" %}
{% set pageTitle = "You need a parking permit" %}

{% block content %}

<div class="column-two-thirds">

	{#
		Postcodes:

		Sunderland - SR2 7LE

	 #}

  <p>
    {{postcode}} is within the {{council.parkingBoundary}} Community Parking Management Scheme, so you'll need a permit to park. <a href="parking-zone-map">Access map</a>
  </p>

  <details>

	  <summary><span class="summary">Streets in this parking permit area</span></summary>

	  <div class="panel panel-border-narrow">
	    <p>With a parking permit you can park on:
	    </p>
			{% include 'service-patterns/parking-permit/streets/'+council.string+'.html' ignore missing %}

	  </div>

	</details>

</div>

<div class="column-two-thirds">

	<div class="spacer"></div>


  <a class="button button-start" href="resident-choice" role="button">Select permit type</a>


</div>

{% endblock %}
