{% extends "layout_picker.html" %}

{% set serviceName = "Park your car or vehicle" %}
{% set pageTitle = "You need a parking permit" %}

{% block content %}

<div class="column-two-thirds">

  <p>
    {{postcode}} is within the Ashbrooke and Thornholme Community Parking Management Scheme, so you'll need a permit to park.
  </p>
  <details>

  <summary><span class="summary">Streets in this parking permit area</span></summary>

  <div class="panel panel-border-narrow">
    <p>With this parking permit you can park on:
    </p>
    <p>
      Alice Street, numbers 1 to 50
    <br>
      Argle Square, numbers 1 to 80
    <br>
      Argle Street, numbers 1 to 50
    <br>
      Ashmore Street, numbers 5 to 50
    <br>
      Ashwood Street, number 3 to 218
    <br>
      Ashwood Terrace, numbers 1 to 80
    <br>
      Avenue Terrace, numbers 1 to 35
    <br>
      Azalea Avenue, numbers 1 to 40
    <br>
      Azalea Terrace North, numbers 3 to 50
    <br>
      Azalea Terrace South, numbers 3 to 60
    <br>
      Beechwood Street, numbers 1 to 80
    <br>
      Berry Vale Road, numbers 3 to 35
    <br>
      Carlyon Street, numbers 1 to 25
    <br>
      Cresswell Terrace, numbers 3 to 50
    <br>
      Cross Vale Road, numbers 3 to 60
    <br>
      Derby Street, numbers 3 to 50
    <br>
      Elmwood Street, numbers 3 to 55
    <br>
      Elwin Terrace, numbers 3 to 45
    <br>
      Ennerdale, numbers 1 to 35
    <br>
      Haverlock Street, numbers 3 to 70
    <br>
      Lorne Terrace, numbers 1 to 60
    <br>
      Princess Street, numbers 1 to 40
    <br>
      Shakespeare Terrace, numbers 1 to 60
    <br>
      The Avenue, numbers 3 to 35
    <br>
      Thornhill Gardens, numbers 1 to 40
    <br>
      Thornhill Park, numbers 1 to 55
    <br>
      Valebrooke Avenue, numbers 3 to 25
    <br>
      Worcester Street, numbers 1 to 25
    <br>
      Worcester Terrace, numbers 3 to 15
    </p>

  </div>

</details>
  <p>
		The shaded area on the map below shows where you can park:
  </p>

	<link rel="stylesheet" href="{{asset_path}}stylesheets/cartodb.css" />

	<div id="map"></div>
	
	<div class="spacer"></div>

  <a class="button button-start" href="resident-choice" role="button">Select permit type</a>


</div>

{% endblock %}
