{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a resident's parking permit" %}
{% set pageTitle = "New resident permits" %}

{% block content %}

<div class="column-two-thirds">

  <p>
    Because you've recently moved, we haven't been able to prove your address using GOV.UK Verify.
  </p>
  <p>
    You can still apply for a temporary resident’s permit, which expires in 3 months. Shortly before it expires, re-apply for the 6 or 12 month resident’s parking permit – by that time, GOV.UK Verify should be able to verify your address, as there will be a credit history for you at the new address.
  </p>

  <a class="button" role="button" href="resident-count">Next</a>

</div>

{% endblock %}
