{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a resident's parking permit" %}
{% set pageTitle = "Your address already has a parking permit" %}

{% block content %}

<div class="column-two-thirds">

  <p>
    Residents of {{council.shortName}} are eligible for one parking permit per address. Your address already has a parking permit, so you can not get another one.
  </p>
  <p>
    If you don't have one it's possible that a former resident has a parking permit that needs to be cancelled.
  <p>
    <a href="#">Contact the council</a> to get a former resident's permit cancelled or if you think there has been a mistake.
  </p>

</div>

{% endblock %}
