{% extends "layout_argleton.html" %}

{% block page_title %}
  Argleton County Council - Apply for a resident's parking permit in Argleton
{% endblock %}

{% block content %}


<main id="content" role="main">
<div class="back">
    <a href="javascript:history.back()">&#9664; Back</a>
  </div>
  <h1 class="heading-xlarge">Your address already has a parking permit</h1>

  <p>
    Residents of Argleton are eligible for one parking permit per address. Your address already has a parking permit, so you can not get another one.
  </p>
  <p>
    As you've said you recently moved in, it's possible that a former resident has a parking permit that needs to be cancelled.
  </p>
  <p>
    Please <a href="#">contact the council</a> to get a former resident's permit cancelled or if you have further questions.
  </p>




</main>

{% endblock %}
