{% extends "layout_argleton.html" %}

{% block page_title %}
  Argleton County Council - Apply for a resident's parking permit in Argleton
{% endblock %}

{% block content %}


<main id="content" role="main">
<div class="back">
		<a href="javascript:history.back()">&#9664; Back</a>
	</div>
  <h1 class="heading-xlarge">You already have a permit in Argleton</h1>

  <p>
    Residents of Argleton are eligible for one parking permit each. You already have a parking permit, so you can not get another one.
  </p>
  <p>
    Please <a href="#">contact the council</a> if you think this is a mistake or you have further questions.
  </p>




</main>

{% endblock %}
