{% extends "layout_argleton.html" %}

{% block page_title %}
  Argleton County Council - Apply for a resident's parking permit in Argleton
{% endblock %}

{% block content %}


<main id="content" role="main">
<div class="back">
    <a href="javascript:history.back()">&#9664; Back</a>
  </div>
  <h1 class="heading-xlarge">Your address already has a permit</h1>

  <p>
    Residents of Argleton are eligible for one parking permit per address. Your address already has a parking permit, so you can not get another one.
  </p>
  <p>
    As you've said somebody else lives at your address, it's possible that another resident has bought a permit.
  </p>
  <p>
    Please <a href="#">contact the council</a> if you think this is a mistake or you have further questions.
  </p>




</main>

{% endblock %}
