{% extends "layout_picker.html" %}

{% block page_title %}
  {{council.name}} - Apply for a resident's parking permit in {{council.shortName}}
{% endblock %}

{% block content %}


<main id="content" role="main">
<div class="back">
		<a href="javascript:history.back()">&#9664; Back</a>
	</div>
  <h1 class="heading-xlarge">You are not eligible for a parking permit in {{council.shortName}}</h1>

  <p>
    Because you do not live in {{council.shortName}}, you are not eligible for a parking permit.
  </p>
  <p>
    You can <a href="https://www.gov.uk/parking-permit">find your local council</a> to apply for a permit in your area or <a href="#">contact {{council.name}}</a> if you have any further questions.  </p>




</main>

{% endblock %}
