{% extends "layout_argleton.html" %}

{% block page_title %}
  Argleton County Council - Apply for a resident's parking permit in Argleton
{% endblock %}

{% block content %}


<main id="content" role="main">
<div class="back">
		<a href="javascript:history.back()">&#9664; Back</a>
	</div>
  <h1 class="heading-xlarge">You are not eligible for a parking permit in Argleton</h1>

  <p>
    Because you do not live in Argleton, you are not eligible for a parking permit.
  </p>
  <p>
    To find which council you should contact to apply for a parking permit you can use the <a href="https://www.gov.uk/parking-permit">GOV.UK postcode checker.</a> 
  </p>




</main>

{% endblock %}
