{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a resident's parking permit" %}
{% set pageTitle = "We cannot issue you any more parking permits" %}

{% block content %}

<div class="column-two-thirds">

  <p>
    {% if council.limitByHousehold %}
      {% if council.permitMax==1 %}
        Only 1 parking permit can be issued for each eligible address, so you cannot get another one.
      {% else %}
        We've already issued the maximum of {{council.permitMax}} parking permits for this address, so you cannot get another one.
      {% endif %}
    {% else %}
      {% if council.permitMax==1 %}
        Residents of {{council.shortName}} are eligible for one parking permit each, so you cannot get another one.
      {% else %}
        Residents of {{council.shortName}} are eligible for {{council.permitMax}} parking permits each, so you cannot get another one.
      {% endif %}
    {% endif %}
  </p>
  <p>
    If you think there has been a mistake <a href="#">contact us</a>.

    It's possible that there are old permits which need to be cancelled.
  </p>

</div>

{% endblock %}
