{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a parking permit" %}
{% set pageTitle = "Your parking permit area" %}

{% block content %}

<div class="column-two-thirds">
  <p>
    SR2 7LE is within the Ashbrooke and Thornholme Community Parking Management Scheme.
  </p>
  <details>

  <summary><span class="summary">Streets in this parking permit area</span></summary>

  <div class="panel panel-border-narrow">
    <p>With this parking permit you can park on:
    </p>
    <p>
      Alice Street, numbers 1 to 50
    <br>
      Argle Square, numbers 1 to 80
    <br>
      Argle Street, numbers 1 to 50
    <br>
      Ashmore Street, numbers 5 to 50
    <br>
      Ashwood Street, number 3 to 218
    <br>
      Ashwood Terrace, numbers 1 to 80
    <br>
      Avenue Terrace, numbers 1 to 35
    <br>
      Azalea Avenue, numbers 1 to 40
    <br>
      Azalea Terrace North, numbers 3 to 50
    <br>
      Azalea Terrace South, numbers 3 to 60
    <br>
      Beechwood Street, numbers 1 to 80
    <br>
      Berry Vale Road, numbers 3 to 35
    <br>
      Carlyon Street, numbers 1 to 25
    <br>
      Cresswell Terrace, numbers 3 to 50
    <br>
      Cross Vale Road, numbers 3 to 60
    <br>
      Derby Street, numbers 3 to 50
    <br>
      Elmwood Street, numbers 3 to 55
    <br>
      Elwin Terrace, numbers 3 to 45
    <br>
      Ennerdale, numbers 1 to 35
    <br>
      Haverlock Street, numbers 3 to 70
    <br>
      Lorne Terrace, numbers 1 to 60
    <br>
      Princess Street, numbers 1 to 40
    <br>
      Shakespeare Terrace, numbers 1 to 60
    <br>
      The Avenue, numbers 3 to 35
    <br>
      Thornhill Gardens, numbers 1 to 40
    <br>
      Thornhill Park, numbers 1 to 55
    <br>
      Valebrooke Avenue, numbers 3 to 25
    <br>
      Worcester Street, numbers 1 to 25
    <br>
      Worcester Terrace, numbers 3 to 15
    </p>

  </div>

</details>
  <p>The shaded area on the map below shows where you can park:
  </p>
<iframe src="https://www.google.com/maps/d/embed?mid=1l5Gkx4H-I4aESpbEN2Nsa_fLlus" width="100%" height="500px"></iframe>
<br>
<br>

  <a class="button button-start" href="prove-identity" role="button">Back to resident's start page</a>


</div>

{% endblock %}
