{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a resident's parking permit" %}

{# setup residentAmount #}
{% set r = residentAmount %}
{# set default as 1 #}
{% if not r %}
  {% set r = 3 %}
{% endif %}

{# setup pageTitle #}
{% if r > 1 %}
  {% set pageTitle = "How long will you need your permits?" %}
{% else %}
  {% set pageTitle = "How long will you need your permit?" %}
{% endif %}

{# setup singleCost variable #}
{% if council.permitsCosts[0] - council.permitsCosts[council.permitsCosts.length-1] == 0 %}
  {% set singleCost = council.permitsCosts[0] %}
{% endif %}

{# setup sixmonthchoice macro #}
{% macro sixmonthchoice() %}
  {% if(council.permitsCosts[0] > 0) %}
    {% set halfCost = council.permitsCosts[0] / 2 %}
    {% set halfCost = halfCost.toFixed(2) %}
    {% set fullCost = council.permitsCosts[0].toFixed(2) %}
  {% else %}
    {% set halfCost = 0 %}
    {% set fullCost = 0 %}
  {% endif %}
  <form action="{{ "contact-reference" if freePermit else "pre-payment" }}" method="post">
    <div class="form-group">
      <fieldset>

        <label class="block-label selection-button-radio" for="radio-2">
          <input id="radio-2" type="radio" name="permitChoice" value="6 month">
          <span class="heading-small">6 month permit</span> - costs £{{halfCost}}
        </label>
        <label class="block-label selection-button-radio" for="radio-3">
          <input id="radio-3" type="radio" name="permitChoice" value="12 month">
          <span class="heading-small">12 month permit</span> - costs £{{fullCost}}
        </label>

      </fieldset>
    </div>

    <p>
      You'll set the permit start date in the next step.
    </p>

    <input type="submit" class="button" value="Next" />

  </form>
{% endmacro %}

{# start of the content #}
{% block content %}
<div class="column-two-thirds">

  {{ sixmonthchoice() }}

</main>

{% endblock %}
