{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a resident's parking permit" %}
{% set pageTitle = "Add permit details" %}

{% block content %}

<div class="column-two-thirds">

<h2 class="heading-medium">Enter permit start date</h2>
<p>For example, 12 APR 17</p>
  <div>
<form method="post">
          <fieldset>

            <div class="form-date">

              <div class="form-group form-group-day">
                <label for="dobDay">Day</label>
                <input type="text" autocomplete="off" class="form-control" id="dobDay" name="dobDay">
              </div>
              <div class="form-group form-group-month">
                <label for="dobMonth">Month</label>
                <input type="text" autocomplete="off" class="form-control" id="dobMonth" name="dobMonth">
              </div>
              <div class="form-group form-group-year">
                <label for="dobYear">Year</label>
                <input type="text" autocomplete="off" class="form-control" id="dobYear" name="dobYear">
              </div>
            </div>
</fieldset>
      </form>
  </div>

<h2 class="heading-medium">Select permit length</h2>

<form>
  <div class="form-group">
    <fieldset>

      <legend class="visually-hidden">permit length</legend>

      <label class="block-label selection-button-radio" for="radio-2">
        <input id="radio-2" type="radio" name="radio-group" value="6 months">
        6 months
      </label>
      <label class="block-label selection-button-radio" for="radio-3">
        <input id="radio-3" type="radio" name="radio-group" value="12 months">
        12 months
      </label>

    </fieldset>
  </div>
</form>

<div>

   <a class="button" role="button" href="contact-details">Next</a>
</div>



</main>

{% endblock %}
