{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a resident's parking permit" %}
{% set pageTitle = "Choose a permit" %}

{% block content %}

<div class="column-two-thirds">

  {% if council.permitsCosts[0] - council.permitsCosts[council.permitsCosts.length-1] == 0 %}
  {% set singleCost = council.permitsCosts[0] %}
  {% endif %}

  {% if council.customPriceLogic or singleCost %}
  
    <p>
      Your parking permit options are:
    </p>

  {% else %}

    <p>
      We've received these details from DVLA:
    </p>

    <table>
      <tr>
        <th>
          Registration number
        </th>
        <th>
          KS53 UTW
        </th>
      </tr>
      <tr>
        <th>
          Vehicle make
        </th>
        <th>
          VOLKSWAGEN
        </th>
      </tr>
      <tr>
        <th>
          Cylinder capacity (cc)
        </th>
        <th>
          1984cc
        </th>
      </tr>
      <tr>
        <th>
          CO₂ emissions
        </th>
        <th>
          192 g/km
        </th>
      </tr>
    </table>

    <p>
      Based on this information, your parking permit options are:
    </p>

  {% endif %}


{% if(council.permitsCosts[0] > 0) %}
{% set halfCost = council.permitsCosts[0] / 2 %}
{% set halfCost = halfCost.toFixed(2) %}
{% set fullCost = council.permitsCosts[0].toFixed(2) %}
{% else %}
{% set halfCost = 0 %}
{% set fullCost = 0 %}
{% endif %}
{% if(council.permitsCosts[0] === 0) %}
{% set freePermit = true %}
{% endif %}

{% if council.userChooseStartDate %}
{% set formTarget = "permit-details"  %}
{% else %}
{% if freePermit %}
{% set formTarget = "contact-reference"  %}
{% else %}
{% set formTarget = "pre-payment"  %}
{% endif %}
{% endif %}

<form action="{{formTarget}}" method="post">
  <div class="form-group">
    <fieldset>

      <legend class="visually-hidden">permit length</legend>

      <label class="block-label selection-button-radio" for="radio-2">
        <input id="radio-2" type="radio" name="permitChoice" value="6 month">
        <span class="heading-small">6 month permit</span> - costs £{{halfCost}}
      </label>
      <label class="block-label selection-button-radio" for="radio-3">
        <input id="radio-3" type="radio" name="permitChoice" value="12 month">
        <span class="heading-small">12 month permit</span> - costs £{{fullCost}}
      </label>

    </fieldset>
  </div>

{% if council.userChooseStartDate==true %}
  <p>
    You'll set the permit start date in the next step.
  </p>
{% endif %}
  <input type="submit" class="button" value="Next" />

</form>



</main>

{% endblock %}
