{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a resident's parking permit" %}

{# setup residentAmount #}
{% set r = residentAmount %}
{# set default as 1 #}
{% if not r %}
  {% set r = 3 %}
{% endif %}

{# setup pageTitle #}
{% if r > 1 %}
  {% set pageTitle = "How long will you need your permits?" %}
{% else %}
  {% set pageTitle = "How long will you need your permit?" %}
{% endif %}


{# setup sixmonthchoice macro #}
{% macro sixmonthchoice(showTotal, i) %}
  <label class="block-label selection-button-radio" for="radio-6m-{{i}}">
    <input id="radio-6m{{'-'+i}}" type="radio" name="{{i}}permitChoice" value="6 month">
    <span class="heading-small">6 months</span>
  </label>
  <label class="block-label selection-button-radio" for="radio-12m{{'-'+i}}">
    <input id="radio-12m{{'-'+i}}" type="radio" name="{{i}}permitChoice" value="12 month">
    <span class="heading-small">12 months</span>
  </label>
{% endmacro %}

{# start of the content #}
{% block content %}
<div class="column-two-thirds">
  <form action="{{ "contact-reference" if freePermit else "pre-payment" }}" method="post">
    <div class="form-group">
      <fieldset>

        {{ sixmonthchoice(true) }}

        {% if r > 1 %}
          <label class="block-label selection-button-radio" for="radio-3" data-target="multi-lengths">
            <input id="radio-3" type="radio" name="permitChoice" value="12 month">
            <span class="heading-small">Different lengths</span>
          </label>
          <div class="panel panel-border-narrow js-hidden" id="multi-lengths">
            {% set r = r / 10 %}
            {% set r = r * 10 %}
            {% for i in range(1, r + 1) %}
              <div class="form-group">
                <h3 class="heading-small">Vehicle {{i}}</h3>
                {{ sixmonthchoice(false, i) }}
              </div>
            {% endfor %}
          </div>
        {% endif %}

      </fieldset>
    </div>

    <input type="submit" class="button" value="Next" />

  </form>

</main>

{% endblock %}
