{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a resident's parking permit" %}
{% set pageTitle = "Paying for your permit" %}

{% block content %}

<div class="column-two-thirds">


  
    {% if council.payOnline %}
      <p>
        You're about to pay for:
      </p>
    {% else %}
      <p>
        Once we have processed and approved your application, we will contact you for payment. You will be able to pay over the phone by either a debit/credit card (no service charges apply).
      </p>
      
      <p>
        You will need to pay for:
      </p>
      
    {% endif %}
  

  <table>
    <tr>
      <th>
        Permit type
      </th>
      <th>
        Resident's parking permit
      </th>
    </tr>
    <tr>
      <th>
        Permit length
      </th>
      <th>
        {{permitChoice}}
      </th>
    </tr>
    <tr>
      <th>
        Start date
      </th>
      <th>
        {{ niceStartDate }}
      </th>
    </tr>
    <tr>
      <th>
        Expiry date
      </th>
      <th>
        {{ niceEndDate }}
      </th>
    </tr>
    <tr>
      <th>
        Cost
      </th>
      <th>
        {% set halfCost = council.permitsCosts[0] / 2 %}
        £{{ halfCost.toFixed(2) if permitChoice == '6 month' else council.permitsCosts[0].toFixed(2)}}
      </th>
    </tr>
  </table>
  {% if council.payOnline %}
    <a class="button" role="button" href="choose-payment">Next</a>
  {% else %}
    <a class="button" role="button" href="contact-reference">Next</a>
  {% endif %}
</main>

{% endblock %}
