{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a resident's parking permit" %}

{# setup residentAmount #}
{% set r = residentAmount %}
{# set default as 1 #}
{% if not r %}
  {% set r = 1 %}
{% endif %}

{# setup pageTitle #}
{% if r > 1 %}
  {% set pageTitle = "Paying for your permits" %}
{% else %}
  {% set pageTitle = "Paying for your permit" %}
{% endif %}

{% macro permitTable(i) %}
  <table>
    <tr>
      <th>
        Permit type
      </th>
      <th>
        Resident's parking permit
      </th>
    </tr>
  <tr>
    <th>
      Vehicle registration
    </th>
    <th>
      {{data.vehicleData[i].reg}}
    </th>
  </tr>
  <tr>
    <th>
      Permit length
    </th>
    <th>
      {{ data.dateData.multiPermitsLength }}
    </th>
  </tr>
  <tr>
    <th>
      Start date
    </th>
    <th>
      {{ data.dateData.niceStartDate }}
    </th>
  </tr>
  <tr>
    <th>
      Expiry date
    </th>
    <th>
      {{ data.dateData.niceEndDate }}
    </th>
  </tr>
  <tr>
    <th>
      Cost
    </th>
    <th>
      {% set halfCost = council.permitsCosts[0] / 2 %}
      £{{ halfCost.toFixed(2) if permitLength == '6 month' else council.permitsCosts[0].toFixed(2)}}
    </th>
  </tr>
</table>
{% endmacro %}

{% block content %}

<div class="column-two-thirds">

  {% if council.payOnline %}
    <p>
      You're about to pay for:
    </p>
  {% else %}
    <p>
      Once we have processed and approved your application, we will contact you for payment. You will be able to pay over the phone by either a debit/credit card (no service charges apply).
    </p>
    <p>
      You will need to pay for:
    </p>
  {% endif %}

  {% if residentAmount > 1 %}
    {% set r = r / 10 %}
    {% set r = r * 10 %}
    {% for i in range(0, r) %}
      <h3 class="heading-small">Vehicle {{i + 1}}</h3>
      {{ permitTable(i) }}
    {% endfor %}
  {% else %}
    {{ permitTable() }}
  {% endif %}

  {% if council.payOnline %}
    <a class="button" role="button" href="choose-payment">Next</a>
  {% else %}
    <a class="button" role="button" href="contact-reference">Next</a>
  {% endif %}
</main>

{% endblock %}
