{% extends "layout_argleton.html" %}

{% block page_title %}
  Argleton County Council - Apply for a resident's parking permit in Argleton
{% endblock %}

{% block content %}

<main id="content" role="main">
<div class="back">
    <a href="javascript:history.back()">&#9664; Back</a>
  </div>
  <h1 class="heading-xlarge">Verifying your identity</h1>

  <p>
    To apply for a parking permit, we'll need to verify your identity.
  </p>
  <div class="panel panel-border-wide">
    <p>
      You'll receive your permit faster if you verify your identity with GOV.UK Verify.
    </p>
  </div>
  <div class="grid-row">
    <div class="column-half choose-left-column">
      <p>
        To use GOV.UK Verify you'll need a UK passport, photocard driving licence or bank statement.
      </p>
      <div class="error-summary hidden" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
        <ul class="error-summary-list">
          <li><a href="#example-personal-details">You must agree to share your details from GOV.UK Verify</a></li>
        </ul>
      </div>
      <form class="allow-verify-box">
        <fieldset>
          <label class="block-label selection-button-checkbox" id="confirm_allow_verify_label" for="confirm_allow_verify" class="selection-button-checkbox">
            <input id="confirm_allow_verify" name="confirm_allow_verify" value="True" type="checkbox">
            I agree to Argleton council using my name and address provided by GOV.UK Verify
          </label>
        </fieldset>
      </form>
      <button class="button button-start" role="button">GOV.UK Verify</button>
      <div><a href="http://govuk-verify.herokuapp.com/intro?requestId=apply-for-parking-permit-argleton&verify=false"> Fail to verify journey</a>
    </div>
    </div>
    <div class="column-half">
      <h3 class="heading-small">Other ways to apply</h3>

      <p>
        You can use this service without using GOV.UK Verify.
      </p>

      <p>
        Your permit will take longer to arrive as additional checks will be required. You will also be required to upload a proof of address such as a council tax bill, tenancy agreement, utility bill or recent bank statement
      </p>
      <a href="add-poa">Continue without verifying</a>
    </div>
  </div>


</main>

{% endblock %}
