{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a resident's parking permit" %}
{% set pageTitle = "Checking your identity" %}

{% block content %}
<p>
  You can apply for this service using <a href="https://www.gov.uk/government/publications/introducing-govuk-verify/introducing-govuk-verify">GOV.UK Verify</a> the new way to prove who you are online:
</p>
<p>
  <ul class="list list-bullet">
    <li>
      creating an account takes about 15 minutes
    </li>
    <li>
      the rest of the application takes around 2 minutes
    </li>
    <li>
      permits usually take <b class="font-strong"> {{council.permitWait}} working days </b> to arrive
      {% if council.tempPermit == true %}
      {% endif %}
    <li>
      you'll get a temporary permit at the end of your online application
    </ul>
  </p>
  <p>
    Or apply without using Verify:
    <ul class="list list-bullet">
    <li>find, scan and upload documents – this could take up to 20 minutes
    </li>
    <li>
      the rest of the application takes around 2 minutes
    </li>
    <li>
      permits usually take 10 working days to arrive
    </li>
    <li>
      you won't receive a temporary permit
    </li>
  </ul>
</p>

  {% set serviceString = "parking-permit" %}
  {% include 'common-content/prove-identity.html' %}


{% endblock %}
