{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a parking permit" %}
{% set pageTitle = "Apply for a resident's parking permit" %}

{% block content %}

<div class="column-two-thirds">

  <p>
    If you're a resident of {% if council.boundaryLink %}<a href="{{council.boundaryLink}}">{{council.parkingBoundary}}</a>{% else %} {{council.parkingBoundary}}{% endif %} you can buy a resident's parking permit to park near your home 24 hours a day, 7 days a week.</p>
  <p>
    You're allowed a maximum {% if council.permitMax==1 %} 1 permit {% else %} up to {{council.permitMax}} permits
    {% endif %} per {% if council.limitByHousehold %}
            household.
          {% else %}
            resident
          {% endif %}
        </li>
        {% if council.permitWait < 1 %}
        <li>
          you won't receive a physical permit – wardens will check your vehicle's registration number
        </li>
        {% else %}
      </p>
  <p>
    If you don't live in {{council.shortName}}, <a href="https://www.gov.uk/find-local-council">find your local council</a>.</p>
  <h2 class="heading-medium">Costs</h2>
  <p>
    Your first permit costs {{"£51 for 12 months, or £25.50 for 6 months."if council.sixmonth else "£51 for 12 months"}} The cost of additional permits is higher. If the area where you live is divided into parking zones, permit costs may be different for different zones.
  </p>
  <p>
    If you live in a <a href="https://www.gov.uk/private-renting/houses-in-multiple-occupation">house of multiple occupancy</a> or drive a low emissions 'eco' vehicle your parking permit is free.
  </p>
  <p>
    Blue Badge holders do not need a resident's parking permit.
  </p>
  <h2 class="heading-medium">How to apply online</h2>
  <p>
    You can apply for this service using GOV.UK Verify:
  </p>
  <p>
    <ul class="list list-bullet">
      <li>
        if don't have an account it'll take about 15 minutes to create one and you can use it for other services afterwards, the rest of the application takes around 2 minutes
      </li>
      <li>
        permits usually take <b class="font-strong"> {{council.permitWait}} working days </b> to arrive
        {% if council.tempPermit == true %}
        and you'll get a temporary permit to use until it arrives
        {% endif %}
      </li>
        {% endif %}
      </ul>
    </p>
    <p>
      Or apply without using Verify:
      <ul class="list list-bullet">
      <li>you'll need to find, scan and upload documents as part of your application which could take up to 20 minutes, the rest of the application takes around 2 minutes
      </li>
      <li>
        permits usually take 10 working days to arrive and you won't receive a temporary permit
      </li>
    </ul>
  </p>

  <h2 class="heading-medium">What you'll need</h2>
<p>
  <ul class="list list-bullet">
    <li>
ablity to prove you live in Argleton city centre
</li>
<li>
car registration number
</li>
<li>
V5C registration document (local rule)
</li>
<li>
to answer security questions or upload documents to prove who you are
</li>
</ul>
</p>
  <a class="button button-start" href="prove-identity" role="button">Apply for a resident's parking permit</a>

  <p>
    This service is for new applications. You can also:
  </p>
  <ul class="list list-bullet">
    <li>
      <a href="#">replace a lost or stolen parking permit</a>
    </li>
    <li>
      <a href="#">renew an expired parking permit</a>
    </li>
    <li>
      <a href="#">apply for a Blue Badge</a>
    </li>
  </ul>
  <p>
    If you need assistance using the online service, <a href="#">contact {{ council.name }}</a>.
  </p>

  <details>
     <summary><span class="summary">Other ways to apply</span></summary>
     <div class="panel panel-border-narrow">
      <h3 class="heading-small">Apply by phone</h3>
      <p>0300 083 0013<br>
      Monday to Friday, 8am to 7pm<br>
      Saturday, 8am to 2pm<br>
       <a href="#">Find out about call charges</a></p>

      <h2 class="heading-small">Apply by post</h2>
      <p>
      send an <a href="#">application form</a> or a letter with the following information to {{council.name}}:
      <li>a scanned copy of a council tax statement </li>
      <li>a scanned copy of a form of identity to prove your age</li> </p>
      <p>Send your request to: </p>
      <p>Concessionary travel pass office<br>
      {{council.name}}<br>
      12-14 Kings road <br>
      {{council.shortName}} <br>
      AG3 4HP </p>
    </div>
  </details>

</div>

{% endblock %}
