{% extends "layout_picker.html" %}

{% set serviceName = "Park your car or vehicle" %}
{% set pageTitle = "Why do you need to park?" %}

{% block content %}

<div class="column-two-thirds">

		{% if council.string == 'oxfordshire' %}
    <p>
      You need a permit to park here because {{postcode}} is in the <a href="parking-zone-map">East Oxford parking zone</a>.
		</p>
		{% else %}
		<p>
      You need a permit to park here because {{postcode}} is in the <a href="parking-zone-map">{{council.parkingBoundary}} parking zone</a>.
		</p>
		{% endif %}

		{% if council.string == 'oxfordshire' %}
		<h2 class="heading-medium">Details of excluded properties</h2>
		<p>
		  The following properties are not eligible for a permit
		</p>


		<table>
			<tbody>
				<tr>
					<td><strong>House / Flat number</strong></td>
					<td><strong>Street name</strong></td>
					<td><strong>Details of the exclusion</strong></td>
					<td><strong>Parking zone</strong></td>
				</tr>
				<tr>
					<td class="text-align-centre">1</td>
					<td>Circus Street</td>
					<td>No permits allowed</td>
					<td>EO</td>
				</tr>
				<tr>
					<td class="text-align-centre">3</td>
					<td>Circus Street</td>
					<td>Only 1 residential parking permit allowed</td>
					<td>EO</td>
				</tr>
				<tr>
					<td class="text-align-centre">12</td>
					<td>Circus Street</td>
					<td>Only the ground floor flat is eligible for 1 residential parking permit</td>
					<td>EO</td>
				</tr>
			</tbody>
		</table>

		{% endif %}
    
		<form class="radio-nav">
  	  <div class="radio-with-bullets">
  	    <label class="block-label selection-button-radio" for="radio-1">
  	      <input id="radio-1" type="radio" name="radio-group" value="resident-start">
  				<span class="heading-small">I live here</span>
  				<p>
  					Apply for a resident's parking permit application
  				</p>
  	    </label>

  	    <label class="block-label selection-button-radio" for="radio-2">
  	      <input id="radio-2" type="radio" name="radio-group" value="visitor-start">
  				<span class="heading-small">I have a visitor</span>
  				<p>
  					Apply for a visitor's permit
  				</p>
  	    </label>

        <label class="block-label selection-button-radio" for="radio-3">
          <input id="radio-3" type="radio" name="radio-group" value="business-start">
          {% if council.string == 'sunderland' %}
  				<span class="heading-small">I own a business here</span>
          {% else %}
          <span class="heading-small">I work here</span>
          {% endif %}
  				<p>
            Apply for a trade and business permit
  				</p>
        </label>
  		</div>
  	  <div class="form-group">
  	    <button class="button">Continue</button>
  	  </div>
  	</form>


</div>

{% endblock %}
