{% extends "layout_picker.html" %}

{% set serviceName = "Park your car or vehicle" %}
{% set pageTitle = "Why do you need to park?" %}

{% block content %}

<div class="column-two-thirds">


    <p>
      You need a permit to park here because {{postcode}} is in the <a href="parking-zone-map">{{council.parkingBoundary}} parking zone</a>.</p>
    <form class="radio-nav">
  	  <div class="radio-with-bullets">
  	    <label class="block-label selection-button-radio" for="radio-1">
  	      <input id="radio-1" type="radio" name="radio-group" value="resident-start">
  				<span class="heading-small">I live here</span>
  				<p>
  					Apply for a resident's parking permit application
  				</p>
  	    </label>

  	    <label class="block-label selection-button-radio" for="radio-2">
  	      <input id="radio-2" type="radio" name="radio-group" value="visitor-start">
  				<span class="heading-small">I have a visitor</span>
  				<p>
  					Apply for a visitor's permit
  				</p>
  	    </label>

        <label class="block-label selection-button-radio" for="radio-3">
          <input id="radio-3" type="radio" name="radio-group" value="business-start">
          {% if council.string == 'sunderland' %}
  				<span class="heading-small">I own a business here</span>
          {% else %}
          <span class="heading-small">I work here</span>
          {% endif %}
  				<p>
            Apply for a trade and business permit
  				</p>
        </label>
  		</div>
  	  <div class="form-group">
  	    <button class="button">Continue</button>
  	  </div>
  	</form>


</div>

{% endblock %}
