{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a parking permit" %}
{% set pageTitle = "Apply for a resident's parking permit" %}

{% block content %}

<div class="column-two-thirds">
    As a resident of {{council.parkingBoundary}} you can buy a permit to park near your home 24 hours a day, 7 days a week.
  </p>
  <p>
    You're allowed a maximum {% if council.permitMax==1 %} 1 permit {% else %} of {{council.permitMax}} permits {% endif %} per {% if council.limitByHousehold %} household.{% else %}resident.{% endif %}
  </p>
  {% if council.permitWait < 1 %}
    <li>
      you won't receive a physical permit – wardens will check your vehicle's registration number
    </li>
  {% endif %}
  <h2 class="heading-medium">Costs</h2>
	{% if council.permitsCosts[0] > 0 %}
		{% set halfCost = council.permitsCosts[0] / 2%}
			<p>
				Your first permit costs {{"£"+council.permitsCosts[0]+" for 12 months, or £"+halfCost.toFixed(2)+" for 6 months."if council.sixmonth else "£"+council.permitsCosts[0]+" for 12 months"}} The cost of additional permits is higher.
			</p>
	{% else %}
		{% set halfCost = council.permitsCosts[1] / 2%}
		<p>
			Your first permit is free. The second permit is {{"£"+council.permitsCosts[1]+" for 12 months, or £"+halfCost.toFixed(2)+" for 6 months" if council.sixmonth else "£"+council.permitsCosts[1]+" for 12 months"}}. The cost of additional permits is higher.
		</p>
	{% endif %}

  {# Content about prices which vary based on zones should go here, if the user can't be routed to a specific page based on zone #}
  <p>
    <a href="#">Blue Badge holders</a> do not need a resident's parking permit.
  </p>
  <p>
    People living in a <a href="https://www.gov.uk/private-renting/houses-in-multiple-occupation">house in multiple occupation</a> <!-- [or drive a low emissions 'eco' vehicle] if council offers this -->  aren't charged for parking permits.
  </p>
  <h2 class="heading-medium">What you'll need</h2>
  <ul class="list list-bullet">
    <li>
    ability to prove you live in {{council.parkingBoundary}}
    </li>
    <li>
    car registration number
    </li>
    {% if council.testv5cScan or council.testv5cnumber %}
    <li>
    V5C registration document
    </li>
    {% endif %}
    <li>
    to answer security questions or upload documents to prove who you are
    </li>
  </ul>

  <a class="button button-start" href="prove-identity" role="button">Apply for a resident's parking permit</a>

  <p>
    This service is for new applications. You can also:
  </p>
  <ul class="list list-bullet">
    <li>
      <a href="#">replace a lost or stolen parking permit</a>
    </li>
    <li>
      <a href="#">renew an expired parking permit</a>
    </li>
    <li>
      <a href="#">apply for a Blue Badge</a>
    </li>
  </ul>
  <p>
    If you need assistance using the online service, <a href="#">contact {{ council.name }}</a>.
  </p>

  <details>
     <summary><span class="summary">Other ways to apply</span></summary>
     <div class="panel panel-border-narrow">
      <h3 class="heading-small">Apply by phone</h3>
      <p>0300 083 0013<br>
      Monday to Friday, 8am to 7pm<br>
      Saturday, 8am to 2pm<br>
       <a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>

      <h2 class="heading-small">Apply by post</h2>
      <p>
      Print, complete and send us an <a href="#">application form</a> or a letter with the following information:
      <li>recent council tax statement – scanned copy</li>
      <li>
      car registration number
      </li>
      {% if council.testv5cScan or council.testv5cnumber %}
      <li>
      V5C registration document – scanned copy
      </li>
      {% endif %}
      <p>Send your application to: </p>
      <p>Parking Services<br>
      {{council.name}}<br>
      12-14 Kings road <br>
      {{council.shortName}} <br>
      AG3 4HP </p>
    </div>
  </details>

</div>

{% endblock %}
