{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a parking permit" %}
{% set pageTitle = "Apply for a resident's parking permit in " + council.parkingBoundary %}

{% block content %}

<div class="column-two-thirds">

  <p>
    Residents of {% if council.boundaryLink %}<a href="{{council.boundaryLink}}">{{council.parkingBoundary}}</a>{% else %} {{council.parkingBoundary}}{% endif %} can buy resident's parking permits.
  </p>
  {% if council.customPriceLogic %}
    <p>
      {{council.customPriceLogic | safe}}
    </p>
  {% else %}
    <p>
      These permits allow you to park anywhere within {{council.parkingBoundary}} 24 hours a day, 7 days a week.
    </p>
    <p>
      Permits cost between £{{council.permitsCosts[0]}} and £{{council.permitsCosts[3]}}, depending on your vehicle type and how many other other permits have been bought by your household.
    </p>
  {% endif %}
  <p>
    If you don't live in {{council.shortName}}, you need to <a href="https://www.gov.uk/find-local-council">find your local council</a>.
  </p>
  <a class="button button-start" href="prove-identity" role="button">Apply for a resident's parking permit</a>

  <p>
    This service is for new applications. You can also:
  </p>
  <ul class="list list-bullet">
    <li>
      <a href="#">replace a lost or stolen parking permit</a>
    </li>
    <li>
      <a href="#">renew an expired parking permit</a>
    </li>
  </ul>

  <h2 class="heading-medium">About this service</h2>
    <ul class="list list-bullet">
      <li>
        Each household is allowed up to {{council.permitMax}} permits.
      </li>
      <li>
        Permits can be bought for 6 months or for 12 months.
      </li>
      {% if council.permitWait < 1 %}
      <li>
        You won't receive a physical permit. Wardens will check your vehicle's registration number.
      </li>
      {% else %}
      <li>
        Your permit will take {{council.permitWait}} working days to arrive. While you wait, you'll need to use a temporary permit which we will email to you.
      </li>
      {% endif %}
      <li>
        To apply, you'll need to prove you live in {{council.parkingBoundary}} and provide your vehicle registration number.
      </li>
      <li>
        You can apply using GOV.UK Verify. If you don't already have an account, you'll need to create one which takes around 15 minutes. The rest of the application takes around 2 minutes.
      </li>
    </ul>


  <p>
    If you need assistance using the online service, <a href="#">contact {{ council.name }}</a>.
  </p>

  <details>
     <summary><span class="summary">Other ways to apply</span></summary>
     <div class="panel panel-border-narrow">
      <h3 class="heading-small">Apply by phone</h3>
      <p>0300 083 0013<br>
      Monday to Friday, 8am to 7pm<br>
      Saturday, 8am to 2pm<br>
       <a href="#">Find out about call charges</a></p>

      <h2 class="heading-small">Apply by post</h2>
      <p>
      send an <a href="#">application form</a> or a letter with the following information to {{council.name}}:
      <li>a scanned copy of a council tax statement </li>
      <li>a scanned copy of a form of identity to prove your age</li> </p>
      <p>Send your request to: </p>
      <p>Concessionary travel pass office<br>
      {{council.name}}<br>
      12-14 Kings road <br>
      {{council.shortName}} <br>
      AG3 4HP </p>
    </div>
  </details>

</div>

{% endblock %}
