{% extends "layout_argleton.html" %}

{% block page_title %}
  Argleton County Council - Apply for a resident's parking permit in Argleton
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">Apply for a resident's parking permit in Argleton</h1>

  <p>
    To park in Argleton City centre, you'll need a resident's parking permit.
  </p>
  <p>
    Parking permits allow you to park anywhere within the <a href="https://www.theguardian.com/technology/2009/nov/03/google">boundaries of the city</a>.
  </p>

  <h2 class="heading-medium">About this service</h2>

  <ul class="list list-bullet">
    <li>
      Each household is allowed up to four permits
    </li>
    <li>
      Prices per year are as follows:
      <ul class="list list-circle">
        <li>£51 for the first vehicle in the household</li>
        <li>£81 for the second vehicle in the household</li>
        <li>£153 for the third vehicle in the household</li>
        <li>£153 for the fourth vehicle in the household</li>
      </ul>
    </li>
  </ul>

  <h2 class= "heading-medium">To apply online you will need to provide:</h2>

  <ul class="list list-bullet">
    <li>Proof of address, such as a council tax bill or a recent utility bill or a tennancy agreement or a mortgage statement</li>
  </ul>

  <a class="button button-start" href="add-poa" role="button">Apply online now</a>

</main>

{% endblock %}
