{% extends "layout_picker.html" %}

{% set serviceName = "Park your car or vehicle" %}
{% set pageTitle = "Park your car or vehicle" %}

{% block content %}

<div class="column-two-thirds">

  <p>
    You may need a parking permit for your car or other vehicle. A permit allows you to park in a particular area, 24 hours a day, 7 days a week.
  </p>
  <p>
    The cost will depend on:
<ul class="list list-bullet">
<li>number of permits already issued to your property</li>
<li>the parking zone you live or work in</li>
<li>permit length</li>
<li>building type</li>
<li>vehicle and fuel type</li>
<li>your medical condition – no cost for Blue Badge holders</li>
</ul>
<p>
<h3 class="heading-small">Free permits</h3>
<p>You can get a free parking permit for any of these reasons:
  <ul class="list list-bullet">
  <li>[it's the first permit for your household]</li>
  <li>you're a Blue Badge holder</li>
  <li>this permit is for a low CO2 emission 'eco' car</li>
  </ul
</p>
  </p>

  <a class="button button-start" href="check-boundary" role="button">Check if you need a permit</a>
  <p>
    If you need assistance using this online service, <a href="#">contact {{ council.name }}</a>.
  </p>

</div>

{% endblock %}
