{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a resident's parking permit" %}
{% set pageTitle = "Apply for a resident's parking permit with document upload" %}

{% block content %}

<div class="column-two-thirds">

  <p>
   You can still apply online for a parking permit, but you'll need to scan and upload some documents.
  </p>

  <h2 class="heading-medium">To apply online you will need to provide:

</h2>

  <ul class="list list-bullet">
      <li>
      Proof of address, such as a council tax bill or a recent utility bill or a tenancy agreement or a mortgage statement
      </li>
  </ul>
  <p>
    You'll need to scan in and upload these documents, and we'll check them after your application.
  </p>

  <a class="button button-start" href="add-poa" role="button">Apply online now</a>

</main>

{% endblock %}
