{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a resident's parking permit" %}
{% set pageTitle = "Upload a proof of address" %}

{% block content %}

<div class="column-two-thirds">

  <p>
   Scan and upload a proof of address document, to help us identify you.
  </p>
  <h2 class="heading-medium">Types of document</h2>
  <p>
  Your proof of address must include your name and current address.
  <p>
  </p>
  It can be a:
  </p>
  <ul class="list list-bullet">
      <li>
      council tax bill – from last 3 months
      </li>
      <li>
      utility bill – from last 3 months
      </li>
      <li>
      tenancy agreement
      </li>
      <li>
      mortgage statement
      </li>
  </ul>
<br>
</br>
    {% include 'common-content/address-upload.html' %}
  <p>
    We'll check your document when we receive your application.
  </p>
</main>

{% endblock %}
