{% extends "layout_argleton.html" %}

{% block page_title %}
  Argleton County Council - Apply for a resident's parking permit in Argleton
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">Apply for a resident's parking permit in Argleton</h1>

  <p>
    To park in Argleton City centre, you'll need a resident's parking permit.
  </p>
  <p>
    Parking permits allow you to park anywhere within the <a href="https://www.theguardian.com/technology/2009/nov/03/google">boundaries of the city</a>.
  </p>
  <div class="panel panel-border-wide">
    <h2 class="heading-small">About this service</h2>
    <ul class="list list-bullet">
      <li>
        Resident's permits cost £60 each.
      </li>
      <li>
        Each resident is allowed one permit.
      </li>
      <li>
        To apply, you'll need to prove you live in Argleton and provide details of your vehicle.
      </li>
    </ul>
  </div>

  <a class="button button-start" href="prove-identity" role="button">Start now</a>

  <p>
    If you need assistance using the online service, <a href="#">contact the council</a>
  </p>
</main>

{% endblock %}
