{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a resident's parking permit" %}
{% set pageTitle = "Application complete" %}

{% block content %}

	<div class="column-full">
		<div class="govuk-box-highlight">
		  <p>
		    Your reference number is <br>
		    <strong class="heading-large">HDJ2123F</strong>
		  </p>
		</div>
	</div>

<div class="column-two-thirds">
  {% if contactChoice == 'Email' %}
    <p>You should receive a confirmation email within the next minute.</p>
  {% elif contactChoice == 'Text' %}
    <p>You should receive a confirmation text within the next minute.</p>
  {% else %}
    <p><a href="contact-preference">Sign up for confirmation and progress alerts.</a></p>
  {% endif %}
	<hr>
	<h2 class="heading-medium">Your application is now complete</h2>

    {% if unverifiedAddress %}
      {% set permitLength = '3 months' %}
    {% endif %}

    {% if (unverifiedAddress and council.threeMonthPermit == 'post') or (not unverifiedAddress == true and council.tempPermit == 'post' or 'print' or 'write') %}
      {% if council.payOnline %}
					{% if council.string == 'sunderland' %}

					{% else %}
				<p>
          	Your {{ permitLength or '1 year' }} permit will usually arrive within 5 working days.
				</p>
					{% endif %}
      {% else %}
        <p>
          When we have processed and approved your application, we'll contact you for payment. You'll be able to pay over the phone by either debit or credit card – no service charges apply.
        </p>
        <p>
          Your permit will usually arrive within 5 working days of your payment.
        </p>
      <hr />
      {% endif %}{# end if not council.payOnline #}
	 		{% if council.string == 'sunderland' and permitStartChoice == 'soon' %}
	 			<p>
					Your 1 year permit will usually arrive within 5 working days. It's valid until 31 July 2017.
				</p>
	 		{% endif %}

			{% if council.string == 'sunderland' and permitStartChoice == 'August' %}
	 			<p>
					Your 1 year permit will usually arrive within 5 working days. It's valid from 1 August to 31 July 2018.
				</p>
	 		{% endif %}

    	<p>
      	We'll issue and send your parking permits to this address:
    	</p>
      <div class="panel panel-border-wide">
        <p>
          Jane Smith<br />
					30 Thornhill Gardens<br  />
					{{council.shortName}}<br  />
					SR2 7LE
        </p>
        <a href="#">Provide a different address</a>
      </div>

  {% endif %}{# endif council.permitWait < 1#}
	{% if council.tempPermit == 'print' or 'write' %}
		<h2 class="heading-medium">Temporary permit</h2>
		<p>
			<a href="{{asset_path}}/temppermitargleton.png">Print your temporary permits</a>{% if council.tempPermit == 'write' %} – or write your reference number and the words "temporary resident's permit" on a piece of paper{% endif %}. Use this until your full permits arrive.
		</p>
	{% endif %}

  <h2 class="heading-medium">Using your permit</h2>
	<p>
		Display your permit clearly in the front window of your car to park at any time in <a href="parking-boundary-map-success">{{council.parkingBoundary}}</a>.
	</p>

	{% if permitLength == "3 months" %}
		<p>
			Apply for a full resident's permit 10 days before your 3 month permit expires.{% if contactChoice %} We'll send you a message to remind you.{% endif %}
		</p>
	{% else %}
		<p>
      Renew your permit when it expires in {{ permitLength or "1 year" }} –
			{% if renewalsChoice == 'Email' %}
		    you've signed up to receive a reminder by email.
		  {% elif renewalsChoice == 'Text' %}
		    you've signed up to receive a reminder by text.
			{% elif renewalsChoice == 'Post' %}
					you've signed up to receive a reminder by post.
		  {% else %}
		    <a href="renewal-reminder">sign up for a renewal reminder.</a>
		  {% endif %}
		</p>
	{% endif %}

	<hr>

	  <p>
	    You can use GOV.UK Verify to prove your identity online with <a href="https://www.gov.uk/government/publications/introducing-govuk-verify/introducing-govuk-verify#government-services-you-can-use-with-govuk-verify">other government services</a>.
		</p>
  </div>



{% endblock %}
