{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a resident's parking permit" %}
{% set pageTitle = "Application complete" %}

{% block content %}

	<div class="column-full">
		<div class="govuk-box-highlight">
		  <p>
		    Your reference number is <br>
		    <strong class="heading-large">HDJ2123F</strong>
		  </p>
		</div>
	</div>

<div class="column-two-thirds">
  {% if contactChoice == 'Email' %}
    <p>You should receive a confirmation email within the next minute.</p>
    <hr />
  {% elif contactChoice == 'Text' %}
    <p>You should receive a confirmation text within the next minute.</p>
    <hr />
  {% else %}
    <p>You have not signed up to receive a confirmation email. <a href="contact-reference">Sign up for confirmation and progress alerts.</a></p>
    <hr />
  {% endif %}

  <h2 class="heading-medium">What happens next</h2>
  {% if council.permitWait < 1 %}
    <p>
      You won't receive a physical permit. Wardens will check your vehicle's registration number.
    </p>
    {% endif %}

    {% if unverifiedAddress %}
      {% set permitLength = '3 months' %}
    {% endif %}

    {% if (unverifiedAddress and council.threeMonthPermit == 'post') or (not unverifiedAddress == true and council.tempPermit == 'post' or 'print' or 'write') %}
      {% if council.payOnline %}
        <p>
          Your {{ permitLength or '1 year' }} permit will usually arrive within 5 working days.
        </p>
      {% else %}
        <p>
          When we have processed and approved your application, we'll contact you for payment. You'll be able to pay over the phone by either debit or credit card -- no service charges apply.
        </p>
        <p>
          Your permit will usually arrive within 5 working days of your payment.
        </p>
      <hr />
      {% endif %}{# end if not council.payOnline #}

    <p>
      We'll issue and send your parking permit to this address:
    </p>

      <div class="panel panel-border-wide">
        <p>
          Jane Smith<br />
					30 Thornhill Gardens<br  />
					{{council.shortName}}<br  />
					SR2 7LE
        </p>
        <a href="#">Provide a different address</a>
      </div>
      {% if ((unverifiedAddress and (council.threeMonthPermit == 'print' or council.threeMonthPermit == 'write')) or (not unverifiedAddress == true and (council.tempPermit == 'print' or council.tempPermit == 'write'))) %}
        <p>
          Until it arrives, you can print this <a href="#">temporary permit</a> and display it in your car window.
        </p>
      {% endif %}
      {% if (unverifiedAddress and (council.threeMonthPermit == 'write')) or (not unverifiedAddress == true and (council.tempPermit == 'write')) %}
        <p>
          If you don't have a printer, write your reference number HDJ2123F with the words "temporary resident's permit" on a piece of paper and display it in your car window.
        </p>
      {% endif %}
  {% endif %}{# endif council.permitWait < 1#}

  <h2 class="heading-medium">Using your permit</h2>

  <ol class="list list-number">
    <li>
      Display your {{ permitLength or "1 year" }} permit clearly in your car's front window when you park in {{council.parkingBoundary}} to avoid a fine.
    </li>
    <li>
      Park at any time in {{council.parkingBoundary}}  with your permit displayed.
    </li>
		{% if permitLength == "3 months" %}
			<li>
				Apply for a full resident's permit before your 3 month permit expires.{% if contactChoice %} We'll send you a message to remind you.{% endif %}
			</li>
		{% else %}
	    <li>
	      Renew your permit when it expires in {{ permitLength or "1 year" }} – you've signed up to receive a reminder email and text.
	    </li>
		{% endif %}
  </ol>
  <h2 class="heading-medium">Using your GOV.UK Verify account</h2>

      <p>
        You can use your GOV.UK Verify account for other government services including:
      </p>

      <ul class="list-bullet list">
        <li><a href="https://www.gov.uk/view-driving-licence">view or share your driving licence information</a></li>
        <li><a href="https://www.gov.uk/update-company-car-details">check or update your company car tax</a></li>
        <li><a href="https://www.gov.uk/log-in-file-self-assessment-tax-return/if-youre-already-registered">complete your Self Assessment</a></li>
      </ul>

  </div>

</main>

{% endblock %}
