{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a resident's parking permit" %}
{% set pageTitle = "Application complete" %}

{% block content %}

	<div class="column-full">
		<div class="govuk-box-highlight">
		  <p>
		    Your reference number is <br>
		    <strong class="heading-large">HDJ2123F</strong>
		  </p>
		</div>
	</div>

<div class="column-two-thirds">
  {% if contactChoice == 'Email' %}
    <p>You should receive a confirmation email within the next minute.</p>
  {% elif contactChoice == 'Text' %}
    <p>You should receive a confirmation text within the next minute.</p>
  {% else %}
    <p><a href="contact-reference">Sign up for confirmation and progress alerts.</a></p>
  {% endif %}
	<hr>
  {% if council.permitWait < 1 %}
    <p>
      You won't receive a physical permit. Wardens will check your vehicle's registration number.
    </p>
    {% endif %}

    {% if unverifiedAddress %}
      {% set permitLength = '3 months' %}
    {% endif %}

    {% if (unverifiedAddress and council.threeMonthPermit == 'post') or (not unverifiedAddress == true and council.tempPermit == 'post' or 'print' or 'write') %}
      {% if council.payOnline %}
        <p>
          We'll issue and send your {{ permitLength or '1 year' }} parking permit to your address – it'll usually arrive within 5 working days:
				</p>
      {% else %}
        <p>
          When we have processed and approved your application, we'll contact you for payment. You'll be able to pay over the phone by either debit or credit card -- no service charges apply.
        </p>
        <p>
          Your permit will usually arrive within 5 working days of your payment.
        </p>
      <hr />
      {% endif %}{# end if not council.payOnline #}

      <div class="panel panel-border-wide">
        <p>
          Jane Smith<br />
					30 Thornhill Gardens<br  />
					{{council.shortName}}<br  />
					SR2 7LE
        </p>
        <a href="#">Provide a different address</a>
      </div>

			{% if council.tempPermit == 'print' %}
        <p>
          Until it arrives, you can print this <a href="{{asset_path}}/TemporaryParkingPermit-sunderland.pdf">temporary permit</a> and display it in your car window.
        </p>

			{% elif council.tempPermit == 'write' %}
        <p>
          If you don't have a printer, write your reference number HDJ2123F with the words "temporary resident's permit" on a piece of paper and display it in your car window.
        </p>
      {% endif %}
  {% endif %}{# endif council.permitWait < 1#}
	<h2 class="heading-medium">Temporary permit</h2>
	<p>
		<a href="{{asset_path}}/TemporaryParkingPermit-sunderland.pdf">Print a temporary permit</a> – or write your reference number and the words "temporary resident's permit" on a piece of paper. Use this until your full permit arrives.
	</p>
  <h2 class="heading-medium">Using your permit</h2>

      Display your permit clearly in the front window of your car to park at any time in <a href="parking-boundary-map-success">{{council.parkingBoundary}}</a>.
		{% if permitLength == "3 months" %}

				Apply for a full resident's permit before your 3 month permit expires.{% if contactChoice %} We'll send you a message to remind you.{% endif %}
		{% else %}
	</p>
	<p>
	      Renew your permit when it expires in {{ permitLength or "1 year" }} – you've signed up to receive a reminder email and text.
	</p>
		{% endif %}
  </ol>

	<hr>

      <p>
        You can use your GOV.UK Verify account to prove your identity online for <a href="https://www.gov.uk/view-driving-licence">other government services</a>.
  </div>

</main>
</div>

{% endblock %}
