{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a resident's parking permit" %}
{% set pageTitle = "V5C successfully uploaded" %}

{% block content %}

<div class="column-two-thirds">

  <p>
    Your V5C document has been uploaded.
  </p>

  {% if council.testv5cnumber %}
    {% set nextPage = 'v5c-number' %}
  {% elif council.userChooseStartDate %}
    {% set nextPage = 'permit-start' %}
  {% elif council.sixmonth %}
    {% set nextPage = 'permit-length' %}
  {% elif council.permitsCosts[0] > 0 or council.permitsCosts.length > 1 %}
    {% set nextPage = 'pre-payment' %} 
  {% else %}
    {% set nextPage = 'contact-preference' %} 
  {% endif %}

  <a class="button" role="button" href="{{ nextPage }}">Next</a>

</div>

{% endblock %}
