{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a resident's parking permit" %}
{% set pageTitle = "Enter V5C reference number" %}

{# residentAmount is a string and must be converted to a number 😒 #}
{% set parkingPermitCount = residentAmount * 1 if residentAmount else 1 %}
{% set pluralSuffix = 's' if parkingPermitCount > 1 else '' %}

{% block content %}

<div class="column-two-thirds">

  <p>
    We need the reference number on your V5C registration certificate (logbook) to prove you own your vehicle{{ pluralSuffix }}.
  </p>
  <div class="form-group">
    <img src="{{asset_path}}/images/v5c.png" />
  </div>
  <div class="form-group">

  {% if council.userChooseStartDate %}
    {% set nextPage = 'permit-start' %}
  {% elif council.sixmonth %}
    {% set nextPage = 'permit-length' %}
  {% elif council.permitsCosts[0] > 0 %}
    {% set nextPage = 'pre-payment' %} 
  {% else %}
    {% set nextPage = 'contact-reference' %} 
  {% endif %}

      <form method="post" action="{{ nextPage }}">
          <fieldset>
              <legend class="visuallyhidden">Enter your V5C document reference number</legend>
              <p>Enter your V5C document reference number</p>
              {% for registerNumber in registerNumbers %}
              <div class="form-group">
                  <label class="form-label" for="reg-number-{{ loop.index0 }}">Vehicle register number: {{ registerNumber }}</label>
                  <input class="reg-number form-control" id="reg-number-{{ loop.index0 }}" name="regNumber[{{ loop.index0 }}]" type="text" aria-invalid="false" value="">
              </div>
              {% endfor %}
          </fieldset>

          <input type="submit" class="button" value="Next">

      </form>
  </div>

</div>

{% endblock %}
