{% extends "layout_picker.html" %}

{% set serviceName = "Apply for an older person's bus pass" %}
{% set pageTitle = "Apply for a parking permit without using GOV.UK Verify" %}

{% block content %}

  <p>
    You can still apply online for a parking permit, but you'll need to scan and upload proof of address such as a council tax bill or a recent utility bill or a tennancy agreement or a mortgage statement.
  </p>

  <a class="button button-start" href="prove-address" role="button">Continue</a>

{% endblock %}
