{% extends "layout_argleton.html" %}

{% block page_title %}
  Argleton County Council - Apply for a resident's parking permit in Argleton
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">Apply for a parking permit without verifying online</h1>

  <p>
    You can still apply online for a parking permit, but you'll need to scan and upload proof of address such as a council tax bill or a recent utility bill or a tennancy agreement or a mortgage statement.
  </p>

  <a class="button button-start" href="add-poa" role="button">Continue</a>

</main>

{% endblock %}
