
{% extends "layout_picker.html" %}

{% set serviceName = "Park your car or vehicle" %}
{% set pageTitle = "Select a parking permit type" %}

{% block content %}

<div class="column-two-thirds">


  <form class="radio-nav">
	  <div class="radio-with-bullets">
	    <label class="block-label selection-button-radio" for="radio-1">
	      <input id="radio-1" type="radio" name="radio-group" value="wait-no-permits">
				<span class="heading-small">Resident's permit</span>
				<p>
					I live in {{council.parkingBoundary}}
				</p>
	    </label>

	    <label class="block-label selection-button-radio" for="radio-2">
	      <input id="radio-2" type="radio" name="radio-group" value="visitor-start">
				<span class="heading-small">Visitor's permit</span>
				<p>
					I live here, and have a visitor
				</p>
	    </label>

      <label class="block-label selection-button-radio" for="radio-3">
        <input id="radio-3" type="radio" name="radio-group" value="business-start">
				<span class="heading-small">Trade and business permit</span>
				<p>
          {% if council.string == 'sunderland' %}
          I own a business in {{council.parkingBoundary}}
          {% else %}
          I work in {{council.parkingBoundary}}
          {% endif %}
				</p>
      </label>
		</div>
	  <div class="form-group">
	    <button class="button">Continue</button>
	  </div>
	</form>


</div>

{% endblock %}
