{% set thisTab = 'Start' %}
{% set pageTab = 'Policy' %}

{% extends "ct_layout.html" %}

{% block page_content %}

<p>
	The service's start page should communicate:
</p>
<ul class="list list-bullet">
	<li>
		council name
	</li>
	<li>
		eligibility is dependent on date of birth
	</li>
	<li>
		what the pass will allow its holder to do
	</li>
	<li>
		when the user is allowed to travel using the pass (the national bus concession in England is available from 9.30am to 11pm on weekdays and at any time on a Saturday, Sunday or bank holiday)
	</li>
	<li>
		where the pass is valid
	</li>
	<li>
		how the pass will be used
	</li>
	<li>
		that they'll need to provide a digital photograph
	</li>
	<li>
		that applicants need to prove their eligibility
	</li>
	<li>
		what to do if they need assistance with the application
	</li>
	<li>
		links to renewals and replacements services		
	</li>
</ul>

{% endblock %}
