{% set thisTab = 'Start' %}
{% set pageTab = 'Research' %}
{% extends "ct_layout.html" %}
{% block page_content %}

<h3 class="heading-medium">User needs identified during the Discovery phase</h3>
<p>
	As a resident applying for a pass, I need:
</p>
<ul class="list list-bullet">
	<li>
		to get someone to help me with my application, so that I'm able to get my bus    pass
	</li>
	<li>
		to know where to apply and how, so that I don’t complete the wrong application
	</li>
	<li>
		to know it’s safe to do online    so, that I’m not afraid
	</li>
	<li>
		to know what I    need to provide with my application,    so that I can   prove who I am
	</li>
	<li>
		to know how to provide a photo, so that, so that my    application is successful
	</li>
	<li>
		to know that help is available, so that I know    what to do if I get stuck
	</li>
</ul>

<p>
	From the outset, a significant proportion of those we spoke to needed assistance with the process. This was especially so where the application process had to be completed online. In most cases, this was provided by a family member or carer.
</p>
<p>
	Very significant concerns were raised by this much older group about the difficulty and security of completing an application online. Most were unwilling to do so, preferring to visit a contact centre or apply by post.
</p>
<p>
	The most common cause of issues in completing the application process was the need to provide documents to prove identity and eligibility. This problem was most significant in digital applications, with many unable to complete without assistance.
</p>

<h3 class="heading-medium">User needs observed while testing and iterating</h3>


<h4 class="heading-small">What we learnt from testing with users</h4>
<p>
	Early iterations of this page presented users with a significant amount of content, with few sub headings. This resulted in most users simply starting the interaction without reading.
</p>
<p>
	Users become eligible for a pass when they reach the female state pension age. Due to current changes in the female state pension age, the age a user becomes eligible varies with their birth year.
</p>
<p>
	Attempts at explaining this have confused users. Linking to the GOV.UK page that allows users to look up their pension age has also confused users as they do not understand the association between bus passes and pensions.
</p>
<h4 class="heading-small">What we changed as a result</h4>
<p>
	The content on this page has been broken up with task specific sub-headings, helping those scanning the page to identify relevant content.
</p>
<p>
	To address confusion around eligibility, a custom eligibility checker has been created. This is linked from the start page, allowing users to simply enter their date of birth to determine their elgibility. This has removed any confusion resulting from the link with female state pension age.
</p>
<h3 class="heading-medium">Breakdown by sprint</h3>
<h4 class="heading-small">Sprint 9</h4>
<ul class="list list-bullet">
	<li>
		<a href="https://github.com/alphagov/verify-local-patterns/issues/195">On the start page, users in London were looking for a ‘Freedom Pass’ not a bus pass, and also confused this with an over 60 oyster card.</a>
	</li>
	<li>
		<a href="https://github.com/alphagov/verify-local-patterns/issues/152">Do users read service start page & can we move the how to use pass (incl. validity) to confirmation of pass issued page?</a>
	</li>
	<li>
		<a href="https://github.com/alphagov/verify-local-patterns/issues/196">Users need to know where to click to apply (from the start page)</a>
	</li>
</ul>
<p>
</p>
{% endblock %}
