{% set thisTab = 'Start' %}
{% set pageTab = 'Research' %}
{% extends "ct_layout.html" %}
{% block page_content %}

<p>
	As a resident applying for a pass, I need:
</p>
<ul class="list list-bullet">
	<li>
		to get someone to help me with my application, so that I'm able to get my bus    pass
	</li>
	<li>
		to know where    to apply and how, so that I don’t complete the wrong application
	</li>
	<li>
		to know it’s safe to do online    so, that I’m not afraid
	</li>
	<li>
		to know what I    need to provide with my application,    so that I can   prove who I am
	</li>
	<li>
		to know how to provide a photo, so that, so that my    application is successful
	</li>
	<li>
		to know that help is available, so that I know    what to do if I get stuck
	</li>
</ul>

<p>
	From the outset, a significant proportion of those we spoke to needed assistance with the process. This was especially so where the application process had to be completed online. In most cases, this was provided by a family member or carer.
</p>
<p>
	Very significant concerns were raised by this much older group about the difficulty and security of completing an application online. Most were unwilling to do so, preferring to visit a contact centre or apply by post.
</p>
<p>
	The most common cause of issues in completing the application process was the need to provide documents to prove identity and eligibility. This problem was most significant in digital applications, with many unable to complete without assistance.
</p>

{% endblock %}
