{% set thisTab = 'Awareness' %}
{% set pageTab = 'Policy' %}

{% extends "ct_layout.html" %}

{% block page_content %}
<p>
Users need to be made aware the need for a permit and also how to apply for that permit so that they are able to receive the permit before they need to park their car. This could be through:
</p>
<ul class="list list-bullet">
	<li>
		direct mail to residents in areas affected by new parking schemes
	</li>
	<li>
		messaging to users new users of other council services in the area
	</li>
	<li>
		information provided to new home owners or tenants in parking areas
	</li>
	<li>
		street signage
	</li>
</ul>
<p>
	Your service needs to make sure correct information is being provided through all appropriate channels within your control and that this information addresses both the need for a permit and how to apply.
</p>
<p>
	When the user knows they need a permit, they need to get to the right council's website to apply. Users might start by typing 'parking permit' into a search engine, or going to the website of the council where they think they need a permit.
</p>
	<h3 class="heading-medium">Search engine</h3>
<p>
	The GOV.UK parking permits page is the top result in most search engines. It should send users to the right council's website when they enter their postcode. Your service needs to make sure the postcodes it provides services for are linked to the right page on their website and email any corrections to local-direct-admin@digital.cabinet-office.gov.uk.
</p>
	<h3 class="heading-medium">Council website</h3>
<p>
	Users may also go straight to the website for the council they think they need to get a permit from. This makes it very important for your service's webpage to clearly state which area your parking permit service covers – as the user may be in the wrong place.
</p>
<p>
	Your service should make sure the right information is being provided through these channels, where possible.
</p>
{% endblock %}
