{% set thisTab = 'Awareness' %}
{% set pageTab = 'Research' %}
{% extends "ct_layout.html" %}
{% block page_content %}

<p>
	As a resident applying for a permit, I need:
</p>
<ul class="list list-bullet">
	<li>
		permission to park right away so that I don't get fined
	</li>
	<li>
		to know which permit to apply for and how to apply for it
	</li>
	<li>
		to know that it's safe to apply online so that I'm not too worried to do so
	</li>
</ul>
	 <p>
		 In most cases, users were aware of the need for permits. What was less clear was how or where to apply and exactly what permit to apply for. In areas with a two-tier local government structure, it was not always clear who to apply to. When seeking information about application most users visited the council website or phoned the council. Some visited GOV.UK, however this did not always provide the correct information, especially under two-tier local structures.
	 </p>
	 <p>
		 It was at this point that users decided how to complete their application. A significant number of those we spoke to were less confident online, and lacked the confidence to complete a digital application process unaided.
	 </p>
 </div>
{% endblock %}
