{% extends "layout_argleton.html" %} {% block page_title %} Argleton County Council - Apply for an older person's bus pass in Argleton {% endblock %} {% block content %}

<main id="content" role="main">

    <h1 class="heading-xlarge">Your photo is good</h1>

    <div class="grid-row">
        <!-- <div id="progress-container" class="progress-container" role="region" aria-live="assertive" tabindex="-1">
            <p id="progress" class="progress hide" role="progressbar">Uploading image</p>
        </div> -->
        <div class="column-two-thirds">


        </div>
    </div>
</main>

{% endblock %}
