{% extends "layout_argleton.html" %}

{% block page_title %}
  Argleton County Council - Apply for an older person's bus pass in Argleton
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">Apply for an older person's bus pass in Argleton</h1>

  <h2 class="heading-medium">How would you like to take your photo?</h2>

  <form>
  <div class="form-group">
    <fieldset>

      <legend class="visually-hidden">How would you like to take your photo?</legend>

      <label class="block-label selection-button-radio" for="radio-1">
        <input id="radio-1" type="radio" name="radio-group" value="Show me how to do it myself">
        Show me how to do it myself
      </label>
      <label class="block-label selection-button-radio" for="radio-2">
        <input id="radio-2" type="radio" name="radio-group" value="Show me how to get it from a shop">
        Show me how to get it from a shop
      </label>
      <p class="form-block">or</p>
      <label class="block-label selection-button-radio" for="radio-3">
        <input id="radio-3" type="radio" name="radio-group" value="I already have a digital photo">
        I already have a digital photo
      </label>

    </fieldset>
  </div>
</form>

  <a class="button" href="#" role="button">Next</a>

</main>

{% endblock %}
