{% extends "layout_picker.html" %}

{% block page_title %}
  Argleton County Council - Apply for an older person's bus pass in Argleton
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="photo-guide">
    <a href="./need-photo" class="back-link">Other ways to get a photo</a>
    <span class="marker">Guide part 10 of 13</span>
  </div>

  <h1 class="heading-xlarge">How to take your own digital passport photo</h1>

  <h2 class="heading-medium">Make sure your eyes are visible</h2>

  <div class="text">
      <p>It’s better to remove your glasses if you can – reflections make it hard to see your eyes.</p>
      <p>If you need to wear them make sure they’re not tinted and there’s no glare on the lens.</p>
      <p>Your photo will be rejected if your eyes can’t be seen clearly.</p>
  </div>
  <div class="guidance-photos" aria-hidden="true">
      <ul>
          <div>
              <li>
                  <img src="{{asset_path}}images/image-m2-plain.jpg" alt="">
                  <div class="result" style="height: 57px;">
                      <p class="approved">Approved</p>
                  </div>
              </li>
              <li>
                  <img src="{{asset_path}}images/image-m2-plain-glasses.jpg" alt="">
                  <div class="result" style="height: 57px;">
                      <p class="approved">Approved</p>
                  </div>
              </li>
          </div>
          <div>
              <li>
                  <img src="{{asset_path}}images/image-m2-glasses-reflection.jpg" alt="">
                  <div class="result" style="height: 57px;">
                      <p class="failed">No glare on glasses</p>
                  </div>
              </li>
              <li>
                  <img src="{{asset_path}}images/image-m2-glasses-tinted-covering-eyes.jpg" alt="">
                  <div class="result" style="height: 57px;">
                      <p class="failed">Eyes not clear.<br>No tinted lenses</p>
                  </div>
              </li>
          </div>
      </ul>
  </div>
  <nav class="guide-nav">
    <ul>
      <li class="button-guide button-guide-previous">
        <a class="button" href="photo-guide-face-clear" role="button">Previous</a>
      </li>
      <li class="button-guide button-guide-previous">
        <a class="button" href="photo-guide-expression" role="button">Next</a>
      </li>
    </ul>
  </nav>



</main>

{% endblock %}
