{% extends "layout_picker.html" %}

{% block page_title %}
  Argleton County Council - Apply for an older person's bus pass in Argleton
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="photo-guide">
    <a href="./need-photo" class="back-link">Other ways to get a photo</a>
    <span class="marker">Guide part 1 of 13</span>
  </div>

  <h1 class="heading-xlarge">How to take your own digital passport photo</h1>

  <p>
    This guide will show you how to take a digital photo that meets the passport photo rules.
  </p>

  <p>
    Your application will be delayed if your photo doesn’t meet the rules.
  </p>

  <a class="button" href="photo-guide-camera" role="button">Next</a>

</main>

{% endblock %}
