{% extends "layout_picker.html" %}

{% block page_title %}
  Argleton County Council - Apply for an older person's bus pass in Argleton
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="photo-guide">
    <a href="./need-photo" class="back-link">Other ways to get a photo</a>
    <span class="marker">Guide part 11 of 13</span>
  </div>

  <h1 class="heading-xlarge">How to take your own digital passport photo</h1>

  <h2 class="heading-medium">Face the camera with a plain expression</h2>

  <div class="text">
      <p>You must be facing forward and looking straight at the camera.</p>
      <p>Make sure your expression is neutral and your mouth is closed.</p>
  </div>
  <div class="guidance-photos" aria-hidden="true">
      <ul>
          <li>
              <img src="{{asset_path}}images/image-f1-plain.jpg" alt="">
              <div class="result" style="height: 38px;">
                  <p class="approved">Approved</p>
              </div>
          </li>
          <li>
              <img src="{{asset_path}}images/image-f1-smiling.jpg" alt="">
              <div class="result" style="height: 38px;">
                  <p class="failed">Don’t smile</p>
              </div>
          </li>
          <li>
              <img src="{{asset_path}}images/image-f1-mouth-open.jpg" alt="">
              <div class="result" style="height: 38px;">
                  <p class="failed">Mouth open</p>
              </div>
          </li>
      </ul>
  </div>
  <nav class="guide-nav">
    <ul>
      <li class="button-guide button-guide-previous">
        <a class="button" href="photo-guide-glasses" role="button">Previous</a>
      </li>
      <li class="button-guide button-guide-previous">
        <a class="button" href="photo-guide-check" role="button">Next</a>
      </li>
    </ul>
  </nav>



</main>

{% endblock %}
