{% extends "layout_argleton.html" %}

{% block page_title %}
  Argleton County Council - Apply for an older person's bus pass in Argleton
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="photo-guide">
    <a href="./need-photo" class="back-link">Other ways to get a photo</a>
    <span class="marker">Guide part 1 of 5</span>
  </div>

  <h1 class="heading-xlarge">Apply for an older person's bus pass in Argleton</h1>

  <h2 class="heading-medium">Get a digital photo taken from a shop</h2>

  <div class="text">
      <p>Most high street photo shops can take your digital passport photo. They’ll give you the photo as a digital file on either a CD or USB stick.</p>
      <p>The cost will depend on where you get your photo.</p>
  </div>

  <a class="button" href="photo-guide-ask" role="button">Next</a>

</main>

{% endblock %}
