{% extends "layout_argleton.html" %}

{% block page_title %}
  Argleton County Council - Apply for an older person's bus pass in Argleton
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="photo-guide">
    <a href="./need-photo" class="back-link">Other ways to get a photo</a>
    <span class="marker">Guide part 3 of 13</span>
  </div>

  <h1 class="heading-xlarge">How to take your own digital passport photo</h1>

  <h2 class="heading-medium">Get someone to help you</h2>

  <div class="grid-row">
    <div class="column-half">
      <p>
        Find someone who can take your photo.
      </p>
    </div>
    <div class="column-half">
      <img class="svg" src="{{ asset_path }}images/diagram-get-help-do-this-blue.svg" />
    </div>
  </div>
  <div class="grid-row">
    <div class="column-half">
      <p>
        You can’t take a ‘selfie’ or use a webcam.
      </p>
    </div>
    <div class="column-half">
      <img class="svg" src="{{ asset_path }}images/diagram-get-help-not-this-blue.svg" />
    </div>
  </div>

  <nav class="guide-nav">
    <ul>
      <li class="button-guide button-guide-previous">
        <a class="button" href="photo-guide-camera" role="button">Previous</a>
      </li>
      <li class="button-guide button-guide-previous">
        <a class="button" href="photo-guide-background" role="button">Next</a>
      </li>
    </ul>
  </nav>



</main>

{% endblock %}
