{% extends "layout_picker.html" %}

{% block page_title %}
  {{council.name}} - Apply for an older person's bus pass in {{council.shortName}}
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="photo-guide">
    <a href="./need-photo" class="back-link">Other ways to get a photo</a>
    <span class="marker">Guide part 12 of 13</span>
  </div>

  <h1 class="heading-xlarge">How to take your own digital passport photo</h1>

  <h2 class="heading-medium">Check quality of photo</h2>

  <div class="text">
      <p>Your photo must be clear, in focus and unedited by computer software.</p>
      <p>You won’t be able to use the photo if you have ‘red-eye’.</p>
  </div>

  <nav class="guide-nav">
    <ul>
      <li class="button-guide button-guide-previous">
        <a class="button" href="photo-guide-expression" role="button">Previous</a>
      </li>
      <li class="button-guide button-guide-previous">
        <a class="button" href="photo-guide-take-photo" role="button">Next</a>
      </li>
    </ul>
  </nav>



</main>

{% endblock %}
