{% extends "layout_picker.html" %}

{% block page_title %}
  {{council.name}} - Apply for an older person's bus pass in Argleton
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="photo-guide">
    <a href="./need-photo" class="back-link">Other ways to get a photo</a>
    <span class="marker">Guide part 6 of 13</span>
  </div>

  <h1 class="heading-xlarge">How to take your own digital passport photo</h1>

  <h2 class="heading-medium">Check the space around your head and shoulders</h2>

  <p>
    Make sure there’s enough room around your head and shoulders. The person taking the photo may have to move if there’s not.
  </p>
  <p>
    Don’t worry about cropping the photo – we’ll do that for you when you submit your application.
  </p>

  <img style="max-width: 50%;" class="svg" src="{{asset_path}}images/too-close-photo-blue.svg"/>

  <nav class="guide-nav">
    <ul>
      <li class="button-guide button-guide-previous">
        <a class="button" href="photo-guide-distance" role="button">Previous</a>
      </li>
      <li class="button-guide button-guide-previous">
        <a class="button" href="photo-guide-lighting" role="button">Next</a>
      </li>
    </ul>
  </nav>



</main>

{% endblock %}
