{% extends "layout_picker.html" %} {% block page_title %} {{council.name}} - Apply for an older person's bus pass in {{council.shortName}} {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="photo-guide">
        <a href="./need-photo" class="back-link">Other ways to get a photo</a>
        <span class="marker">Guide part 5 of 5</span>
    </div>

    <h1 class="heading-xlarge">Getting a digital photo from a shop</h1>

    <h2 class="heading-medium">Get your photo now</h2>

    <div class="text">
        <p>
          You can only continue with your application once you have your photo.
        </p>
        <p>
          <a href="upload" class="button" role="button">I already have my photo</a>
        </p>
        <p>Alternatively, you can <a href="./photo-guide">take your own digital passport photo</a>.</p>
        <p>
          <a href="./photo-shop">Read guide again</a>.
        </p>
    </div>


</main>

{% endblock %}
