{% extends "layout_picker.html" %}

{% block page_title %}
  {{council.name}} - Apply for an older person's bus pass in Argleton
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="photo-guide">
    <a href="./need-photo" class="back-link">Other ways to get a photo</a>
    <span class="marker">Guide part 3 of 5</span>
  </div>

  <h1 class="heading-xlarge">Getting a digital photo from a shop</h1>

  <h2 class="heading-medium">What you’ll get</h2>

  <div class="grid-row">
      <div class="column-half">
          <p>Your photo will now be a digital photo file rather than a printed copy.</p>
          <p>The shop will put this file on either a CD or USB stick. Some shops may email it to you.</p>
      </div>
      <div class="column-half">
          <object data="{{asset_path}}images/icon-digital-not-printed.svg" type="image/svg+xml" class="svg">
              <!-- <img src="{{asset_path}}images/icon-digital-not-printed-x2.png" alt="" width="405"> -->
          </object>
      </div>
  </div>



  <nav class="guide-nav">
    <ul>
      <li class="button-guide button-guide-previous">
        <a class="button" href="photo-shop-ask" role="button">Previous</a>
      </li>
      <li class="button-guide button-guide-previous">
        <a class="button" href="photo-shop-transfer" role="button">Next</a>
      </li>
    </ul>
  </nav>

</main>

{% endblock %}
