{% extends "layout_argleton.html" %}

{% block page_title %}
  Argleton County Council - Apply for an older person's bus pass in Argleton
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="photo-guide">
    <a href="./need-photo" class="back-link">Other ways to get a photo</a>
    <span class="marker">Guide part 2 of 5</span>
  </div>

  <h1 class="heading-xlarge">Getting a digital photo from a shop</h1>

  <h2 class="heading-medium">What to ask for</h2>

  <div class="text">
        <p>Ask them to take a photo of you that meets the <a href="/help/photo-rules" target="_blank">digital passport photo&nbsp;rules</a>.</p>
    </div>

  <nav class="guide-nav">
    <ul>
      <li class="button-guide button-guide-previous">
        <a class="button" href="photo-shop" role="button">Previous</a>
      </li>
      <li class="button-guide button-guide-previous">
        <a class="button" href="photo-shop-get" role="button">Next</a>
      </li>
    </ul>
  </nav>

</main>

{% endblock %}
