{% extends "layout_argleton.html" %} {% block page_title %} Argleton County Council - Apply for an older person's bus pass in Argleton {% endblock %} {% block content %}

<main id="content" role="main">

    <h1 class="heading-xlarge">Apply for an older person's bus pass in Argleton</h1>

    <h2 class="heading-medium">Your photo uploaded successfully</h2>
    <p>
      As long as your photo passes our manual checks, we'll send you your bus pass within 5 days.
    </p>
    <p>
      We'll use this address:
    </p>
    <div class="panel panel-border-wide">
      <p>
        John Smith<br />
        1A Argleton High Street<br />
        Argleton<br />
        ARG1 4HP<br />
      </p>
      <a href="#">Provide a different mail address</a>
    </div>
    <p>
      Your application is now complete.
    </p>
</main>

{% endblock %}
