{% extends "layout_picker.html" %}

{% set serviceName = "Apply for an older person's bus pass" %}
{% set pageTitle = "Upload a photo" %}

{% block content %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <p>We need a photo of you for your bus pass.</p>

            <h2 class="heading-small">How to take a good bus pass photo</h2>

            <div class="grid-row photo-upload-guide">
                <div class="column-half img">
                    <img src="{{asset_path}}images/image-m2-plain.jpg" alt="Example bus pass photo">
                    <p>Example photo</p>
                </div>
                <div class="column-half">
                    <ol class="list list-number">
                        <!-- <li>Get a friend to take your photo</li> -->
                        <li>Use a plain background</li>
                        <li>Include your face and shoulders</li>
                        <li>Keep your hair away from your face and brushed down</li>
                        <li>Make sure there are no shadows on your face or behind you</li>
                    </ol>
                </div>
            </div>

            <h2 class="heading-small">How do you want to upload your photo?</h2>

              <form action="good-photo" method="POST">
                <div id="photo-group" class="form-group file-upload">
                  <button id="cambutton" class="button">Use device camera</button>
                  <!-- <video id="video">Video stream not available.</video> -->
                  <p class="center">
                    or
                  </p>
                  <label for="photo" class="button photo-upload-label" role="button">
                    <span id="photo-label-text" class="">Upload photo file</span>
                  </label>
                  <input type="file"  accept="image/*" id="photo" class="photo-choose-file" name="photo" aria-controls="progress-container" aria-required="true" >

                </div>
              </form>

              <div class="panel panel-border-wide">
                  <p>We’ll store all photos for up to 30 days in line with our <a href="#" class="new-window" target="_blank">privacy policy<span class="visuallyhidden">(Opens in a new window)</span></a>.</p>
              </div>
        </div>
    </div>

{% endblock %}
