{% extends "layout_picker.html" %} {% block page_title %} {{council.name}} - Apply for an older person's bus pass in {{council.shortName}} {% endblock %} {% block content %}

<main id="content" role="main">

    <h1 class="heading-xlarge">Apply for an older person's bus pass in {{council.shortName}}</h1>

    <div class="grid-row">
        <div class="column-two-thirds">
            <p>You must upload a digital photo of yourself for your bus pass.</p>

            <h2 class="heading-small">How to take a good photo for your bus pass</h2>

            <div class="grid-row photo-upload-guide">
                <div class="column-half img">
                    <img src="{{asset_path}}images/image-m2-plain.jpg" alt="Example bus pass photo">
                    <p>Example photo</p>
                </div>
                <div class="column-half">
                    <ol class="list list-number">
                        <!-- <li>Get a friend to take your photo</li> -->
                        <li>Use a plain background</li>
                        <li>Include your face and shoulders</li>
                        <li>Keep your hair away from your face and brushed down</li>
                        <li>Make sure there are no shadows on your face or behind you</li>
                    </ol>
                </div>
            </div>

              <form action="good-photo" method="POST">

                <div id="photo-group" class="form-group file-upload">
                  <div class="photo-status">
                  </div>
                  <label for="photo" class="button photo-upload-label" role="button">
                    <span id="photo-label-text" class="">Upload your photo</span>
                  </label>
                  <input type="file"  accept="image/*" id="photo" class="photo-choose-file" name="photo" aria-controls="progress-container" aria-required="true" >

                </div>
              </form>

              <div class="panel panel-border-wide">
                  <p>We’ll store all photos for up to 30 days in line with our <a href="#" class="new-window" target="_blank">privacy policy<span class="visuallyhidden">(Opens in a new window)</span></a>.</p>
              </div>


        </div>
    </div>
</main>

{% endblock %}
