{% set thisTab = '1. Overview' %}
{% set pageTab = 'Code' %}
{% extends "ct_layout.html" %}
{% block page_content %}
	<h3 class="heading-small">Customisable prototype</h3>
	<p>
		There is a customisable prototype for this service which demonstrates the entire application process. This is a tool for user research and is not to be used as production code.
	</p>
	<p>
		<a href="https://github.com/alphagov/verify-local-patterns">Download the prototype on GitHub.</a>
	</p>
	<p>
		Production code for specific parts of the journey can be found by looking at the other service area sections.
	</p>
{% endblock %}
