{% set thisTab = 'Policy' %}
{% set pageTab = 'Overview' %}

{% extends "ct_layout.html" %}

{% block page_content %}

	<p>
		All councils in England must provide bus concession for older people.
	</p>
	<p>
		The scheme has gradually been extended since its introduction and since April 2008 has provided free off-peak local bus travel to eligible older and disabled people anywhere in England.
	</p>
	<p>
		Read the
		<a href="https://www.gov.uk/government/publications/guidance-for-travel-concession-authorities-on-the-england-national-concessionary-travel-scheme">English National Concessionary Travel Scheme</a>
		guidance from the Department of Transport. The service works differently in
		<a href="http://www.transport.gov.scot/public-transport/concessionary-travel-people-aged-60-or-disability">Scotland</a>,
		<a href="http://gov.wales/topics/transport/public/concessionary/?lang=en">Wales</a>
		and
		<a href="https://www.nidirect.gov.uk/articles/free-and-concessionary-bus-and-rail-travel">Northern Ireland</a>.
	</p>

	<h3 class="heading-small" id="council-need">What do councils need from users to provide this service to them?</h2>
	<ul class="list list-bullet">
		<li>
			proof they live in the area
		</li>
		<li>
			proof they are old enough to be entitled to a pass
		</li>
		<li>
			a digital photograph for their pass – can be taken during the application
		</li>
	</ul>
{% endblock %}
