{% set thisTab = 'Overview' %}
{% set pageTab = 'Research' %}
{% extends "ct_layout.html" %}
{% block page_content %}

	<p>The goal for user research during this phase of the project, as outlined in the
		<a href="https://www.gov.uk/service-manual">service manual</a>, was to find out:</p>
	<ul class="list list-bullet">
		<li>who our users are</li>
		<li>our users’ needs and how they are currently meeting them</li>
		<li>needs that are not meeting</li>
	</ul>
	<p>Achieving this in the relatively short timescales of our discovery, and at sufficient scale, across all participating councils presented a challenge, especially given that most participating councils had never conducted user research for project
		discovery.</p>

	<p>To achieve scale quickly, we provided training for all of the participating councils early in the discovery phase of the project. By sharing the research effort across the participating councils, we were able to conduct approximately 50 interviews
		with existing service users.</p>

	<h2 class="heading-medium">What we learnt about applying for a concessionary travel pass</h2>

	<p>The user journey that we observed and associated needs are recorded on the
		<a href="/public/images/concessionary-travel-journey-map.pdf">concessionary travel user journey map</a>
		(PDF, 70Kb).</p>

	<p>Most notable of our findings was the low levels of confidence and online skills of these service users. This presents a number of potential issues in terms of the usability of the service, as well as in concerns about privacy and security of
		digital services.</p>

	<p>A very large proportion of those we spoke to were either unwilling or unable to complete the application process unaided and needed to get help from a friend or family member. It is worth noting that those assisting were also often unable to
		complete online transactions that required them to scan documents or upload photos.</p>

	<h3 class="heading-small">Initial awareness:</h3>
	<p>Most were aware that they would be eligible for some form of concessionary travel, however it was important for them to be able to check and get official confirmation of this before applying.</p>

	<p>Some applied when they reached ‘the age’ and considered it a milestone in their life that they wanted to recognise. Others only applied when a circumstance changed which led to increased dependence on public transport.</p>
	<details role="group">
		<summary role="button" aria-controls="details-content-0" aria-expanded="false">
			<span class="summary">User needs in the initial awareness phase</span>
		</summary>
		<p>As a resident applying for a pass, I need:</p>
		<ul class="list list-bullet">
			<li>to know if I’m eligible for a bus pass, so that I know that I can apply</li>
			<li>to feel valued and appreciated, so that I can feel better about this milestone in my life</li>
		</ul>
	</details>

	<h3 class="heading-small">Discovery and application process:</h3>
	<p>From the outset, a significant proportion of those we spoke to needed assistance with the process. This was especially so where the application process had to be completed online. In most cases, this was provided by a family member or carer.</p>

	<p>Very significant concerns were raised by this much older group about the difficulty and security of completing an application online. Most were unwilling to do so, preferring to visit a contact centre or apply by post.</p>

	<p>The most common cause of issues in completing the application process was the need to provide documents to prove identity and eligibility. This problem was most significant in digital applications, with many unable to complete without assistance.</p>

	<details role="group">
		<summary role="button" aria-controls="details-content-0" aria-expanded="false">
			<span class="summary">User needs in the discovery and application phase</span>
		</summary>
		<p>As a resident applying for a pass, I need:</p>
		<ul class="list list-bullet">
			<li>to get someone to help me with my application, so that I'm able to get my bus pass</li>
			<li>to know where to apply and how, so that I don’t complete the wrong application
			</li>
			<li>to know it’s safe to do online so, that I’m not afraid
			</li>
			<li>to know what I need to provide with my application, so that I can prove who I am
			</li>
			<li>to know how to provide a photo, so that, so that my application is successful
			</li>
			<li>to know that help is available, so that I know what to do if I get stuck</li>
		</ul>
	</details>

	<h3 class="heading-small">Processing and fulfilment:
	</h3>
	<p>Once applications had been submitted users needed to know that they were being processed, as well as when they would be issued.</p>

	<p>These users also tended to be less confident about their applications, and there was a greater need to know that they had completed the application correctly.</p>

	<details role="group">
		<summary role="button" aria-controls="details-content-0" aria-expanded="false">
			<span class="summary">User needs in the processing and fulfilment phase</span>
		</summary>
		<p>As a resident applying for a pass, I need:</p>
		<ul class="list list-bullet">
			<li>to know how that I’ve done everything correctly, so that I know my application will be successful</li>
			<li>to know what’s happening with my application, so that I don’t have to call up to find out when I’ll get it</li>
			<li>to get my bus pass quickly, so that I’m able to travel</li>
			<li>to know where and how I can use my pass, so I don’t get thrown off a bus</li>
		</ul>
	</details>

	<h3 class="heading-small">Renewal:
	</h3>
	<p>Some users were concerned they would forget their renewal, so wanted to be reminded when the date was due. In most cases, when it came to renewing, users were disappointed to have to complete another full application, as they thought their
		information would have been saved.</p>

	<details role="group">
		<summary role="button" aria-controls="details-content-0" aria-expanded="false">
			<span class="summary">User needs in the renewals phase</span>
		</summary>
		<p>As a resident renewing a pass, I need:</p>
		<ul class="list list-bullet">
			<li>to know when my pass expires, so that I know I need a replacement</li>
			<li>you to remember who I am, so that I don’t have to apply again every year</li>
		</ul>
	</details>

{% endblock %}
