{% set thisTab = '1. Awareness' %}
{% set pageTab = 'Policy' %}

{% extends "ct_layout.html" %}

{% block page_content %}
<p>
	Users need to find out about their entitlement to concessionary travel. They may find out in these ways:
</p>
<ul class="list list-bullet">
	<li>
		word of mouth (by far the most common means of discovery)
	</li>
	<li>
		signage on bus stops and buses
	</li>
	<li>
		local, district, borough and county councils communications
	</li>
	<li>
		online, through local authority or travel websites
	</li>
</ul>
<p>
	Your service should make sure the right information is being provided through these channels, where possible.
</p>
<h3 class="heading-small">Finding the right council website</h3>
<p>
	Users need to get to the right council's website to apply for their pass. They might start by typing 'older person bus pass' or a related term into a search engine, or going to the website of the council they think is their local council's.
</p>
<h3 class="heading-small">Search engine</h3>
<p>
	The <a href="https://www.gov.uk/apply-for-elderly-person-bus-pass"> older person's bus pass page</a> on GOV.UK should send users to the right council's website when they enter their postcode.
</p>
<p>
	Make sure the postcodes your service provides services for link to the right page on your website and email any corrections to: <a href="mailto:local-direct-admin@digital.cabinet-office.gov.uk">local-direct-admin@digital.cabinet-office.gov.uk</a>.
</p>
<h3 class="heading-small">Council website</h3>
<p>
	Users may go straight to the website for the council they think they need to get a travel pass from.
</p>
<p>
	Clearly state which area your service provides concessionary travel in, as the user may be in the wrong place.
</p>

</p>
{% endblock %}
