{% set thisTab = 'Awareness' %}
{% set pageTab = 'Research' %}
{% extends "ct_layout.html" %}
{% block page_content %}

<h2 class="heading-medium">Initial awareness of pass</h2>
<p>
	As a resident applying for a pass, I need:
</p>
<ul class="list list-bullet">
	<li>
		to know if I’m eligible for a bus pass,	so that	I know	that I can apply
	</li>
	<li>
		to feel	valued	and appreciated, so that I can feel better about this milestone in my life
	</li>
</ul>
<h2 class="heading-medium">Discovery and application</h2>
<p>
	As a resident applying for a pass, I need:
</p>
<ul class="list list-bullet">
	<li>
		to get someone to help me with my application, so that I'm able to get my bus	pass
	</li>
	<li>
		to know where	to apply and how, so that I don’t complete the wrong application
	</li>
	<li>
		to know it’s safe to do online	so, that I’m not afraid
	</li>
	<li>
		to know what I	need to provide with my application,	so that	I can	prove who I am
	</li>
	<li>
		to know how to provide a photo, so that, so that my	application is successful
	</li>
	<li>
		to know that help is available, so that I know	what to do if I get	stuck
	</li>
</ul>

{% endblock %}
