{% set thisTab = 'Awareness' %}
{% set pageTab = 'Research' %}
{% extends "ct_layout.html" %}
{% block page_content %}

<p>
	As a resident applying for a pass, I need:
</p>
<ul class="list list-bullet">
	<li>
		to know if I’m eligible for a bus pass,	so that	I know	that I can apply
	</li>
	<li>
		to feel	valued	and appreciated, so that I can feel better about this milestone in my life
	</li>
</ul>
<hr />
	 <p>
		 Most were aware that they would be eligible for some form of concessionary travel, however it was important for them to be able to check and get official confirmation of this before applying.
	 </p>
	 <p>
		 Some applied when they reached ‘the age’ and considered it a milestone in their life that they wanted to recognise. Others only applied when a circumstance changed which led to increased dependence on public transport.
	 </p>
 </div>
{# <h2 class="heading-medium">Discovery and application</h2>
<p>
	As a resident applying for a pass, I need:
</p>
<ul class="list list-bullet">
	<li>
		to get someone to help me with my application, so that I'm able to get my bus	pass
	</li>
	<li>
		to know where	to apply and how, so that I don’t complete the wrong application
	</li>
	<li>
		to know it’s safe to do online	so, that I’m not afraid
	</li>
	<li>
		to know what I	need to provide with my application,	so that	I can	prove who I am
	</li>
	<li>
		to know how to provide a photo, so that, so that my	application is successful
	</li>
	<li>
		to know that help is available, so that I know	what to do if I get	stuck
	</li>
</ul>
<details>
 <summary><span class="summary">Details</span></summary>
 <div class="panel panel-border-narrow">
	 <p>
		 From the outset, a significant proportion of those we spoke to needed assistance with the process. This was especially so where the application process had to be completed online. In most cases, this was provided by a family member or carer.
	 </p>
	 <p>
		 Very significant concerns were raised by this much older group about the difficulty and security of completing an application online. Most were unwilling to do so, preferring to visit a contact centre or apply by post.
		 The most common cause of issues in completing the application process was the need to provide documents to prove identity and eligibility. This problem was most significant in digital applications, with many unable to complete without assistance.
	 </p>
 </div>
</details> #}
{% endblock %}
