{% set thisTab = '6. End' %}
{% set pageTab = 'Policy' %}

{% extends "ct_layout.html" %}

{% block page_content %}

	<p>
		When the user has uploaded their photograph and provided contact details, the service should tell them their application is complete, state when they can expect to receive their bus pass and let them know it will be posted to the address they previously confirmed.
	</p>
	<p>
		The service should send a letter with the pass providing information on how, when and where it can be used, and what to do in case of a lost or stolen pass.
	</p>
	<p>
		Bus passes are a physical plastic card that successful applicants can use on any bus in England. They need to either show it to the driver or scan on a card reader when they get onto the bus.
	</p>
	<h3 class="heading-medium">Local variations</h3>
	<p>
		Concessionary travel discounts vary locally, for example in London the pass also gives free train and tram travel. Such details should be included in information about using the pass. In London, the pass is an Oyster card which the user scans on a card reader.
	</p>


{% endblock %}
