{% set thisTab = 'Start' %}
{% set pageTab = 'Policy' %}

{% extends "pp_layout.html" %}

{% block page_content %}

<p>
	The user journey should begin on the council service web page.
</p>
<p>
	The start section should provide a description of the online service and provide links to alternative online and offline routes.
</p>
<p>
	It should also signpost users to these relevant services: Replace a lost or stolen parking permit, Renew an expired parking permit and Apply for a Blue Badge.
</p>

{% endblock %}
