{% extends "layout.html" %}
{% set pageTitle = "Apply for a resident's parking permit" %}
{% block page_title %}
  {{ pageTitle }}
{% endblock %}
{% block content %}

  <main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/toolkit_breadcrumbs.html" %}

    <h1 class="heading-xlarge">
      <span class="strapline">Service pattern for</span>
      {{ pageTitle }}
    </h1>
    {% include "includes/index_metadata.html" %}

    <div class="grid-row" data-module="highlight-active-section-heading">
      <div class="column-third">

        <!--  Page contents -->
        <div class="page-contents js-page-contents js-stick-at-top-when-scrolling js-sticky-resize" style="width: 212px;">
          <h2 class="heading-small page-contents__title">Page contents:</h2>
          <ul class="page-contents__list">
            <li>
              <a href="#example-service">Example service</a>
            </li>
            <li>
              <a href="#user-need">What is the user need?</a>
            </li>
            <li>
              <a href="#council-need">What do councils need?</a>
            </li>
            <li>
              <a href="#user-journey">What is the user journey?</a>
            </li>
          </ul>
        </div>

      </div>
      <div class="column-two-thirds">
        <p>
          This page is for people who work in local authorities. It outlines a common pattern for providing resident's parking permits services effectively online, based on user needs.
          <a href="/">Read more about service patterns.</a>
        </p>

        <h2 class="heading-medium" id="example-service">Example service</h2>
        <p>
          As you read the service pattern description, explore
          <a href="parking-permit/example-service/start-page">the example council service</a>.
        </p>

        <h2 class="heading-medium" id="user-need">What is the user need?</h2>
        <p>
          Residents need to park their car near their home without being fined. In some areas this means they need to get a parking permit. Parking permit schemes help make sure there are parking spaces available for residents, as they make it illegal to park
          in some areas without a permit.
        </p>
        <p>
          They need to be able to check if they need a permit and apply for it online, easily.
        </p>
        <p>
          We recommend putting users first when designing your parking permit service.
        </p>
        <p>
          <a href="/service-patterns/parking-permit/user-research/discovery">Understand other user needs for this service</a>
        </p>

        <h2 class="heading-medium" id="council-need">What does your service need from users to deliver this service?</h2>
        <p>Depending on your local authority's needs, users may be asked to provide:</p>
        <ul class="list list-bullet">
          <li>
            the postcode of the area where they want to park
          </li>
          <li>
            proof they live in the area
          </li>
          <li>
            the registration number of the vehicle to be permitted
          </li>
          <li>
            payment (to support the cost of the service – may vary from council to council and within the service, for example depending on parking zone)
          </li>
        </ul>

        <h2 class="heading-medium" id="user-journey">What is the user journey?</h2>
        {% include 'includes/pp-user-journey-diagram.html' %}
        <p>
          These are the steps users should go through.
        </p>
        <details>
          <summary>
            <span class="summary">1. Awareness</span>
          </summary>
          <div class="panel panel-border-narrow">
            <p>
              Users should find out about the parking permits service before they need to park their car. This could be through:
            </p>
            <ul class="list list-bullet">
              <li>
                council messaging when they sign up for council tax payments
              </li>
              <li>
                estate agent information when they buy their house
              </li>
              <li>
                street signage
              </li>
            </ul>
            <p>
              Your service needs to make sure correct information is being provided through all channels within your control.
            </p>
          </div>
        </details>
        <details>
          <summary>
            <span class="summary">2. Finding the right council</span>
          </summary>
          <div class="panel panel-border-narrow">
            <p>
              When the user knows they need a permit, they need to get to the right council's website to apply. Users might start by typing 'parking permit' into a search engine, or going to the website of the council they think they need a permit from.
            </p>
            <h3 class="heading-small">Search engine</h3>
            <p>
              <a href="https://www.gov.uk/parking-permit">The GOV.UK parking permits page</a>
              is the top result in most search engines. It should send users to the right council's website when they enter their postcode. Your service needs to make sure the postcodes it provides services for are linked to the right page on their website and
              email any corrections to
              <a href="mailto:local-direct-admin@digital.cabinet-office.gov.uk">local-direct-admin@digital.cabinet-office.gov.uk</a>.
            </p>
            <h3 class="heading-small">Council website</h3>
            <p>
              Users may also go straight to the website for the council they think they need to get a permit from. This makes it very important for your service's webpage to clearly state which area your parking permit service covers – as the user may be in the
              wrong place.
            </p>
          </div>
        </details>
        <details>
          <summary>
            <span class="summary">3. Parking start page</span>
          </summary>
          <div class="panel panel-border-narrow">
            <p>
              Some users may not go through the first two steps. They could arrive on your council's website with a need to park, but without knowing they need a permit. So it's important to explain they may need a permit.
            </p>
            <p>
              <a href="parking-permit/example-service/start-page">Explore the example council service start page</a>
            </p>
            <p>
              <a href="user-research/discovery">
                Access related user research</a>
            </p>
          </div>
        </details>
        <details>
          <summary>
            <span class="summary">4. Routing to the right boundary</span>
          </summary>
          <div class="panel panel-border-narrow">
            <p>
              You need to find out where the user wants to park so your service can:
            </p>
            <ul class="list list-bullet">
              <li>
                give the user a permit for the right parking boundary
              </li>
              <li>
                let the user know if there are no permits available for the area where they want to park
              </li>
              <li>
                check the user is a resident in the parking boundary where they want to park
              </li>
            </ul>
            <p>
              The best way to do this is through a postcode lookup tool, as this is the easiest and fastest way for users to find and understand information they need about where they can park.
            </p>
            <p>
              It should be done at this early point in the user journey so that the user doesn't go through unnecessary effort.
            </p>
            <p>
              <a href="parking-permit/example-service/check-boundary">Explore the where do you want to park example council page</a>
            </p>
            <p>
              <a href="user-research/discovery">
                Access related user research</a>
            </p>
            <p>
              At this point your online service should also check if there are permits available in the area the user wants to park in. If permits are available, move the user on to the next step. If not your service should enable the user to be added to a waiting list for their area by submitting their address.
            </p>
            <p>
              <a href="parking-permit/example-service/no-permits">Explore the no permits available example council page</a>
            </p>
            <p>
              <a href="user-research/discovery">
                Access related user research</a>
            </p>
          </div>
        </details>
        <details>
          <summary>
            <span class="summary">5. Picking the right permit type</span>
          </summary>
          <div class="panel panel-border-narrow">
            <p>
              When the council knows where the user wants to park and that permits are available, they can tell the user about the parking area boundary and ask if they are a resident of that area.
            </p>
            <a href="parking-permit/example-service/resident-choice">Explore the resident or visitor example council page</a>
            <p>
              <a href="user-research/discovery">
                Access related user research</a>
            </p>
          </div>
        </details>
        <details>
          <summary>
            <span class="summary">6. Resident's start page
            </span>
          </summary>
          <div class="panel panel-border-narrow">
            <p>
              Now the user is in the right place, this page should communicate:
            </p>
            <ul class="list list-bullet">
              <li>
                types of permit users can apply for, if applicable
              </li>
              <li>
                permit eligibility requirements
              </li>
              <li>
                where the permit they are applying for will allow them to park
              </li>
              <li>
                at what time the permit they are applying for will allow them to park
              </li>
              <li>
                how much the permit will cost
              </li>
              <li>
                how long the permit is valid for
              </li>
              <li>what information they need about the car, for example vehicle registration number</li>
              <li>
                how long the process usually takes
              </li>
              <li>
                what to do if they need assistance with the application
              </li>
              <li>if the service differs from this pattern, include any other information the user needs to provide</li>
            </ul>
            <a href="parking-permit/example-service/resident-start">Explore the example council resident's start page</a>
            <p>
              <a href="user-research/discovery">
                Access related user research</a>
            </p>
          </div>
        </details>
        <details>
          <summary>
            <span class="summary">7. Prove you are a resident
            
          </summary>
          <div class="panel panel-border-narrow">
            {% set serviceString = 'parking-permit' %}
            {% include 'common-content/proving-identity.html' %}
      </div>
    </details>
    <details>
      <summary>
        <span class="summary">8. Confirm address and eligibility</span>
      </summary>
      <div class="panel panel-border-narrow">
        <p>
          GOV.UK Verify will send the council address for the user supplied by their chosen identity provider. When the user returns from the GOV.UK Verify process, your service's webpage should ask them to confirm if this is their current address.
        </p>

        <a href="parking-permit/example-service/confirm-address">Explore the confirm name and address example council page</a>
        <p>
          <a href="user-research/discovery">
            Access related user research</a>
        </p>
        <p>
          If the user says the address supplied through GOV.UK Verify is not correct, they are likely to be a new resident whose address has not been updated with their identity provider. The user should then be asked to enter their current address and be warned that they must not enter false information.
        </p>
        <a href="parking-permit/example-service/unverified-address">Explore the enter current address example council page</a>
        <p>
          <a href="user-research/discovery">
            Access related user research</a>
        </p>
        <p>
          If the parking permit your council issues is physical, your service can gain extra confidence that the applicant's address is current by mailing the permit to the address they've confirmed in their online application. Mention you'll be using the address for this purpose on the confirmation page.
        </p>
        <p>
          If the permit your council issues is digital and your serice wants extra confidence of eligibility, you can issue a short-term permit, for example for 3 months. After this time, the user's identity provider should have the new address and the user
          can re-apply using GOV.UK Verify.
        </p>
      </div>
    </details>
    <details>
      <summary>
        <span class="summary">9. Address check for validity and permit numbers</span>
      </summary>
      <div class="panel panel-border-narrow">
        <h4 class="heading-small">a. Does the user live in the area?</h4>
        <p>
          At this point your service should check if the user lives in the eligible area, and if they do show them a message confirming they are eligible. This can be done by checking the user's address against your council's database of parking permit zones.
        </p>
        <p>
          <a href="parking-permit/example-service/not-eligible-address">Explore the not eligible due to address example council page</a>
        </p>
        <p>
          <a href="user-research/discovery">
            Access related user research</a>
        </p>

        <h4 class="heading-small">b. Does the user or the user's address already have a permit?</h4>
        <p>
          Your council may limit the number of people who can get a permit, or number of permits allowed per address. At the point where the online application checks address eligibility, it should also check if any permits are currently assigned to the person or their address, and if applicable issue an ineligible message.
        </p>
        <p>
          <a href="parking-permit/example-service/not-eligible-permits-exceeded">Explore the not eligble due to number of permits example council page</a>
        </p>
        <p>
          <a href="user-research/discovery">
            Access related user research</a>
        </p>
        <h4 class="heading-small">c. Is the user eligible for multiple permits?</h4>
        <p>
          If the user is eligible for multiple permits, for example visitors permits, your service should ask which type of permit the user would like to apply for.
        </p>
        <p>
          <a href="parking-permit/example-service/eligible-for-many">Explore the choose permit example council page</a>
          <p>
            <a href="user-research/discovery">
              Access related user research</a>
          </p>
        </p>
      </div>
    </details>
    <details>
      <summary>
        <span class="summary">10. Enter vehicle registration</span>
      </summary>
      <div class="panel panel-border-narrow">
        <p>
          Some councils require the permit to be associated with a specific vehicle.
        </p>
        <p>
          If your service requires this for enforcement purposes, your service's webpage needs to specify that this is why you need the data.
        </p>
        <p>
          In some councils, the permit price varies depending on the vehicle type, emissions, make or other conditions.
        </p>
        <p>
          If your council requires this information, your service can look it up using DVLA's vehicle details API. In this case, the page should explain to users that their registration number will be used for this purpose as well.
        </p>
        <p>
          <a href="parking-permit/example-service/enter-reg">Explore the enter registration number example council page</a>

        </p>
        <p>
          <a href="user-research/discovery">
            Access related user research</a>
        </p>
      </div>
    </details>
    <details>
      <summary>
        <span class="summary">11. Choose a permit</span>
      </summary>
      <div class="panel panel-border-narrow">
        <p>
          This page should only be displayed if the user has a choice of permit at this point. Generally local councils give users a choice of 6 month or 12 month permits.
        </p>
        {# <p>
          If your sercvice has used the DVLA vehicle details API, it should display the returned data to the user and explain that the vehicle price has been calculated based on that information.
        </p> #}
      </div>
    </details>
    <details>
      <summary>
        <span class="summary">12. Pay</span>
      </summary>
      <div class="panel panel-border-narrow">
        <p>
          Permit fees will vary based on fee calculation rules determined by each individual council. In some cases the permit may be issued free of charge, for example, if the resident is the first member of the household to apply.
        </p>
        <p>
          <a href="parking-permit/example-service/pre-payment">Explore accepting payments example council pages</a>
        </p>
        <p>
          <a href="user-research/discovery">
            Access related user research</a>
        </p>
        <p>
          Your service can accept payment via a number of channels, including checks, bank transfers or online payments.
          <a href="https://www.gov.uk/guidance/g-cloud-buyers-guide">Councils can find a supplier on the Digital Marketplace.</a>
        </p>
        <p>
          In the future, your service will be able to accept payments using
          <a href="https://www.gov.uk/government/publications/govuk-pay/govuk-pay">GOV.UK Pay</a>.
        </p>
      </div>
    </details>
    <details>
      <summary>
        <span class="summary">13. Receive permit confirmation</span>
      </summary>
      <div class="panel panel-border-narrow">
        <p>
          After payment, the user needs to receive a confirmation of payment and an acknowledgement that their application has been successful. They should also receive information about how the permit will be enforced – see Step 8.
        </p>
        <p>
          If the payment cannot be accepted or if the application fails, for example it times out, the user should be shown an on-screen message that specifies the next steps to take to continue with the application.
        </p>
        <p>
          Your service should ask the user how they would like to receive this confirmation of payment, offering the choice of email, letter or text.
          <a href="parking-permit/example-service/contact">See the example page on how to do this.</a>
        </p>
        <p>
          In the future, your service will be able to send this confirmation using
          <a href="https://www.gov.uk/government/publications/govuk-notify/govuk-notify">GOV.UK Notify</a>.
        </p>
      </div>
    </details>
    <details>
      <summary>
        <span class="summary">14. Contacting users</span>
      </summary>
      <div class="panel panel-border-narrow">
        <p>
          You may want to capture users contact details so they can be contacted if things go wrong with their application, or for use in future for renewal reminders.
        </p>
        <p>
          Allow your users to select their prefered contact method and only contact them in this way in future.
        </p>
        <p>
          <a href="parking-permit/example-service/renewal-reminder">Explore the preferred contact details example council page</a>
        </p>
        <p>
          <a href="user-research/discovery">
            Access related user research</a>
        </p>
      </div>
    </details>
    <details>
      <summary>
        <span class="summary">15. Checking permits</span>
      </summary>
      <div class="panel panel-border-narrow">
        <p>
          It's better for users and cheaper for government if permits are issued electronically. Wardens check electronic permits by entering registration numbers into a handheld device linked to a database.
        </p>
        <p>
          If your service hasn't yet moved over to an electronic permit system, it should have a plan in place to move over.
        </p>
        <p>Until then, your service should mention in the physical permit payment receipt:
        </p>
        <ul class="list list-bullet">
          <li>
            when the user can expect their permit to arrive
          </li>
          <li>if the user can pick up their permit from a council office to get it faster and where that is</li>
          <li>
            if the user can print a temporary permit themselves while they wait for a permanent one</li>
          <li>advice on how customers can park without their permit until they receive it if your service doesn't provide a temporary printable permit</li>
        </ul>
        <p>
          This information should also be communicated on your service's start page at the beginning of the user journey.
        </p>
        <p>
          Temporary permits should clearly show their expiry date so wardens and users can check them easily.
        </p>
      </div>
    </details>
    <details>
      <summary>
        <span class="summary">16. Renewals
        </span>
      </summary>
      <div class="panel panel-border-narrow">
        <p>
          Your service should remind users when it's time for them to renew their permits, using the same contact method used for the payment receipt.
        </p>
        <p>
          <a href="#">See the example renewal notification</a>
          (page in progress)
        </p>
      </div>
    </details>
  </div>
</div>
</main>

{% endblock %}
