{% set thisTab = 'Check' %}
{% set pageTab = 'Design' %}
{% extends "pp_layout.html" %}
{% block page_content %}
<p>
	This is for the Check tab
<p>
<div class="annotated-image-container">
	<div class="annotated-image">
		<img src="{{asset_path}}images/ppscreenshot/parkingstart.png" />
		<ol class="list upload-help">
			<li style="top: 8.5%; right: -4%;">
				<a href="#1">
					<h2 class="heading-small"><span class="circle circle-step-large">1</span></h2>
				</a>
			</li>
			<li style="top: 34%; left: 71%;">
				<a href="#2">
					<h2 class="heading-small"><span class="circle circle-step-large">2</span></h2>
				</a>
			</li>
			<li style="top: 47%; left: 71%;">
				<a href="#3">
					<h2 class="heading-small"><span class="circle circle-step-large">3</span></h2>
				</a>
			</li>
			<li style="top: 60%; left: 71%;">
				<a href="#4">
					<h2 class="heading-small"><span class="circle circle-step-large">4</span></h2>
				</a>
			</li>
			<li style="bottom: 5%; left: 66%;">
				<a href="#5">
					<h2 class="heading-small"><span class="circle circle-step-large">5</span></h2>
				</a>
			</li>
		</ol>
	</div>
	<span><a href="/service-patterns/parking-permit/example-service/start-page" target="_blank">Start page example council page</a></span>
</div>

<ol class="list upload-help big-number-list">
	<li id="1">
		<h2 class="heading-small"><span class="circle circle-step-large">1</span></h2>
		<p>
			Include a prominent contact link throughout the journey.
		</p>
	</li>
	<li id="2">
		<h2 class="heading-small"><span class="circle circle-step-large">2</span></h2>
		<p>
			Copy explains the user may need a parking permit.
		</p>
	</li>
	<li id="3">
		<h2 class="heading-small"><span class="circle circle-step-large">3</span></h2>
		<p>
			Different types of parking permit issued by the council are referenced.
		</p>
	</li>
	<li id="4">
		<h2 class="heading-small"><span class="circle circle-step-large">4</span></h2>
		<p>
			Users are informed what a permit will allow them to do.
		</p>
	</li>
	<li id="5">
		<h2 class="heading-small"><span class="circle circle-step-large">5</span></h2>
		<p>
			Users are told how to get assistance if they need it.
		</p>
	</li>
</ol>
The next page in the flow asks users to enter their postcode to check if they need a permit:
	<div class="annotated-image-container">
		<div class="annotated-image">
			<img src="{{asset_path}}images/ppscreenshot/checkpermit.png" />
		<span><a href="/service-patterns/parking-permit/example-service/check-boundary" target="_blank">Check if you need a permit example council page</a></span>
	</div>
	</div>
	<p>
	 At this point the council service will check the user's postcode against a database of parking permit zones. If the postcode requires a parking permit to park, the screen below will show. It allows the user to choose the type of permit they need and access details about the parking zone area.
	</p>
	<div class="annotated-image-container">
		<div class="annotated-image">
			<img src="{{asset_path}}images/ppscreenshot/permittype.png" />
			<ol class="list upload-help">
				<li style="top: 51%; right: 50%;">
					<a href="#6">
						<h2 class="heading-small"><span class="circle circle-step-large">6</span></h2>
					</a>
				</li>
				<a href="/service-patterns/parking-permit/example-service/resident-choice" target="_blank">Select permit type example council page</a>
				</div>
			</div>
			<p>
			 A screen listing streets in the parking permit zone area for the user's postcode, plus a street map, displays when the user clicks the parking zone area link. They return to the the select permit type via the call to action link.
			</p>
			<div class="annotated-image-container">
				<div class="annotated-image">
					<img src="{{asset_path}}images/ppscreenshot/parkingareastreets.png" />
				<span><a href="/service-patterns/parking-permit/example-service/parking-zone-map" target="_blank">Parking permit area example council page</a></span>
			</div>
			</div>
			<div class="annotated-image-container">
				<div class="annotated-image">
					<img src="{{asset_path}}images/ppscreenshot/parkingareamap.png" />
				<span><a href="/service-patterns/parking-permit/example-service/parking-zone-map" target="_blank">Parking permit area example council page</a></span>
			</div>
			</div>
<p>
	The user is then routed to the <a href="/service-patterns/parking-permit/identity/design">identity section</a>.
</p>

{% endblock %}
