{% set thisTab = 'Check' %}
{% set pageTab = 'Policy' %}

{% extends "pp_layout.html" %}

{% block page_content %}

<p>
	Users may not actually need a parking permit for the area they live in, so they need check if they need one and be routed to the resident's parking permits service for the area that they live in.
</p>
<p>
	Users should be able to choose the type of permit they need after finding out that they need a permit.
</p>
<p>
	Users should be informed where the permit they've chosen to apply for will allow them to park.
</p>


{% endblock %}
