{% extends "layout_argleton.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="back">
		<a href="javascript:history.back()">&#9664; Back</a>
	</div>

	<div class="grid-row">
		<div class="column-two-thirds">
		  <h1 class="heading-large">Select how you want to pay</h1>
	  	<form class="radio-nav">
				<div class="form-group">

					<label id="label-debitcard" class="block-label" for="radio-debitcard">
					    <input id="radio-debitcard" type="radio" name="radio-group" value="enter-card">
					    Credit or Debit card
					</label>

					<label id="label-directdebit" class="block-label" for="radio-directdebit">
					    <input id="radio-directdebit" type="radio" name="radio-group" value="direct-debit-payment">
					    Direct debit
				  	</label>

			  	<label id="label-paypal" class="block-label" for="radio-paypal">
				    <input id="radio-paypal" type="radio" name="radio-group" value="paypal-payment">
				    PayPal
			  	</label>

        </div>

				<div class="form-group">
			 		<button class="button">Continue</button>
			 	</div>
			</form>
		</div>
	  <div class="column-third">

		</div>
	</div>

</main>

{% endblock %}
