{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a resident's parking permit" %}
{% set pageTitle = "Enter card details" %}

{% block content %}

<div class="column-two-thirds">

	<form class="form" method="GET" action="/pay/confirm-card-payment" autocomplete="off">

		<div class="form-group cards-group">
			<label class="form-label-bold" for="card-number">
		    Card number
		  	</label>
		  	<input class="form-control medium-width" id="card-number" type="number" pattern="[0-9]*" min="0" max="9999999999999999">
		  	<div class="card-images">
          <p class="accepted-copy-2">Accepted credit and debit card types</p>
			  	<img class="original-accepted" id="original-accepted" src="/public/images/accepted-cards-x2.png">
		  	</div>
		</div>

		<div class="form-group">
      		<fieldset>
      		  <div class="form-date">
        		<legend class="form-label-bold">Expiry date	<span class="form-hint">For example, 07/17</span>
        		</legend>
		          <div class="form-group form-group-month">
        		    <label for="exp-month">Month</label>
            		<input class="form-control" id="exp-month" name="exp-month" type="number" pattern="[0-9]*" min="1" max="12">
		          </div>
        		  <div class="form-group form-group-month">
	            	<label for="exp-year">Year</label>
    	        	<input class="form-control" id="exp-year" name="exp-year" type="number" pattern="[0-9]*" min="16" max="25">
          		</div>
        	</div>
       		</fieldset>
      	</div>

      	<div class="form-group">
			<label class="form-label-bold" for="full-name">
		    	Name on card
		  	</label>
		  	<input class="form-control" id="full-name" name="full-name" type="text">
		</div>

		<div class="form-group">
			<label class="form-label-bold" for="card-security-number">
		    Card security code
		    <span class="form-hint">This is the 3 digit code on the back of your card</span>
		  	</label>
		  	<input class="form-control" id="security-number" type="number" pattern="[0-9]*" min="0" max="999"><img class="card-image" src="/public/images/card-security-code-2.png">
		</div>

      <div class="form-group">
	    <h2 class="heading-medium">Billing address</h2>
	    <div class="payment-type-intro">
  		<p>This is the address associated with the card</p>
  		</div>
      	<fieldset>
			<div class="form-group">
				<label class="form-label-bold" for="building-and-street">
			    Building name and/or number and street
			  	</label>
			  	<input class="form-control" id="building-and-street" name="building-and-street" type="text">
			  	<input class="form-control" id="building-and-street" name="building-and-street" type="text">
			</div>
			<div class="form-group">
				<label class="form-label-bold" for="town-or-city">
			    Town or city
			  	</label>
			  	<input class="form-control medium-width" id="town-or-city" name="town-or-city" type="text">
			</div>
			<div class="form-group">
				<label class="form-label-bold" for="postcode">
			    Postcode
			  	</label>
			  	<input class="form-control" id="postcode" name="postcode" type="text">
			</div>
			<div class="form-group">
				<label class="form-label-bold" for="email-address">Email address<span class="form-hint">We'll send your payment confirmation here</span>
			  	</label>
			  	<input class="form-control" id="email-address" name="email-address" type="text">
			</div>
			</fieldset>
		</div>

		<div class="grid-row">
			<div class="column-two-thirds">
				<div class="form-group">
			 		<button class="button">Continue</button>
			 	</div>
			 	<div class="back">
					<a href="#">Cancel payment</a>
				</div>
			</div>
		</div>
</form>
</div>
		<div class="column-third">

			<div class="payment-summary payment-summary-small">
				<h2>Payment summary</h2>

			      <p class="payment-info">Resident's parking permit</p>
			       <h3>Amount to pay:</h3>
			       <p class="payment-amount">£60.00</p>
			</div>
		</div>
	</div>


</main>


{% endblock %}
