{% extends "layout_argleton.html" %}

{% block page_title %}
  Argleton County Council - Apply for an older person's bus pass in Argleton
{% endblock %}

{% block content %}

<main id="content" role="main">
<div class="back">
		<a href="javascript:history.back()">&#9664; Back</a>
	</div>

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Application complete</h1>
        <p>
          Your reference number is <br>
          <strong class="heading-medium">HDJ2123F</strong>
        </p>
      </div>
      <p><a href="#"> Request</a> a confirmation email.</p


<div>Your parking permit is on its way, you can expect your permit to arive withing 5 working days. In the mean time, you can use this <a href="#">temporary permit.</a>
</div>
	

</main>

{% endblock %}
