{% set thisTab = 'End' %}
{% set pageTab = 'Policy' %}

{% extends "pp_layout.html" %}

{% block page_content %}

	<p>
		It's better for users and cheaper for government if permits are issued electronically. Wardens check electronic permits by entering registration numbers into a handheld device linked to a database.
	</p>
	<p>
		If the service hasn't yet moved over to an electronic permit system, it should have a plan in place to move over. Until then, the service should mention in the physical permit payment receipt:
	</p>
	<ul class="list list-bullet">
		<li>how long the user will need to wait for a permit to be posted to them</li>
		<li>if the user can pick up their permit from a council office to get it faster and where that is</li>
		<li>if the user can print a temporary permit themselves while they wait for a permanent one</li>
		<li>advice on how customers can park without their permit until they receive it</li>
	</ul>
	<p>
		This information should also be communicated on the service's start page at the beginning of the user journey.
	</p>
	<p>
		Temporary permits should clearly show their expiry date so wardens and users can check them easily.
	</p>


{% endblock %}
