{% set thisTab = 'Photo' %}
{% set pageTab = 'Design' %}
{% extends "ct_layout.html" %}
{% block page_content %}
	<p>
		Users are required to upload a photo of themself for their bus pass. The easiest way for most users to do this is by taking a photo with their device.
	</p>
	{% set annotationsContent = [
		{
			"header": "Detecting mobile device",
			"position": "top: 17%; left: 45%",
			"content": "<p>
				The service should detect the user agent string for the user's device. If it's a mobile device, the user should not be shown the page asking if they have a webcam, as most mobile devices with browsers have cameras. Instead, the user should be directed to the following page:
			</p>
			<div class='annotated-image-container'>
				<img src='"+asset_path+"images/ctscreenshot/mobile-cam.png' />
			</div>
			<p>
				The \'Add a photo\' button should open the device\'s camera, and when the user takes a photo, it should be uploaded straight away. They can chose to retake the photo until they\'re happy with it, then when they select \'Yes, use this photo\' they are routed to the <a href=\"design/notifications\">notifications section</a>.
			</p>
			"
		},{
			"header": "Taking a photo with a webcam",
			"position": "top: 57%; left: 20%",
			"content": '<p>
				Many devices will have a webcam that will not be detectable via the user agent string. The service should ask the user if they have a webcam, and if they do, route them to a page that allows them to take a photo within the browser window:
			</p>
			<div class="annotated-image-container">
				<img src="'+asset_path+'images/ctscreenshot/openwebcam.png" />
			</div>
			<p>
				When the user clicks the \'Open camera\' button the webcam opens within the page:
			</p>
			<div class="annotated-image-container">
				<img src="'+asset_path+'images/ctscreenshot/takephotocomp.png" />
			</div>
			<p>
				When the user clicks the \'Take photo\' button the webcam takes their photo, the user is given the option to use or retake the photo and copy explains the privacy policy:
			</p>
			<div class="annotated-image-container">
				<img src="'+asset_path+'images/ctscreenshot/confwebcam.png" />
			</div>
			When the user select \'Yes, use this photo\' they are routed to the <a href="design/notifications">notifications section</a>.
			'
		},{
			"header": "Uploading a photo",
			"position": "top: 65%; left: 20%",
			"content": '<p>
				If the user does not have a webcam on their computer, they choose \'No\' in answer to the "Do you have a webcam?" question and are routed to the next question which asks if they have an existing photo on their device:
			</p>
			<div class="annotated-image-container">
				<img src="'+asset_path+'images/ctscreenshot/photooncomp.png" />
			</div>
			<details>
				<summary><span class="summary">No photo on device – has another device with camera</span></summary>
				<div class="panel">
					<p>
						If the user answers \'No\' to the "Do you have a webcam?" and "Do you have a photo like this?" questions, they are routed to this screen which asks if they have another device with a camera:
					</p>
					<div class="annotated-image-container">
						<img src="'+asset_path+'images/ctscreenshot/mobilewithcam.png" />
					</div>
					<p>
						If they choose \'Yes\' they\'re directed to this screen, which includes copy explaining the photo requirements:
					</p>
					<div class="annotated-image-container">
						<img src="'+asset_path+'images/ctscreenshot/takephotodev.png" />
					</div>
					<p>
						The next screen gives guidance on moving the photo from their device onto the computer the user is accessing the application with:
					</p>
					<div class="annotated-image-container">
						<img src="'+asset_path+'images/ctscreenshot/movephoto.png" />
					</div>
					<p>
					The user is then directed to the \'Upload your bus pass photo\' screen.
				</p>
				</div>
			</details>
			<details>
				<summary><span class="summary">No photo on device – has a digital camera</span></summary>
				<div class="panel">
					<p>
						If the user answers \'No\' to the "Do you have a webcam?" and "Do you have a photo like this?" questions, they are routed to this screen which asks if they have another device with a camera:
					</p>
					<div class="annotated-image-container">
						<img src="'+asset_path+'images/ctscreenshot/mobilewithcam.png" />
					</div>
					<p>If they choose \'No\' the next screen asks if they have a digital camera:
					</p>
					<div class="annotated-image-container">
						<img src="'+asset_path+'images/ctscreenshot/dodigicam.png" />
					</div>
					<p>If they choose \'Yes\' they\'re directed to this screen, which includes copy explaining the photo requirements:
					</p>
				<div class="annotated-image-container">
					<img src="'+asset_path+'images/ctscreenshot/takephotocam.png" />
				</div>
				<p>
					The next screen gives guidance on transferring the photo from their digital camera onto the computer the user is accessing the application with:
				</p>
				<div class="annotated-image-container">
					<img src="'+asset_path+'images/ctscreenshot/transferphoto.png" />
				</div>
				<p>
					The user is then directed to the \'Upload your bus pass photo\' screen.
				</div>
			</details>
			<details>
				<summary><span class="summary">No photo on device and no camera</span></summary>
				<div class="panel">
					<p>
						If the user\'s answers show don\'t have a digital photo or any way to take one themselves, they arrive at this page:
					</p>
					<div class="annotated-image-container">
						<img src="'+asset_path+'images/ctscreenshot/gotoshop.png" />
					</div>
					<p>
						This is the end of the journey for these users – they\'ll need to restart their application when they have a digital photo from a shop.
				</div>
			</details>
			<p>
				If the user has a photo on their computer, they\'re given guidance to help them with uploading:
			</p>
			<div class="annotated-image-container">
				<img src="'+asset_path+'images/ctscreenshot/uploadphoto.png" />
			</div>
			<div class="annotated-image-container">
				<img src="'+asset_path+'images/ctscreenshot/helpuploading.png" />
			</div>
			<p>
				When the user has uploaded a photo, they should be routed to the <a href="design/notifications">notifications section</a>.
			</p>'
		}
	]
		%}
	<div class="annotated-image-container">
		<div class="annotated-image">
			<img src="{{asset_path}}images/ctscreenshot/webcamstart_whole.png" />
			<ol class="list upload-help">
				{% for annotation in annotationsContent %}
				<li style="{{annotation.position}}">
					<a href="#{{loop.index}}">
						<h2 class="heading-small"><span class="circle circle-step-large">{{loop.index}}</span></h2>
					</a>
				</li>
				{% endfor %}
			</ol>
		</div>
		<a href="">See the example council page</a>
	</div>
	<ol class="list upload-help big-number-list">
		{% for annotation in annotationsContent %}
		<li id="{{loop.index}}">
			<h2 class="heading-small">
				<span class="circle circle-step-large">{{loop.index}}</span>
			</h2>
			<div class="circle-list-item">
				<h3 class="heading-small">{{annotation.header}}</h3>
				{{annotation.content | safe}}
			</div>
		</li>
		{% endfor %}
</ol>

{% endblock %}
