{% set thisTab = 'Photo' %}
{% set pageTab = 'Policy' %}

{% extends "ct_layout.html" %}

{% block page_content %}

<p>
	Concessionary travel passes need a clear photograph of the person who the pass is issued to, so that they can't be used by anybody else. Bus drivers are responsible for checking the photo matches the user.
</p>
<p>
	Users can take a photo with their webcam as part of their application, or upload a digital photograph of themselves. Uploading a photo may be complicated for some users, so your service should find the right route for them with a series of questions.
</p>

{% endblock %}
