{% extends "layout.html" %}

{% block page_title %}
  User needs for parking permit application
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  
  <div class="breadcrumbs">
    <ol>
      <li>
          <a href="http://gov.uk/service-toolkit">Service toolkit</a>
      </li>
      <li>
          <a href="/">Local government service patterns</a>
      </li>
      <li>
          <a href="/service-patterns/parking-permit">Apply for a resident's parking permit</a>
      </li>
      <li>
          User needs
      </li>
    </ol>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">User needs for parking permit application</h1>

      <p>The goal for user research during this phase of the project, as outlined in the <a href="https://www.gov.uk/service-manual">service manual</a>, was to find out:</p>
      <ul class="list list-bullet">
        <li>who our users are</li>
        <li>our users’ needs and how they are currently meeting them</li>
        <li>needs that are not meeting</li>
      </ul>
<p>Achieving this in the relatively short timescales of our discovery, and at sufficient scale, across all participating councils presented a challenge, especially given that most participating councils had never conducted user research for project discovery.</p>

<p>To achieve scale quickly, we provided training for all of the participating councils early in the discovery phase of the project. By sharing the research effort across the participating councils, we were able to conduct approximately 100 interviews with existing service users.</p>
      
<h2 class="heading-medium">What we learnt about applying for parking permits</h2>

<p>The user journey that we observed and associated needs are recorded on the <a href="/public/images/residents-parking-journey-map.pdf">parking permits user journey map</a> (PDF, 70Kb).</p>

<p>Users of these services came from a broad demographic, and showed a broad range of skills and confidence.</p>

<p>Though this more digitally confident user group results in slightly lower barriers in moving to digital channels, many of the same problems persist, especially with providing documents as evidence. These issues were especially acute in households where the registered keeper of the car wasn’t paying the bills, such as with younger car owners.</p>

<h3 class="heading-small">Awareness and discovery:</h3>
<p>In most cases, users were aware of the need for permits. What was less clear was how or where to apply and exactly what permit to apply for. In areas with a two-tier local government structure, it was not always clear who to apply to. When seeking information about application most users visited the council website or phoned the council. Some visited <a href="http://www.gov.uk">GOV.UK</a>, however this did not always provide the correct information, especially under two-tier local structures.</p>

<p>It was at this point that users decided how to complete their application. A significant number of those we spoke to were less confident online, and lacked the confidence to complete a digital application process unaided.</p>
<details role="group">
            <summary role="button" aria-controls="details-content-0" aria-expanded="false">
              <span class="summary">User needs in the awareness and discovery phase</span>
            </summary>
            <p>As	a	resident	applying	for	a	permit,	I	need:</p>
          <ul class="list list-bullet">
            <li>permission to park right away so that I don't get fined</li>
            <li>to know which permit to apply for and how to apply for it</li>
            <li>to know that it's safe to apply online so that I'm not too worried to do so</li>
          </ul>
      </details>


 <h3 class="heading-small">Application process: </h3>
<p>The most common cause of issues in completing the application process was the need to provide documents to prove identity and residency. This problem was seen with both digital and paper-based applications, but the impact was most significant in digital applications.</p>

<p>A few users were only able to complete digital applications with assistance from friends and family, whilst others struggled to provide sufficient evidence of their eligibility.</p>
  <details role="group">
            <summary role="button" aria-controls="details-content-0" aria-expanded="false">
              <span class="summary">User needs in the application process</span></summary>
            <p>As	a	resident	applying	for	a	pass,	I	need:</p>
          <ul class="list list-bullet">
            <li>to apply without showing you all sorts of documents, so that I’m able to complete my application easily</li>
            <li>to apply without being registered for council tax, so that I don’t get fined</li>
            <li>to get someone to apply on my behalf, so that I don’t get fined</li>
          </ul>
      </details>
      
      
 <h3 class="heading-small">Processing and fulfilment: </h3>
<p>Once applications had been submitted users needed to know that they were being processed, as well as when they would be issued. This can be a difficult time if the user has to make alternative parking arrangements whilst waiting for their permit.</p>

<p>Some users contacted their council to find out what had happened to their application, as it was not clear to them at this point.</p>

  <details role="group">
            <summary role="button" aria-controls="details-content-0" aria-expanded="false">
              <span class="summary">User needs in the processing and fulfilment phase</span></summary>
            <p>As	a	resident	applying	for	a	pass,	I	need:</p>
          <ul class="list list-bullet">
            <li>to know what’s happening with my application, so that I know if something’s going wrong</li>
            <li>to know what went wrong, so that I can complete my application</li>
            <li>to know how and where I can usemy permit</li>
          </ul>
      </details>

 <h3 class="heading-small">Renewal: </h3>
<p>Some users were concerned they would forget their renewal, so wanted to be reminded when the date was due. In most cases, when it came to renewing, users were disappointed to have to complete another full application, as they thought their information would have been saved.</p>

  <details role="group">
            <summary role="button" aria-controls="details-content-0" aria-expanded="false">
              <span class="summary">User needs in the renewals phase</span></summary>
            <p>As	a	resident	renewing	a	pass,	I	need:</p>
          <ul class="list list-bullet">
            <li>to know when my permit expires, so that I know I need a replacement</li>
            <li>you to remember who I am, so that I don’t have to apply again every year</li>
          </ul>
      </details>

    </div>


  </div>

  
</main>

{% endblock %}