{% extends "layout.html" %}

{% block page_title %}
  User needs for parking permit application
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  
  <div class="breadcrumbs">
    <ol>
      <li>
          <a href="http://gov.uk/service-toolkit">Service toolkit</a>
      </li>
      <li>
          <a href="/">Local government service patterns</a>
      </li>
      <li>
          <a href="/service-patterns/parking-permit">Apply for a resident's parking permit</a>
      </li>
      <li>
          User needs
      </li>
    </ol>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">User needs for parking permit application</h1>

      <p>The goal for user research during this phase of the project, as outlined in the <a href="https://www.gov.uk/service-manual">service manual</a>, was to find out:</p>
      <ul class="list list-bullet">
        <li>who our users are</li>
        <li>our users’ needs and how they are currently meeting them</li>
        <li>needs that are not meeting</li>
      </ul>
<p>Achieving this in the relatively short timescales of our discovery, and at sufficient scale, across all participating councils presented a challenge, especially given that most participating councils had never conducted user research for project discovery.</p>

<p>To achieve scale quickly, we provided training for all of the participating councils early in the discovery phase of the project. Because we had between 7 and 14 councils carrying out research on the same 2 local services, we were able to conduct approximately 150 interviews with existing service users. We were able to analyse these findings and share them with their teams in just 2 sprints (4 weeks).</p>
      
<h2 class="heading-medium">What we learnt about applying for parking permits</h2>

<p>The user journey that we observed and associated needs are recorded on the <a href="/public/images/concessionary-travel-journey-map.pdf">parking permits user journey map</a> (PDF, 70Kb).</p>

<p>Users of these services came from a much broader demographic, and showed a much broader range of skills and confidence.</p>

<p>Though this more digitally confident user group results in slightly lower barriers in moving to digital channels, many of the same problems persist, especially with providing documents as evidence. These issues were especially acute in households where the registered keeper of the car wasn’t paying the bills, such as with younger car owners.</p>

<p>Awareness and discovery: In most cases, users were aware of the need for permits. What was less clear was how or where to apply and exactly what permit to apply for. In areas with a two-tier local government structure, it was not always clear who to apply to. When seeking information about application most users visited the council website or phoned the council. Some visited GOV.UK, however this did not always provide the correct information, especially under two-tier local structures.</p>

<p>It was at this point that users decided how to complete their application. A significant number of those we spoke to were less confident online, and needed significant reassurance to complete a digital application process.</p>

<p>Application process: The most common cause of issues in completing the application process was the need to provide documents to prove identity and residency. This problem was seen with both digital and paper-based applications, but the impact was most significant in digital applications.</p>

<p>A few users were only able to complete digital applications with assistance from friends and family, whilst others struggled to provide sufficient evidence of their eligibility.</p>

<p>Processing and fulfilment: Once applications had been submitted users needed to know that they were being processed, as well as when they would be issued. This can be a difficult time if the user has to make alternative parking arrangements whilst waiting for their permit.</p>

<p>Some users contacted their council to find out what had happened to their application, as it was not clear to them at this point.</p>

<p>Renewal: Some users were concerned they would forget their renewal, so wanted to be reminded when the date was due. In most cases, when it came to renewing, users were disappointed to have to complete another full application, as they thought their information would have been saved.</p>

    </div>


  </div>

  
</main>

{% endblock %}