{% extends "layout_argleton.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-medium">
    How would you like to receive your confirmation of payment and reminder to update?
  </h1>

  <form action="contact/finished">
    <div class="form-group">
      <fieldset>

        <legend class="visually-hidden">
          How would you like to receive your confirmation of payment and reminder to update?
        </legend>

        <label class="block-label selection-button-radio" data-target="contact-by-email" for="example-contact-by-email">
          <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
          Email
        </label>
        <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
          <label class="form-label" for="contact-email">Email address</label>
          <input class="form-control" name="contact-email" type="text" id="contact-email">
        </div>

        <label class="block-label selection-button-radio" data-target="contact-by-text" for="example-contact-by-text">
          <input id="example-contact-by-text" type="radio" name="radio-contact-group" value="No">
          Text message
        </label>
        <div class="panel panel-border-narrow js-hidden" id="contact-by-text">
          <label class="form-label" for="contact-text-message">Mobile phone number</label>
          <input class="form-control" name="contact-text-message" type="text" id="contact-text-message">
        </div>

        <label class="block-label selection-button-radio" for="billing-address">
          <input id="billing-address" type="radio" name="radio-contact-group" value="No">
          Letter (sent to billing address)
        </label>

        <label class="block-label selection-button-radio" data-target="contact-by-letter" for="example-contact-by-letter">
          <input id="example-contact-by-letter" type="radio" name="radio-contact-group" value="No">
          Letter (sent to a different address)
        </label>
        <div class="panel panel-border-narrow js-hidden" id="contact-by-letter">
          <fieldset>
            <legend>
              <span class="form-label">Address</span>
            </legend>
            <div class="form-group">
              <label class="form-label-bold" for="building-and-street">
                Building name and/or number and street
              </label>
              <input class="form-control" id="building-and-street" name="building-and-street" type="text">
              <label class="visually-hidden" for="building-and-street-2">
                Address line 2 (optional)
              </label>
              <input class="form-control" id="building-and-street-2" name="building-and-street-2" type="text">
            </div>
            <div class="form-group">
              <label class="form-label-bold" for="town-or-city">
                Town or city
              </label>
              <input class="form-control medium-width" id="town-or-city" name="town-or-city" type="text">
            </div>
            <div class="form-group">
              <label class="form-label-bold" for="postcode">
                Postcode
              </label>
              <input class="form-control" id="postcode" name="postcode" type="text">
            </div>
          </fieldset>
        </div>

      </fieldset>
    </div>
    <div class="form-group">
      <input type="submit" class="button" name="Continue">
    </div>
  </form>

</main>
{% endblock %}
