{% extends "layout_picker.html" %}

{% block page_title %}
  Service patterns for local government services
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Pick your council
      </h1>

      <p>
        Your current council is {{council.name}}. Prototypes will be styled like this page.
      </p>

      <details>

        <summary><span class="summary">Your council's variables</span></summary>

        <div class="panel panel-border-narrow">
          <table>
          {% for varName, var in council %}
            <tr>
              <td class="heading-small">
                {{varName}}
              </td>
              <td>
                {{var}}
              </td>
            </tr>
          {% else %}
          No council selected
          {% endfor %}
          </table>
          <p>
            Your council will stay the same until you change it below, or start a new session.
          </p>
        </div>

      </details>

      <div class="panel panel-border-wide">

        <form action="council-picker" method="post" class="form">
          <div class="form-group">
            <legend class="visuallyhidden">
              Which council do you want to test with?
            </legend>

            <h3 class="heading-small">
              Which council do you want to test with?
            </h3>

            {% for eachCouncil in councils %}
            <label class="block-label" for="council-{{eachCouncil.string}}">
              <input id="council-{{eachCouncil.string}}" type="radio" name="councilChoice" value="{{eachCouncil.string}}" {{ checked("councilChoice", eachCouncil.string) }}>
              {{ eachCouncil.name }}
            </label>
            {% else %}
            No councils found
            {% endfor %}

          </div>
          <div class="form-group">
            <input type="submit" class="button" value="Change council">
          </div>
        </form>
      </div>

    </div>
  </div>
</main>

{% endblock %}
