{% extends "layout.html" %}

{% block page_title %}
  Service patterns for local government services
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="back">
    		<a href="javascript:history.back()">&#9664; Back</a>
    	</div>

      <h1 class="heading-xlarge">
        Your council is {{council}}
      </h1>

      <p>
        Your council will stay set as {{council}} until you change it, or start a new session.
      </p>

      <p>
        Pick a <a href="/">service pattern</a> to the view it's prototype
      </p>

    </div>
  </div>
</main>

{% endblock %}
