{% extends "layout.html" %}

{% block page_title %}
  Service patterns for local government services
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Pick your council
      </h1>

      <p>
        Set what the prototype will be styled as here.
      </p>

      <form action="council-chosen" method="post" class="form">
        <div class="form-group">
          <legend class="visuallyhidden">
            Which council do you want to test with?
          </legend>

          <p class="heading-medium">
            Which council do you want to test with?
          </p>
          <script type="text/javascript">
            console.log('test');
          </script>

          {% for eachCouncil in councils %}
          <label class="block-label" for="council-{{argleton}}">
            <input id="council-argleton" type="radio" name="councilChoice" value="argleton" {{ checked("councilChoice","argleton") }}>
            {{ eachCouncil[0].name }}
          </label>
          {% else %}
          No councils found
          {% endfor %}

          {# <label class="block-label" for="council-unbranded">
            <input id="council-unbranded" type="radio" name="councilChoice" value="unbranded" {{ checked("councilChoice","unbranded") }}>
            unbranded #}
        </div>
        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>
      </form>

    </div>
  </div>
</main>

{% endblock %}
