{% extends "layout.html" %}
{% set pageTitle = "Apply for an older person's concessionary travel pass" %}
{% block page_title %}
    {{ pageTitle }}
{% endblock %}

{% block content %}
<main id="content" role="main">

	{% include "includes/pattern_header.html" %}

	{% set serviceAreas = ["Overview", "Awareness", "Identity", "Photo", "End"] %}

	{% include "includes/pattern_side_nav.html" %}

			<div class="column-two-thirds">

				<h2 class="heading-medium">Overview</h2>

				{% include "includes/pattern_tab_nav.html" %}

				{% block page_content %}{% endblock %}

			</div>
</main>
{% endblock %}
