{% extends "layout.html" %}
{% set thingString = "concessionary-travel" %}
{% set pageTitle = "Apply for an older person's concessionary travel pass" %}
{% block page_title %}
    {{ pageTitle }}
{% endblock %}

{% block content %}
<main id="content" role="main">

	{% include "includes/pattern_header.html" %}

	{% set sections = ['Policy', 'Research', 'Design', 'Code'] %}
	{% include "includes/pattern_tab_nav.html" %}

	{% include "includes/pattern_side_nav.html" %}

			<div class="column-three-quarter leftborder">

				<h2 class="heading-medium">{{pageTab}}</h2>

				{% block page_content %}{% endblock %}

			</div>
</main>
{% endblock %}
