{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Service patterns for local government services
      </h1>

      <p>
        Local councils deliver similar services in different parts of the UK. These pages outlines common best practice across councils for delivering some of those services.
      </p>

      <ul>
        <li>
          <a href="service-patterns/parking-permit">Apply for a resident's parking permit</a>
        </li>
        <li>
          <a href="service-patterns/concessionary-travel">Apply for a senior citizen's concessionary bus pass</a>
        </li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}
