{% extends "layout.html" %}

{% block page_title %}
  Service patterns for local government services
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Local government service patterns
      </h1>

      <p>
        These guidance pages are for people who work in local government. They outline best practice for delivering digital services.
      </p>
      <p>
        The service patterns have been designed collaboratively by GDS and the councils involved in the <a href="http://www.localdigitalcoalition.uk/product/extension-of-gov-uk-verify-to-local-government-pilot/">Verify Local pilots</a>. The patterns are in their first iteration, based on <a href="https://userresearch.blog.gov.uk/2017/02/14/collaborative-user-research-for-verifylocal-discovery/">user research done in Discovery</a>, and will be iterated once they've been tested with real users in Alpha.
      </p>

      <ul class="list list-bullet">
        <li>
          <a href="service-patterns/parking-permit">Apply for a resident's parking permit</a>
        </li>
        <li>
          <a href="service-patterns/concessionary-travel">Apply for an older person's concessionary travel pass</a>
        </li>
      </ul>

      <p>
        To feedback on these patterns, <a href="https://github.com/alphagov/verify-local-patterns/blob/master/CONTRIBUTING.md">open an issue on Github</a>.
      </p>

    </div>
  </div>
</main>

{% endblock %}
