{% extends "layout_picker.html" %}

{% block page_title %}
  {{council.name}} - Apply for an older person's bus pass in {{council.shortName}}
{% endblock %}

{% block content %}

<main id="content" role="main">

   <h1 class="heading-xlarge">Add proof of age</h1>

  <p>This could be any one of the following documents</p>
  <ul class="list list-bullet">
        <li> your driving license</li>
        <li> your passport </li>
        <li> a national identity card</li>
  </ul>

  {% include 'common-content/address-upload.html' %}

</main>

{% endblock %}
