{% extends "layout_argleton.html" %}

{% block page_title %}
  Argleton County Council - Apply for an older person's bus pass in Argleton
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">Confirm date of birth</h1>

  <p>
    We've received your date of birth from GOV.UK Verify:
  </p>
  <div class="panel panel-border-wide">
    <p>
      13th September 1940
    </p>
  </div>
  <p>
    We'll use this to confirm your eligibility.
  </p>
  <p>
    Is this your date of birth?
  </p>
  <form action="eligible" method="get" class="form">
    <div class="form-group">
      <fieldset class="inline">

        <legend class="visually-hidden">Is this your date of birth?</legend>

        <label class="block-label selection-button-radio" for="radio-inline-1">
          <input id="radio-inline-1" type="radio" name="answer" value="Yes">
          Yes
        </label>
        <label class="block-label selection-button-radio" for="radio-inline-2">
          <input id="radio-inline-2" type="radio" name="answer" value="No">
          No
        </label>

      </fieldset>
    </div>
    <div class="form-group">
      <input class="button" type="submit" value="Next">
    </div>
  </form>

</main>

{% endblock %}
