{% extends "layout_argleton.html" %}

{% set serviceName = "Apply for an older person's bus pass" %}
{% set pageTitle = "Confirm date of birth" %}

{% block content %}

<div class="column-two-thirds">

  <p>
    We've received your date of birth from GOV.UK Verify:
  </p>
  <div class="panel panel-border-wide">
    <p>
      12th March 1951
    </p>
  </div>
  <p>
    We'll use this to confirm your eligibility.
  </p>
  <p>
    Is this your date of birth?
  </p>
  <form action="confirm-address" method="get" class="form">
    <div class="form-group">
      <fieldset class="inline">

        <legend class="visually-hidden">Is this your date of birth?</legend>

        <label class="block-label selection-button-radio" for="radio-inline-1">
          <input id="radio-inline-1" type="radio" name="answer" value="Yes">
          Yes
        </label>
        <label class="block-label selection-button-radio" for="radio-inline-2">
          <input id="radio-inline-2" type="radio" name="answer" value="No">
          No
        </label>

      </fieldset>
    </div>
    <div class="form-group">
      <input class="button" type="submit" value="Next">
    </div>
  </form>

</div>

{% endblock %}
