{% extends "layout_picker.html" %}

{% set serviceName = "Apply for an older person's bus pass" %}
{% set pageTitle = "Your details"%}

{% block content %}

<div class="column-two-thirds">

  {% if(userAgent.mobile()) %}
    {% set nextPage = 'take-photo' %}
    {% set action = 'take' %}
  {# TODO: detect userAgent to avoid do you have camera question  #}
  {% else %}
    {% set nextPage = 'webcam-start' %}
    {% set action = 'upload' %}
  {% endif %}
  <p>
    We've recieved your date of birth and address from GOV.UK Verify.
  <p>
  <h2 class="heading-large">Date of birth</h2>
<div class="panel panel-border-wide">
  <p>
    12 March 1951
  </p>
</div>
  <p>
    We'll use this to confirm you're eligible for a bus pass.
  </p>
  <h2 class="heading-large">Address</h2>
    <div class="panel panel-border-wide">
      <p>
        Jane Smith<br />
        1A {{council.shortName}} High Street<br />
        {{council.shortName}}<br />
        ARG1 4HP<br />
      </p>
    </div>
  <h3 class="heading-medium">
    Is this your current address?
  </h3>
  <form action="eligible" method="get" class="form">
    <div class="form-group">
      <fieldset class="inline">

        <legend class="visually-hidden">Is this your current address?</legend>

        <label class="block-label selection-button-radio" for="radio-inline-1">
          <input id="radio-inline-1" type="radio" name="radio-group" value="{{nextPage}}">
          Yes
        </label>
        <label class="block-label selection-button-radio" for="radio-inline-2">
          <input id="radio-inline-2" type="radio" name="radio-group" value="current-address">
          No
        </label>

      </fieldset>
    </div>
    <p>
      We'll use it to check you're applying to the right council and to send your bus pass.
    </p>
    <div class="form-group">
      <input class="button" type="submit" value="Next">
    </div>
  </form>

</div>

{% endblock %}
