{% extends "layout_picker.html" %}

{% set serviceName = "Apply for an older person's bus pass" %}
{% set pageTitle = "Is this your date of birth?" %}

{% block content %}

<div class="column-two-thirds">

  <div class="panel panel-border-wide">
    <p>
      12th March 1951
    </p>
  </div>
  {# <h3 class="heading-medium">Is this date correct?</h3> #}
  <form action="confirm-address" method="get" class="form">
    <div class="form-group">
      <fieldset class="inline">

        <legend class="visually-hidden">Is this your date of birth?</legend>

        <label class="block-label selection-button-radio" for="radio-inline-1">
          <input id="radio-inline-1" type="radio" name="radio-group" value="confirm-address">
          Yes
        </label>
        <label class="block-label selection-button-radio" for="radio-inline-2">
          <input id="radio-inline-2" type="radio" name="radio-group" value="incorrect-dob">
          No
        </label>

      </fieldset>
    </div>
    <p>
       We received this date from GOV.UK Verify. We'll use it to confirm you're eligible for a bus pass.
    </p>
    <div class="form-group">
      <input class="button" type="submit" value="Next">
    </div>
  </form>

</div>

{% endblock %}
