{% extends "layout_picker.html" %}

{% set serviceName = "Apply for an older person's bus pass" %}
{% set pageTitle = "Your address" %}

{% block content %}

<div class="column-two-thirds">

  {% if(userAgent.mobile()) %}
    {% set nextPage = 'take-photo' %}
    {% set action = 'take' %}
  {# TODO: detect userAgent to avoid do you have camera question  #}
  {% else %}
    {% set nextPage = 'webcam-start' %}
    {% set action = 'upload' %}
  {% endif %}
  <p>
    We use your address to send out your bus pass and to check you're applying through the right council.
  </p>
  <p>
    We received this address from GOV.UK Verify:
  </p>
  <div class="panel panel-border-wide">
    <p>
      Jane Smith<br />
      1A {{council.shortName}} High Street<br />
      {{council.shortName}}<br />
      ARG1 4HP<br />
    </p>
  </div>
  <p>
    Do you live here?
  </p>
  <form action="eligible" method="get" class="form">
    <div class="form-group">
      <fieldset class="inline">

        <legend class="visually-hidden">Is this your current address?</legend>

        <label class="block-label selection-button-radio" for="radio-inline-1">
          <input id="radio-inline-1" type="radio" name="radio-group" value="{{nextPage}}">
          Yes
        </label>
        <label class="block-label selection-button-radio" for="radio-inline-2">
          <input id="radio-inline-2" type="radio" name="radio-group" value="current-address">
          No
        </label>

      </fieldset>
    </div>
    <div class="form-group">
      <input class="button" type="submit" value="Next">
    </div>
  </form>

</div>

{% endblock %}
