{% extends "layout_picker.html" %}

{% set serviceName = "Apply for an older person's bus pass" %}
{% set pageTitle = "Progress alerts" %}

{% block content %}

<div class="column-two-thirds">

  <p>
    We can also send you progress alerts whilst you wait for your bus pass.
  </p>

  <p>
    <strong class="bold-medium">
    How do you want to receive progress alerts?
    </strong>
  </p>

  <form>
    <div class="form-group">
      <fieldset>

        <legend class="visually-hidden">How do you want to receive progress alerts?</legend>

        <label class="block-label selection-button-radio" data-target="contact-by-email" for="example-contact-by-email">
          <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
          Email
        </label>
        <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
          <label class="form-label" for="contact-email">Email address</label>
          <input class="form-control" name="contact-email" type="text" id="contact-email">
        </div>

        <label class="block-label selection-button-radio" data-target="contact-by-text" for="example-contact-by-text">
          <input id="example-contact-by-text" type="radio" name="radio-contact-group" value="No">
          Text message
        </label>
        <div class="panel panel-border-narrow js-hidden" id="contact-by-text">
          <label class="form-label" for="contact-text-message">Mobile phone number</label>
          <input class="form-control" name="contact-text-message" type="text" id="contact-text-message">
        </div>

        <label class="block-label selection-button-radio" data-target="no-contact" for="no-contact">
          <input id="no-contact" type="radio" name="radio-contact-group" value="No">
          I don't want email or text progress alerts
        </label>

      </fieldset>
    </div>
  </form>

  <a class="button" role="button" href="success">Next</a>

</div>

{% endblock %}
