{% extends "layout_picker.html" %}

{% set serviceName = "Apply for an older person's bus pass" %}
{% set pageTitle = "Your bus pass photo" %}

{% block content %}

<div class="column-two-thirds">
    <p>We need a digital photo of you for your bus pass.</p>

    {% include 'common-content/example-photo.html' %}

    <h2 class="heading-medium">Do you have a digital photo like this?</h2>

      <form>
        <div class="form-group">
          <fieldset class="inline">

            <legend class="visually-hidden">
              Do you have a photo like this?
            </legend>

            <label class="block-label selection-button-radio" data-target="upload-file" for="upload-file">
              <input id="upload-file" type="radio" name="radio-group" value="have-photo">
              Yes
            </label>

            <label class="block-label selection-button-radio" data-target="webcam" for="webcam">
              <input id="webcam" type="radio" name="radio-group" value="dont-have-photo" class="in-progress">
              No
            </label>

          </fieldset>
        </div>
        <div class="form-group">
            <button class="button">Continue</button>
        </div>

        </div>
      </form>

</div>

{% endblock %}
