{% extends "layout_picker.html" %}

{% set serviceName = "Apply for an older person's bus pass" %}
{% set pageTitle = "Check if you're eligible" %}

{% block content %}

<div class="column-two-thirds">
<p>If you're over 60 years old, you're likely to be able to get a free bus pass.</p>
<p>Enter your date of birth to check.</p>
<h3 class="heading-medium">What is your date of birth?</h3>
<p>Day Month Year
</p>
</div>
<div class="form-group">
    <button class="button">Next</button>
</div>

{% endblock %}
