{% extends "layout_picker.html" %}

{% if(userAgent.mobile()) %}
{% set deviceString = 'device' %}
{% else %}
{% set deviceString = 'computer' %}
{% endif %}

{% set serviceName = "Apply for an older person's bus pass" %}
{% set pageTitle = "Do you have a camera on this " + deviceString + "?" %}

{% block content %}

<div class="column-two-thirds">

      <form>
        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">
              Do you have a camera on this {{ deviceString}}?
            </legend>

            <label class="block-label selection-button-radio" data-target="upload-file" for="upload-file">
              <input id="upload-file" type="radio" name="radio-group" value="take-photo">
              Yes
            </label>

            <label class="block-label selection-button-radio" data-target="webcam" for="webcam">
              <input id="webcam" type="radio" name="radio-group" value="need-camera" class="in-progress">
              No
            </label>

            <label class="block-label selection-button-radio" data-target="not-sure" for="not-sure">
              <input id="not-sure" type="radio" name="radio-group" value="need-camera" class="in-progress">
              I'm not sure
            </label>

          </fieldset>
        </div>
        <div class="form-group">
          <button id="photo-label-text" class="button">Continue</button>
        </div>
      </form>
</div>

{% endblock %}
