{% extends "layout_argleton.html" %}

{% block page_title %}
  Argleton County Council - Apply for an older person's bus pass in Argleton
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">You are eligible for a bus pass in Argleton</h1>

  <p>
    The pass will allow you to travel for free on buses in England.
  </p>
  <p>
    You'll now need to upload a digital passport style photo to complete the process.
  </p>

  <a class="button" role="button" href="example-service/photo-question">Next</a>


</main>

{% endblock %}
