{% extends "layout_picker.html" %}

{% set serviceName = "Apply for an older person's bus pass" %}
{% set pageTitle = "You need to get a digital photo from a shop" %}

{% block content %}

    <div class="grid-row">
        <div class="column-two-thirds">
          <p>
            Ask for a digital passport style photo from a photo shop.
          </p>
          <p>
            You'll need to start your application again, but you won't need to sign up for GOV.UK Verify again.
          </p>
          <p>
            If you need help doing this, you can <a href="#">contact the council</a>.
          </p>
        </div>
    </div>

{% endblock %}
