{% extends "layout_picker.html" %}

{% set serviceName = "Apply for an older person's bus pass" %}
{% set pageTitle = "You need to get a digital photo from a shop" %}

{% block content %}

    <div class="grid-row">
        <div class="column-two-thirds">
          <p>
            Ask for a digital photo of yourself from a photo shop. It needs to:
          </p>
          <ul class="list list-bullet">
            <li>show your face clearly</li>
            <li>include your shoulders</li>
            <li>have a plain, light-coloured background</li>
          </ul>
          <p>
            If you need help with getting a digital photo, <a href="#">contact {{council.name}}</a>.
          </p>
          <h2 class="heading-medium">Re-starting your application</h2>
          <p>
            As you have to be away from your computer, you'll need to re-start your application for an older person's bus pass.
          </p>
          <p>
            If you're applying through GOV.UK Verify you won't need set up an account again, just sign in with your chosen company.
          </p>

        </div>
    </div>

{% endblock %}
