{% extends "layout_picker.html" %}

{% set serviceName = "Apply for an older person's bus pass" %}
{% set pageTitle = "Confirm your photo" %}

{% block content %}

    <div class="grid-row">
        <div class="column-two-thirds">
          <p>
            This is the photo that we'll use on your bus pass.
          </p>
          <img src="{{asset_path}}images/image-f1-plain.jpg" class="photo-preview" />

          <p>
            By proceeding you confirm that this photo is a good likeness of you and that it looks like the example photo.
          </p>
          <a href="contact-reference" class="button">Confirm</a>

          <div class="spacer">
          </div>
          {% include 'common-content/example-photo.html' %}

        </div>
    </div>

{% endblock %}
