{% extends "layout_picker.html" %}

{% set serviceName = "Apply for an older person's bus pass" %}
{% set pageTitle = "Confirm your photo" %}

{% block content %}

    <div class="grid-row">
        <div class="column-two-thirds">

          <img src="{{asset_path}}images/image-f1-plain.jpg" class="photo-preview" />

          <div class="grid-row">
            <div class="column-half">
              <h2 class="heading-medium">Does your photo</h2>
              <ul class="list list-bullet">
                  <li>have a plain, light-coloured background?</li>
                  <li>include your shoulders?</li>
                  <li>show your face clearly?</li>
              </ul>
              <p>
                It can be landscape or portrait.
              </p>
              <a class='button heading-medium' href='contact-reference'>Use this photo</a>
              <p>
                <a href="#" onclick='take-photo'>No, add a new photo</a>
              </p>
            </div>
          </div>

          <div class="column-half">
            <h2 class="heading-medium">Example photo</h2>
            <img src="{{asset_path}}images/image-m2-plain.jpg" alt="Example bus pass photo">

          </div>
        </div>
    </div>

{% endblock %}
