{% extends "layout_argleton.html" %}

{% block page_title %}
  Argleton County Council - Apply for an older person's bus pass in Argleton
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">There may have been a problem verifying your identity</h1>

  <p>
    Because your date of birth is not correct, there may have been a problem verifying your identity.
  </p>
  <p>
    Please <a href="#">contact the council</a> to continue with your application.
  </p>


</main>

{% endblock %}
