{% extends "layout_picker.html" %}

{% set serviceName = "Apply for an older person's bus pass" %}
{% set pageTitle = "There may have been a problem verifying your identity" %}

{% block content %}

<div class="column-two-thirds">

  <p>
    You've told us the date of birth supplied by GOV.UK Verify isn't correct.
  </p>
  {# <h2 class="heading-medium">Other ways to apply</h3> #}
  <p>
    We need proof of your date of birth to issue you with a bus pass. You can supply this another way.
  </p>
      <h2 class="heading-medium">Scan and upload documents</h3>
      <p>
      <a href="start-non-verify">Upload a document</a> to prove your age.
      </p>
      <h2 class="heading-medium">Phone us</h3>
      <p>0300 083 0013<br>
        Monday to Friday, 8am to 7pm<br>
        Saturday, 8am to 2pm<br>
        <a href="#">Find out about call charges</a>
      </p>

      <h2 class="heading-medium">Send your application</h2>
      <p>
        Print, complete and send an
        <a href="#">application form</a> or send a letter with scanned copies of the following documents:
      <li>recent council tax statement
      </li>
      <li>form of identity to prove your age</li>
    </p>
    <p>Send to:
    </p>
    <p>Concessionary Travel Services<br>
      {{council.name}}<br>
      12-14 Kings Road
      <br>
      {{council.shortName}}
      <br>
      AG3 4HP
    </p>
  </div>
</div>

{% endblock %}
