{% extends "layout_picker.html" %}

{% set serviceName = "Apply for an older person's bus pass" %}
{% set pageTitle = "Local bus services" %}

{% block content %}

<div class="column-two-thirds">

	<p>
		Your older person's travel pass can be used on many bus services in England, as part of the English national concessionary travel scheme. Check with the bus operator if you're in doubt about a particular service.
	</p>
	<p>
		Local buses may include some tour buses and long-distance coach services that are registered as local bus services.
	</p>
	<p>
		They don't usually include sightseeing tours, other tourist related services, or services where the fare includes payment for another service, for example car parking, like Park-and-Ride.
	</p>
	<p>
		National coach services are not generally included. National Express offers <a href="http://www.nationalexpress.com/offers/coachcards/senior-coachcard.aspx" >a fare reduction card</a> to people over 60. This is different from the older person's bus pass.
	</p>

	<a href="start-page" class="button">Back to application</a>

</div>

{% endblock %}
