{% extends "layout_picker.html" %}

{% set serviceName = "Apply for an older person's bus pass" %}
{% set pageTitle = "Do you have a digital camera?" %}

{% block content %}

<div class="column-two-thirds">

      <p>
        This could include having a camera on your mobile phone or tablet.
      </p>

      <form>
        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">
              Do you have a digital camera?
            </legend>

            <label class="block-label selection-button-radio" data-target="take-photo-device" for="take-photo-device">
              <input id="take-photo-device" type="radio" name="radio-group" value="take-photo-device" class="in-progress">
              Yes, I have a digital camera
            </label>

            <label class="block-label selection-button-radio" data-target="webcam" for="webcam">
              <input id="webcam" type="radio" name="radio-group" value="go-to-shop" class="in-progress">
              No, I don't have a digital camera
            </label>

          </fieldset>
        </div>
        <div class="form-group">
            <button class="button">Continue</button>
        </div>

      </form>

</div>

{% endblock %}
