{% extends "layout_picker.html" %}

{% block page_title %}
Argleton County Council - Apply for an older person's bus pass in Argleton
{% endblock %}

{% block content %}


<main id="content" role="main">

  <h1 class="heading-xlarge">You are not eligible to apply for an older person's bus pass in Argleton</h1>

  <p>
    Because you don't live within the boundaries of the city of Argleton, you can't apply through this council's website.
  </p>
  <p>
    You should <a href="https://www.gov.uk/apply-for-elderly-person-bus-pass">visit GOV.UK to find which council to apply from.</a>
  </p>




</main>

{% endblock %}
