{% extends "layout_argleton.html" %}

{% block page_title %}
  Argleton County Council - Apply for an older person's bus pass in Argleton
{% endblock %}

{% block content %}


<main id="content" role="main">

  <h1 class="heading-xlarge">You are not eligible for an older person's bus pass</h1>

  <p>
    It looks like you already have a bus pass, so you can not apply for one through this service.
  </p>
  <p>
    If you need to renew or replace a lost/stolen pass, you can do so through the <a href="#">Renew your pass service</a>.
  </p>
  <p>
    Please <a href="#">contact the council</a> if you have further questions.
  </p>




</main>

{% endblock %}
