{% extends "layout_picker.html" %}

{% block page_title %}
  {{council.name}} - Apply for an older person's bus pass in Argleton
{% endblock %}

{% block content %}


<main id="content" role="main">

  <h1 class="heading-xlarge">You are not eligible for an older person's bus pass</h1>

  <p>
    Because you were born on 15 October 1966, you will not qualify for an older person's bus pass until 15 October 2036.
  </p>
  <p>
    Please <a href="#">contact the council</a> if you have further questions.
  </p>




</main>

{% endblock %}
