{% extends "layout_picker.html" %}

{% block page_title %}
  {{council.name}} - Apply for a older person's bus pass in {{council.shortName}}
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">Other ways to apply</h1>

  <p>To apply for an older person's bus pass without using GOV.UK Verify you can:</p>


    <h2 class="heading-small">1. Continue without verifying</a></h2>

    <p>You can <a href="add-poa">continue</a> to fill out your form online but choose to skip verify, once you have completed your form you will need to bring a form of photo ID and proof of address to the county council in order to collect your pass.</p>

    <h2 class="heading-small">2. Download a paper application</a></h2>

    <p>You will need to <a href="#">download,</a> print and complete the application form. You will then need to send the form, along with scanned copies of photo ID and proof of address. Send the form to:</p>
    <p>Argleton council,<br />
1-5 Swishy street,<br />
Argleton,<br />
AG99 1AX</p>

<h2 class="heading-small">3. Phone the council on 080038748374834 </a></h2>

</main>

{% endblock %}
