{% extends "layout_picker.html" %}
{% block page_title %}
{{council.name}} - Apply for an older person's bus pass in Argleton
{% endblock %}
{% block content %}

<main id="content" role="main">

    <h1 class="heading-xlarge">Apply for an older person's bus pass in Argleton
</h1>

    <p class="lede">
      Your postcode, ARG1 3AA, is in Argleton.
    </p>

    <p>
      <a href="start-page" class="button button-start">Apply for an older person's bus pass in Argleton</a>
    </p>
</main>

{% endblock %}
