{% extends "layout_picker.html" %}

{% set serviceName = "Apply for a older person's bus pass" %}
{% set pageTitle = "Privacy policy" %}

{% block content %}

<div class="column-two-thirds">

  <p>Free text area for council's main privacy policy. Free text area for council's main privacy policy.</p>
  <h3 class="heading-medium">Sub-heading</h3>
  <p>Free text area for council's main privacy policy.</p>
  <p>Free text area for council's main privacy policy.</p>
  <h3 class="heading-medium">Sub-heading</h3>
  <p>Free text area for council's main privacy policy.</p>
  <p>Free text area for council's main privacy policy.</p>
  <h3 class="heading-medium">Sub-heading</h3>
  <p>Free text area for council's main privacy policy.</p>
  <p>Free text area for council's main privacy policy.</p>
  <h3 class="heading-medium">GOV.UK Verify privacy notice</h3>
  <p>Our resident's parking permit service and our older person's bus pass service follow the <a href="https://www.signin.service.gov.uk/privacy-notice#government-services">GOV.UK Verify privacy notice</a>.
  </p>

</div>

{% endblock %}
