{% extends "layout_picker.html" %}

{% set serviceName = "Apply for an older person's bus pass" %}
{% set pageTitle = "Add proof of address" %}

{% block content %}

<div class="column-two-thirds">
  <p>
    Your proof of address document must be recent, in your name and billed to your current address.
  </p>
  <p>It could be any one of the following:</p>
  <ul class="list list-bullet">
        <li> council tax bill</li>
        <li> utility bill</li>
        <li> tenancy agreement</li>
        <li> mortgage statement</li>
  </ul>
<br>
</br>

  {% include 'common-content/address-upload.html' %}

</div>

{% endblock %}
