{% extends "layout_picker.html" %}

{% block page_title %}
  {{council.name}} - Apply for an older person's bus pass in Argleton
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">Apply for an older person's bus pass in {{council.shortName}}</h1>

  <p>
    In England you can get a bus pass for free local travel when you reach the female State Pension age, whether you’re a man or a woman.
  </p>
  <p>
    The pass is valid on any local bus in England at any time on a Saturday, Sunday or bank holiday, and from 9.30am to 11pm on any other day.
  </p>
  <p>
    If you live in {{council.shortName}}, you should apply through this service. The pass will be valid on all bus services in England.
  </p>

  <p>
     First, <a href="https://www.gov.uk/state-pension-age/y/bus_pass">check you're the right age for a bus pass on GOV.UK.</a>
  </p>
  <div class="panel panel-border-wide">
    <h2 class="heading-small">About this service</h2>
    <ul class="list list-bullet">
      <li>
        Once you've applied, the bus pass will be posted to you and should take about 5 working days to arrive.
      </li>
      <li>
        When applying, you'll need to login or create an account with GOV.UK Verify.
      </li>
      <li>
        You'll also need to upload a passport style digital photo. If you're unsure what this is you can check <a href="#">this guide</a>
      </li>
      <li>
        The application process should take about 15 minutes if you need to sign up to GOV.UK Verify, or about 5 minutes if you already have an account.
      </li>
      <li>
        If you need assistance using the online service, <a href="#">contact the council</a>.
      </li>
      <li>
        Once you've applied, your pass should arrive at your within 5 working days.
      </li>
      <li>
        Once you recieve your pass you'll need to keep it with you while using the bus, as you'll need to have it scanned upon boarding.
      </li>
    </ul>
  </div>

  <a class="button button-start" href="prove-identity" role="button">Apply online now</a>

  <details>
     <summary><span class="summary">Other ways to apply</span></summary>
     <div class="panel panel-border-narrow">
      <h3 class="heading-small">Apply by phone</h3>
      <p>0300 083 0013<br>
      Monday to Friday, 8am to 7pm<br>
      Saturday, 8am to 2pm<br>
       <a href="#">Find out about call charges</a></p>

      <h2 class="heading-small">Apply by post</h2>
      <p>
      send an <a href="#">application form</a> or a letter with the following information to {{council.name}}:
      <li>a scanned copy of a council tax statement </li>
      <li>a scanned copy of a form of identity to prove your age</li> </p>
      <p>Send your request to: </p>
      <p>Concessionary travel pass office<br>
      {{council.name}}<br>
      12-14 Kings road <br>
      {{council.shortName}} <br>
      AG3 4HP </p>
    </div>
  </details>

</main>

{% endblock %}
