{% extends "layout_argleton.html" %}

{% block page_title %}
  Argleton County Council - Apply for a resident's parking permit in Argleton
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">Apply for a resident's parking permit in Argleton</h1>

  <p>
    To park in Argleton City centre, you'll need a resident's parking permit.
  </p>
  <p>
    Parking permits allow you to park anywhere within the <a href="https://www.theguardian.com/technology/2009/nov/03/google">boundaries of the city</a>.
  </p>


  <h2 class= "heading-medium">To apply online you will need to provide:</h2>

  <ul class="list list-bullet">
    <li>Proof of address, such as a council tax bill or a recent utility bill or a tennancy agreement or a mortgage statement</li>
    <li>Proof of age, such as a birth certificate, a passport or a driving license</li>
  </ul>

  <a class="button button-start" href="add-dob" role="button">Apply online now</a>

</main>

{% endblock %}
