{% extends "layout_picker.html" %}

{% set serviceName = "Apply for an older person's bus pass" %}
{% set pageTitle = "Apply for a bus pass with document upload" %}

{% block content %}

<div class="column-two-thirds">

  <p>
    You've chosen to apply online for a older person's bus pass by scanning and uploading documents.
  </p>

  <h2 class= "heading-medium">What you'll need</h2>
  <p>You'll need one proof of address, like a:
  </p>
  <ul class="list list-bullet">
    <li>council tax bill</li>
    <li>recent utility bill</li>
    <li>tennancy agreement</li>
    <li>mortgage statement</li>
  </ul>
  <p>And one proof of age, like a:</p>
  <ul class="list list-bullet">
    <li>passport</li>
    <li>driving licence</li>
    <li>national identity card</li>
    <li>birth certificate</li>
  </ul>

  <a class="button" href="prove-address" role="button">Continue</a>

</div>

{% endblock %}
