{% extends "layout_picker.html" %}

{% set serviceName = "Apply for an older person's bus pass" %}
{% set pageTitle = "Apply for an older person's bus pass" %}

{% block content %}

  <div class="column-two-thirds">
    <p>
      If you don't live in {{council.shortName}}, <a href="https://www.gov.uk/find-local-council">find your local council</a>.
    </p>
    <h3 class="heading-medium">Using your pass</h3>
    <p>
      Bring your bus pass when you travel by bus. It's valid:
    </p>
    <ul class="list list-bullet">
      <li>on all local bus services in England</li>
      <li>9.30am to 11pm weekdays</li>
      <li>any time Saturdays, Sundays or bank holidays</li>
    </ul>
    <h3 class="heading-medium">How to apply</h3>
    <ol class="list list-number">
      <li><a href=" ">Check your date of birth</a> to find out if you can apply.
      <li>Complete online security checks or scan documents to prove your eligibility.</li>
      <li>Upload a digital photo – we'll give instructions.</li>
      <li>Submit your application online.</li>
      <li>We'll send your bus pass to you by post.</li>
    </ol>
    <p>
    </p>
    <a class="button button-start" href="prove-identity" role="button">Apply for an older person's bus pass</a>
    <p>
      This service is for new applications. You can also:
    </p>
    <ul class="list list-bullet">
      <li>
        <a href="#">replace a lost or stolen bus pass.</a>
      </li>
      <li>
        <a href="#">renew an expired bus pass.</a>
      </li>
    </ul>

    <p>
      If you need assistance using the online service, <a href="#">contact {{ council.name }}</a>.
    </p>


    <details>
       <summary><span class="summary">Other ways to apply</span></summary>
       <div class="panel panel-border-narrow">
        <h3 class="heading-small">Apply by phone</h3>
        <p>0300 083 0013<br>
        Monday to Friday, 8am to 7pm<br>
        Saturday, 8am to 2pm<br>
         <a href="#">Find out about call charges</a></p>

        <h2 class="heading-small">Apply by post</h2>
        <p>
        Print, complete and send an <a href="#">application form</a>, or send a letter with scanned copies of the following documents:
        <li>recent council tax statement </li>
        <li>form of identity to prove your age</li> </p>
        <p>Send to: </p>
        <p>Concessionary Travel Pass Office<br>
        {{council.name}}<br>
        12-14 Kings Road <br>
        {{council.shortName}} <br>
        AG3 4HP </p>
      </div>
    </details>
  </div>

{% endblock %}
