{% extends "layout_argleton.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">Apply for an older person's bus pass in Argleton</h1>
<!--  -->
  <p>
    In England you can get a bus pass for free travel when you reach the female State Pension age, whether you’re a man or a woman. If you live in <a href="https://www.theguardian.com/technology/2009/nov/03/google">Argleton</a>, you should apply through this service.
  </p>
  <p>
     First, <a href="https://www.gov.uk/state-pension-age/y/bus_pass">check you're the right age for a bus pass on GOV.UK.</a>
  </p>
  <div class="panel panel-border-wide">
    <h2 class="heading-small">About this service</h2>
    <ul class="list list-bullet">
      <li>
        The bus pass will allow you to travel for free on any bus in England.
      </li>
      <li>
        Once you've applied, the bus pass will be posted to you and should take about 5 working days to arrive.
      </li>
      <li>
        When applying, you'll need to login or create an account with GOV.UK Verify.
      </li>
      <li>
        You'll also need to upload a digital photo. We'll provide instructions on how to do this.
      </li>
      <li>
        The application process should take about 10 minutes, including signing up to GOV.UK Verify.
      </li>
    </ul>
  </div>

  <a class="button button-start" href="http://govuk-verify.herokuapp.com/intro?requestId=apply-for-bus-pass-argleton" role="button">Start now</a>

</main>

{% endblock %}
