{% extends "layout_picker.html" %}

{% block page_title %}
  {{council.name}} - Apply for an older person's bus pass in {{council.shortName}}
{% endblock %}

{% block content %}

<main id="content" role="main">
<div class="back">
    <a href="javascript:history.back()">&#9664; Back</a>
  </div>

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Application complete</h1>
        <p>
          Your reference number is <br>
          <strong class="heading-medium">HDJ2123F</strong>
        </p>
      </div>
  <p><a href="#"> Request</a> a confirmation email.</p>

   <p>
     {% if skip_verify == true %} As long as your photo, proof of address and proof of age pass our manual checks, we'll send you your bus pass within 5 days. {% else %} As long as your photo passes our manual checks, we'll send you your bus pass within 5 days.{% endif %}
    </p>
    <p>
      We'll use this address:
    </p>
    <div class="panel panel-border-wide">
      <p>
        {% if skip_verify == true %}Jane Smith{% else %}Jane Smith{% endif %}<br />
        1A {{council.shortName}} High Street<br />
        {{council.shortName}}<br />
        ARG1 4HP<br />
      </p>
      <a href="#">Provide a different address</a>
    </div>

    <h2 class="heading-medium">About your pass</h2>

    <ul class="list list-bullet">
      <li>
        Your pass will expire in 5 years. If you'd like to receive a notification when it's time to renew your bus pass, <a href="/service-patterns/concessionary-travel/example-service/renewal-notification">sign up for a renewal notification</a>.
      </li>
      <li>
        When travelling, you must have your pass with you and present it to the driver to get your free travel.
      </li>
      <li>
        You must not share your pass with anyone else.
      </li>
      <li>
        You are not permitted to hold more than one pass.
      </li>
    </ul>

</main>

{% endblock %}
