{% extends "layout_picker.html" %}

{% set serviceName = "Apply for an older person's bus pass" %}
{% set pageTitle = "Application complete" %}

{% block content %}

	<div class="column-full">
    <div class="govuk-box-highlight">
      <p>
        Your reference number is <br>
        <strong class="heading-large">HDJ2123F</strong>
      </p>
    </div>
	</div>

  <div class="column-two-thirds">
    {% if contactChoice == 'Email' %}
    <p>You should receive a confirmation email within the next minute.</p>
    {% elif contactChoice == 'Text' %}
    <p>You should receive a confirmation text within the next minute.</p>
    {% else %}
    <p>You have not signed up to receive a confirmation email. <a href="contact-reference">Sign up for confirmation and progress alerts.</a></p>
    {% endif %}

    <hr />
    <h2 class="heading-medium">What happens next</h2>
    <p>
     {% if skip_verify == true %} If your photo, proof of address and proof of age pass our manual checks, you'll usually recieve your bus pass within 10 days. {% else %} If your photo passes our manual checks, you'll usually recieve your bus pass within 5 working days.{% endif %} If it doesn't pass we'll contact you.
    </p>
    <p>
      We'll send your bus pass to this address:
    </p>
    <div class="panel panel-border-wide">
      <p>
        {% if skip_verify == true %}Jane Smith{% else %}Jane Smith{% endif %}<br />
        1A {{council.shortName}} High Street<br />
        {{council.shortName}}<br />
        ARG1 4HP<br />
      </p>
      <a href="new-postal-address">Provide a different address</a>
    </div>

    <h2 class="heading-medium">How to use your older person's bus pass</h2>
    <p>
        The pass is valid:
    <ul class="list list-bullet">
      <li>
        on all local bus services in England</li>
      <li>
        9:30am to 11pm weekdays</li>
      <li>
        anytime Saturdays, Sundays and bank holidays
      </ul>
      <p>
        Using your pass:
    <ul class="list list-bullet">
      <li>
        bring it with you when you travel by bus
			</li>
			<li>
				show it to the bus driver, or tap it on the card reader
      </li>
      <li>
        don't share your pass
			</li>
			<li>don't keep more than 1 pass at a time
      </li>
      <li>
        renew your pass when it expires in 5 years – you've signed up to receive a text and email when it's time to renew your pass
        <!-- <a href="/service-patterns/concessionary-travel/example-service/renewal-notification">sign up for a renewal notification</a>. -->
      </li>
      </ul>
  <h2 class="heading-medium">Using your GOV.UK Verify account</h2>

    <p>
      You can use your GOV.UK Verify account for other government services  including:

      <ul class="list-bullet list">
    <li><a href="https://www.gov.uk/report-driving-medical-condition">report a medical condition that affects your driving</a></li>
    <li><a href="https://www.universal-credit.service.gov.uk/sign-in">complete your claim or access your Universal Credit account</a></li>
    <li><a href="https://www.gov.uk/log-in-file-self-assessment-tax-return/if-youre-already-registered">complete your Self Assessment</a></li></li>
  </ul>

</p>
    </div>

{% endblock %}
