{% extends "layout_picker.html" %}

{% set serviceName = "Apply for an older person's bus pass" %}
{% set pageTitle = "Take a photo for your bus pass" %}

{% block content %}

{% if(userAgent.mobile()) %}
{% set deviceString = 'device' %}
{% else %}
{% set deviceString = 'computer' %}
{% endif %}

<div class="column-two-thirds">
  <p>
    Take a photo using the camera on your {{deviceString}}.
  </p>

  {% include 'common-content/example-photo.html' %}

    <form name="photoForm">
      <div class="form-group file-upload">
        <label for="photo" class="button photo-upload-label" role="button">
          <span id="photo-label-text" class="">Take a photo</span>
        </label>
        <input type="file"  accept="image/*;capture=camera" id="photo" class="photo-choose-file" name="photo" aria-controls="progress-container" aria-required="true" >
      </div>
    </form>

    <div class="photo-preview-container">
      <img id="previewImage" src="#" />
    </div>
    <p>
      <a href="#">I don't have a camera on my {{deviceString}}</a>
    </p>

    <script src="/public/javascripts/take-photo.js" async></script>

</div>

{% endblock %}
