{% extends "layout_picker.html" %}

{% set serviceName = "Apply for an older person's bus pass" %}
{% set pageTitle = "Take a photo for your bus pass" %}

{% block content %}

<div class="column-two-thirds">
  <section id='start-section'>
    <p>
      Use your computer's camera to take a photo.
    </p>
    <button class='button button-start' onclick='takePhotoWebcam.start()'>Open camera</button>
    <p>
      <a href="#">I don't have a camera on my computer</a>
    </p>
  </section>

  <section id='cannot-section' style='display:none'>
    <p>
      It seems that your computer cannot be used to take a picture.<br>
      Please, <a href='do-you-have-photo'>Choose another way to upload a photo</a>
    </p>
  </section>

  <section id='capture-section' style='display:none'>



    <div class="grid-row">

      <div class="column-half">
        <h2 class="heading-medium">Your photo</h2>
        <div class="video-container">
          <video id='webcam-video' width='320'>Webcam not available</video><br>
        </div>
      </div>

      <div class="column-half video-help-text">
        <h2 class="heading-small">Make sure it</h2>
        <ul class="list list-bullet">
            <li>has a plain white background</li>
            <li>includes your shoulders</li>
            <li>shows your face clearly</li>
        </ul>
        <button class='button button-start' onclick='takePhotoWebcam.captureImage()'>Take photo</button>
      </div>
    </div>

    <div class="grid-row">

      <div class="column-half">
        <h2 class="heading-medium">
          Example photo
        </h2>
        <!-- <h2 class="heading-medium">Example photo</h2> -->
        <img src="{{asset_path}}images/image-m2-plain.jpg" alt="Example bus pass photo">
      </div>
    </div>

  </section>

  <section id='upload-section' style='display:none;'>
    <div class="grid-row">

      <div class="column-half">
        <h2 class="heading-medium">Your photo</h2>
        <div class="photo-container">
          <img id='webcam-photo' alt='result' class="webcam-photo"><br>
        </div>
      </div>

      <div class="column-half video-help-text">
        <h2 class="heading-small">Make sure it</h2>
        <ul class="list list-bullet">
            <li>has a plain white background</li>
            <li>includes your shoulders</li>
            <li>shows your face clearly</li>
        </ul>
        <a class='button heading-medium' href='loading'>Use this photo</a>
        <p>
        Or <a href="#" onclick='takePhotoWebcam.showCaptureSection()'>take a new photo</a>
        </p>
      </div>
    </div>
    <div class="grid-row">

      <div class="column-half">
        <h2 class="heading-medium">
          Example photo
        </h2>
        <!-- <h2 class="heading-medium">Example photo</h2> -->
        <img src="{{asset_path}}images/image-m2-plain.jpg" alt="Example bus pass photo">
      </div>
    </div>

  </section>


</div>

<script src="/public/javascripts/take-photo-webcam.js" async></script>

{% endblock %}
