{% extends "layout_picker.html" %}

{% set serviceName = "Apply for an older person's bus pass" %}
{% set pageTitle = "Add a photo for your bus pass" %}

{% block content %}

	<div class="column-two-thirds">

		<section id="start-section">
			<p>
				Take a photo using your device's camera or upload one from your gallery.
			</p>

			<div class="grid-row">

				<div class="column-half">
					<h2 class="heading-medium">
						Example photo
					</h2>
					<!-- <h2 class="heading-medium">Example photo</h2> -->
					<img src="{{asset_path}}images/image-m2-plain.jpg" alt="Example bus pass photo">
				</div>

				<div class="column-half video-help-text">
					<h2 class="heading-small">Make sure it</h2>
					<ul class="list list-bullet">
						<li>has a plain white background</li>
						<li>includes your shoulders</li>
						<li>shows your face clearly</li>
					</ul>
					<form name="photoForm">
						<div class="form-group file-upload">
							<label for="photo" class="button photo-upload-label" role="button">
								<span id="photo-label-text" class="button-start">Add a photo</span>
							</label>
							<input type="file" accept="image/*;capture=camera" id="photo" class="photo-choose-file" name="photo" aria-controls="progress-container" aria-required="true">
						</div>
					</form>
					<p>
						<a href="#">I don't have a camera on my device</a>
					</p>
				</div>
			</div>

			{# <div class="photo-preview-container">
        <img id="previewImage" src="#" />
      </div> #}

		</section>

		<section id='upload-section' style="display:none;">
			<div class="grid-row">

				<div class="column-half">
					<h2 class="heading-medium">Your photo</h2>
					<div class="photo-container">
						<img id='previewImage' alt='result' class="webcam-photo" src="#"/>
					</div>
				</div>

				<div class="column-half video-help-text">
					<h2 class="heading-small">Does your photo</h2>
					<ul class="list list-bullet">
						<li>have a plain white background?</li>
						<li>include your shoulders?</li>
						<li>show your face clearly?</li>
					</ul>
					{# <a href="#" onclick='takePhotoWebcam.showCaptureSection()'>No, take a new photo</a> #}
					<form name="photoForm">
						<div class="form-group file-upload">
							<label for="photo" class="link" role="button">
								<span id="photo-label-text">No, add a new photo</span>
							</label>
							<input type="file" accept="image/*;capture=camera" id="photo" class="photo-choose-file" name="photo" aria-controls="progress-container" aria-required="true">
						</div>
					</form>
					<a class='button heading-medium' href='loading-webcam-photo'>Yes, use this photo</a>
				</div>
			</div>
			<div class="grid-row">

				<div class="column-half">
					<h2 class="heading-medium">
						Example photo
					</h2>
					<!-- <h2 class="heading-medium">Example photo</h2> -->
					<img src="{{asset_path}}images/image-m2-plain.jpg" alt="Example bus pass photo">
				</div>
			</div>

		</section>

	</div>

{% endblock %}


{% block body_end %}
  {% include "includes/scripts.html" %}
	<script src="/public/javascripts/take-photo.js" async></script>
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
