{% extends "layout_picker.html" %}

{% set serviceName = "Apply for an older person's bus pass" %}
{% set pageTitle = "Using a phone, tablet or laptop to take a photo" %}

{% block content %}

<div class="column-two-thirds">
  <p>
    Take a photo for your bus pass now with your device. You'll move it onto this computer afterwards.
  </p>
    {% include 'common-content/example-photo.html' %}

    <div class="form-group photo-device-button">
      <a href="from-device" class="button button-start">I've taken my photo</a>

      <details>

        <summary><span class="summary">Get help with taking a photo</span></summary>

        <div class="panel panel-border-narrow">

          <p>
            Call {{council.name}} on +44 7895 123 673 and say you need help taking a photo.
          </p>

        </div>

      </details>
    </div>

</div>

{% endblock %}
