{% extends "layout_picker.html" %}

{% set serviceName = "Apply for an older person's bus pass" %}
{% set pageTitle = "Take a photo for your bus pass" %}

{% block content %}

<div class="column-two-thirds">
  <section id='start-section'>
    <p>
      Use your computer's camera to take a photo for your bus pass.
    </p>
    <button class='button button-start' onclick='takePhotoWebcam.start()'>Take a photo</button>
    <p>
      <a href="#">I don't have a camera on my computer</a>
    </p>
  </section>

  <section id='cannot-section' style='display:none'>
    <p>
      It seems that your computer cannot be used to take a picture.<br>
      Please, <a href='do-you-have-photo'>Choose another way to upload a photo</a>
    </p>
  </section>

  <section id='capture-section' style='display:none'>
    <div class="video-container">
      <video id='webcam-video' width='320'>Webcam not available</video><br>      
    </div>
    <button class='button' onclick='takePhotoWebcam.captureImage()'>Capture image</button>
    {% include 'common-content/example-photo.html' %}

  </section>

  <section id='upload-section' style='display:none;'>
    <img id='webcam-photo' alt='result'><br>
    <a class='button' href='loading'>Upload</a>
    <button class='button' onclick='takePhotoWebcam.showCaptureSection()'>Retake picture</button>
  </section>
  <br>

</div>

<script src="/public/javascripts/take-photo-webcam.js" async></script>

{% endblock %}
