{% extends "layout_picker.html" %}

{% set serviceName = "Apply for an older person's bus pass" %}
{% set pageTitle = "Apply for a bus pass without using GOV.UK Verify" %}

{% block content %}

<div class="column-two-thirds">

  <p>
    You can still apply online for a older person's bus pass, but you'll need to scan and upload some documents.
  </p>

  <h2 class= "heading-medium">To apply online you'll need to provide:</h2>

  <ul class="list list-bullet">
    <li>proof of address, like a council tax bill, recent utility bill, tennancy agreement or mortgage statement</li>
    <li>proof of age, like a birth certificate, passport or driving licence</li>
  </ul>

  <a class="button" href="prove-address" role="button">Continue</a>

</div>

{% endblock %}
