{% extends "layout_picker.html" %}

{% block page_title %}
  {{council.name}} - Apply for an older person's bus pass
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">Apply for a bus pass without verifying online</h1>

  <p>
    You can still apply online for a older person's bus pass, but you'll need to scan and upload some documents.
  </p>

  <h2 class= "heading-medium">To apply online you will need to provide:</h2>

  <ul class="list list-bullet">
    <li>Proof of address, such as a council tax bill or a recent utility bill or a tennancy agreement or a mortgage statement</li>
    <li>Proof of age, such as a birth certificate, a passport or a driving license</li>
  </ul>

  <a class="button button-start" href="add-poa" role="button">Continue</a>

</main>

{% endblock %}
